<div class="jumbotron clearfix">
  <h1><%= @ask.user.string_id %> 님의 질문</h1>
  <p>어드민 ID로 질문에 대한 댓글을 작성할 수 있습니다</p>
  <%= link_to '목록으로',
              admin_asks_path,
              { class: 'btn btn-default btn-lg' } %>
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn btn-lg" type="button">
        <%= @ask.user.gender == true ? '남성' : '여성' %>
      </button>
      <button class="btn btn-lg" type="button">
        <%= Time.now.year - @ask.user.birthday.year %>세
      </button>
      <button class="btn btn-lg" type="button">
        투표 <span class="badge"><%= @ask.left_ask_deal.vote_count + @ask.right_ask_deal.vote_count %></span>
      </button>
      <button class="btn btn-lg" type="button">
        댓글 <span class="badge"><%= @ask.left_ask_deal.comment_count + @ask.right_ask_deal.comment_count %></span>
      </button>
      <button class="btn btn-lg" type="button">
        공감 <span class="badge"><%= @ask.like_count %></span>
      </button>
    </div>
    <%= link_to '질문 상세보기',
                ask_path(@ask.id),
                {
                  class: 'btn btn-default btn-lg',
                  target: '_blank'
                } %>
  </div>
</div>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">질문 상세보기</div>
  <div class="panel-body">
    <%= render '/admin/asks/thumbnail', ask: @ask %>
  </div>

  <!-- Table -->
  <table class="table table-bordered table-responsive table-hover">
    <% if @ask.comments.blank? %>
      <tr><td>아직 댓글이 없습니다</td></tr>
    <% else %>
      <% @ask.comments.each do |comment| %>
        <% if comment.ask_deal_id == @ask.left_ask_deal_id %>
        <tr class="text-left">
          <td>
            <%= image_tag comment.user.avatar.url(:original),
                          { width: '50px',
                            class: 'img-rounded' } %>
            <kbd><%= comment.user.string_id %></kbd>
            <p class="list-group-item-text"><%= tagging_keywords(comment.content) %></p>
          </td>
        </tr>
        <% else %>
          <tr class="text-right">
            <td>
              <kbd><%= comment.user.string_id %></kbd>
              <%= image_tag comment.user.avatar.url(:original),
                            { width: '50px',
                              class: 'img-rounded' } %>
              <p class="list-group-item-text"><%= tagging_keywords(comment.content) %></p>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

<div class="panel panel-success">
  <div class="panel-heading">댓글 작성하기</div>
  <div class="panel-body">
    <%= simple_form_for @comment,
                        url: admin_ask_path(@ask.id),
                        method: :patch,
                        html: {
                                oninput: "form_check($(this));", onchange: "form_check($(this));"
                              } do |f| %>
      <%= f.input :user_id,
                  as: :grouped_select,
                  collection: {
                                'VASKIT': @admin_users.where(id: 1),
                                '20대 여성': @admin_users.where(gender: false).where("birthday < '#{Date.new(Time.now.year - 18, 1, 1)}' AND birthday > '#{Date.new(Time.now.year - 28, 1, 1)}'").where.not(id: 1),
                                '30대 여성': @admin_users.where(gender: false).where("birthday < '#{Date.new(Time.now.year - 28, 1, 1)}' AND birthday > '#{Date.new(Time.now.year - 38, 1, 1)}'").where.not(id: 1),
                                '기타 여성': @admin_users.where(gender: false).where("birthday > '#{Date.new(Time.now.year - 18, 1, 1)}' OR birthday < '#{Date.new(Time.now.year - 38, 1, 1)}'").where.not(id: 1),
                                '20대 남성': @admin_users.where(gender: true).where("birthday < '#{Date.new(Time.now.year - 18, 1, 1)}' AND birthday > '#{Date.new(Time.now.year - 28, 1, 1)}'").where.not(id: 1),
                                '30대 남성': @admin_users.where(gender: true).where("birthday < '#{Date.new(Time.now.year - 28, 1, 1)}' AND birthday > '#{Date.new(Time.now.year - 38, 1, 1)}'").where.not(id: 1),
                                '기타남성': @admin_users.where(gender: true).where("birthday > '#{Date.new(Time.now.year - 18, 1, 1)}' OR birthday < '#{Date.new(Time.now.year - 38, 1, 1)}'").where.not(id: 1)
                              },
                  group_method: :last,
                  value_method: :id,
                  label_method: :string_id,
                  error: '',
                  label: '1. 작성 ID 선택',
                  prompt: '댓글을 작성할 ID를 선택해주세요',
                  input_html: {
                                class: 'form-control required_form',
                              } %>
      <%= f.input :content,
                  as: :text,
                  error: '',
                  label: '2. 댓글 내용 입력',
                  input_html: {
                                rows: 5,
                                class: 'required_form',
                                placeholder: '댓글을 입력하세요'
                              } %>
      <%= f.input :ask_deal_id,
                  as: :select,
                  collection: [ ['왼쪽', @ask.left_ask_deal_id], ['오른쪽', @ask.right_ask_deal_id] ],
                  error: '',
                  label: '3. 댓글 방향 선택',
                  prompt: '댓글 방향을 선택해주세요',
                  input_html: {
                                class: 'form-control required_form'
                              } %>
      <%= f.input :image,
                  error: '',
                  label: '(옵션) 댓글 사진 입력' do %>
        <%= f.input_field :image,
                          as: :file,
                          class: 'hidden',
                          onchange: 'preview_thumbnail(this);' %>
        <div class="well">
          <%= image_tag @comment.image.url(:original),
                       { id: 'thumbnail_image',
                         class: 'img-thumbnail center-block',
                         style: 'cursor: pointer;',
                         onclick: '$("#video_image").click();',
                         onload: 'drag_n_drop_img(this);' } %>
        </div>
      <% end %>
      <%= f.button :submit,
                   '댓글 달기',
                   class: 'btn-block btn-success',
                   disabled: true,
                   onclick: 'window.onbeforeunload = null;',
                   data: { disable_with: '전송중...' } %>
    <% end %>
  </div>
</div>
