<%= simple_form_for @event,
                    url: @event.id.nil? ? admin_events_path : admin_event_path(@event.id),
                    html: { id: 'event_form', oninput: 'form_check($(this));', onchange: 'form_check($(this));' } do |f| %>
  <% if @event.id.nil? %>
    <div class="jumbotron clearfix">
      <h1>이벤트 생성하기</h1>
      <p>새로운 이벤트를 생성합니다</p>
      <%= link_to '목록으로',
                  admin_events_path,
                  class: 'btn btn-default btn-lg' %>
      <%= f.button :submit,
                   '생성하기',
                   class: 'btn btn-lg btn-success pull-right',
                   disabled: true,
                   onclick: 'window.onbeforeunload = null;',
                   data: { confirm: '정말로 생성하시겠어요?', disable_with: '생성중...' } %>
    </div>
    <div class="panel panel-success">
      <!-- Default panel contents -->
      <div class="panel-heading">이벤트 생성</div>
  <% else %>
    <div class="jumbotron clearfix">
      <h1>이벤트 수정하기</h1>
      <p>이벤트의 내용을 수정합니다</p>
      <%= link_to '목록으로',
                  admin_events_path,
                  class: 'btn btn-default btn-lg' %>
      <%= f.button :submit,
                   '수정하기',
                   class: 'btn btn-warning btn-lg pull-right',
                   disabled: true,
                   onclick: 'window.onbeforeunload = null;',
                   data: { confirm: '정말로 수정하시겠어요?', disable_with: '수정중...' } %>
    </div>
    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading"><kbd><%= @event.id %>번</kbd> 이벤트 수정</div>
  <% end %>
      <div class="panel-body">
        <div class="form-inputs">
          <%= f.input :title,
                      as: :string,
                      label: '1. 제목 입력',
                      error: '',
                      input_html: {
                                    class: 'required_form',
                                    placeholder: '이벤트 제목을 입력하세요'
                                  } %>
          <%= f.input :description,
                      as: :text,
                      label: '2. 설명 입력',
                      error: '',
                      input_html: {
                                    rows: 5,
                                    class: 'required_form',
                                    placeholder: '이벤트 설명을 입력하세요'
                                  } %>
          <%= f.input :label,
                      as: :select,
                      collection: [['이벤트 라벨을 강조하여 표시합니다', true], ['이벤트 라벨을 표시하지 않습니다', false]],
                      prompt: false,
                      label: '3. 이벤트 라벨 표시 여부',
                      hint: '이벤트 라벨을 강조하여 표시할지 여부를 선택합니다',
                      error: '' %>
          <div class="row form-group">
            <%= f.input :started_at,
                        as: :date,
                        label: '4. 이벤트 시작일자 입력',
                        hint: '시작일자를 현재일자 이후로 등록하면 예약 이벤트 생성이 가능합니다',
                        error: '',
                        wrapper_html: { class: ' col-lg-6 col-md-6 col-sm-6 col-xs-12' },
                        input_html: { class: 'required_form' } %>
            <%= f.input :ended_at,
                        as: :date,
                        label: '5. 이벤트 종료일자 입력',
                        hint: '종료일자는 종료를 원하는 해당일자의 다음날을 입력하세요 (매일 자정 기준) 종료일자가 지나면 자동으로 상단 고정이 해제됩니다',
                        error: '',
                        wrapper_html: { class: ' col-lg-6 col-md-6 col-sm-6 col-xs-12' },
                        input_html: { class: 'required_form' } %>
          </div>
          <%= f.input :image,
                      label: '6. 썸네일 입력',
                      error: '' do %>
            <%= f.input_field :image,
                              as: :file,
                              class: 'hidden',
                              onclick: 'this.nextElementSibling.checked = true;',
                              onchange: 'preview_thumbnail(this);' %>
            <%= check_box_tag 'image_attached', '', @event.id.nil? ? false : true, class: 'hidden required_form' %>
            <p class="help-block">아래 이미지를 클릭하거나, 파일을 드래그&드롭하세요</p>
            <p class="help-block">권장해상도는 900*600 픽셀입니다</p>
            <p class="help-block">업로드 전 <a href="https://tinypng.com/" target="_blank">tinypng.com</a>에서 이미지 용량을 꼭 줄여주세요</p>
            <div class="well">
              <%= image_tag @event.image.url(:original),
                           { id: 'thumbnail_image',
                             class: 'img-thumbnail center-block',
                             style: 'cursor: pointer;',
                             onclick: '$("#event_image").click();',
                             onload: 'drag_n_drop_img(this);' } %>
            </div>
          <% end %>
          <%= f.input :ask_id,
                      as: :integer,
                      label: '7. 질문 입력',
                      hint: '질문 컨텐츠 ID를 입력한 뒤 tab 키를 누르세요',
                      error: '',
                      input_html: {
                                    class: 'required_form',
                                    placeholder: '질문 ID를 입력해주세요',
                                    pattern: '[0-9]*',
                                    onchange: 'ask_link_preview();'
                                  } %>
          <div id="ask_link_preview" class="well <%= 'hidden' if @event.ask_id.blank? %>">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="<%= "#{CONFIG["host"]}/asks/#{@event.ask_id}" unless @event.ask_id.blank? %>"></iframe>
              <div class="iframe_cover" onclick="window.open($(this).prev('iframe').attr('src'));"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
  $.each($('#event_started_at_1i option'), function( index, value ) { if (value.value !== '') value.text += '년'; });
  $.each($('#event_started_at_3i option'), function( index, value ) { if (value.value !== '') value.text += '일'; });
  $.each($('#event_ended_at_1i option'), function( index, value ) { if (value.value !== '') value.text += '년'; });
  $.each($('#event_ended_at_3i option'), function( index, value ) { if (value.value !== '') value.text += '일'; });

  function ask_link_preview() {
    var input = $("#event_ask_id");
    var ask_id = input.val();
    var preview = $("#ask_link_preview");
    var preview_frame = preview.find("iframe");

    if (ask_id.match(new RegExp(/^[\d]+$/))) {
      var link = "<%= "#{CONFIG["host"]}/asks/" %>" + ask_id;
      preview.removeClass("hidden");
      preview_frame.attr("src", link);
    } else {
      preview.addClass("hidden");
      preview_frame.attr("src", "");
      input.val("").focus();
    }
  }
</script>
