<div class="jumbotron clearfix">
  <h1>이벤트 목록</h1>
  <p>이벤트를 생성하거나 수정, 발행할 수 있습니다</p>
  <%= link_to '새로운 이벤트 생성하기',
              new_admin_event_path,
              { class: 'btn btn-success btn-lg pull-right' } %>
</div>


<% unless @schedules.blank? %>
  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">예정중인 이벤트 목록</div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 5%;">순번</th>
            <th style="width: 20%;">이미지</th>
            <th style="width: 15%;">제목</th>
            <th style="width: 10%;">시작일</th>
            <th style="width: 20%;">기간</th>
            <th style="width: 10%;">조회</th>
            <th style="width: 10%;">수정</th>
            <th style="width: 10%;">삭제</th>
          </tr>
        </thead>
        <tbody>
          <% @schedules.each_with_index do |event, index| %>
            <tr>
              <th><kbd><%= index + 1 %>번째</kbd></th>
              <td><%= image_tag event.image.url(:original), width: '100%' %></td>
              <td><%= event.title %></td>
              <td class="text-center"><%= "#{format_datetime(event.started_at, 'past').delete('-').delete(' 전')} 후 게시 예정" %></td>
              <td class="text-center"><%= "#{((event.ended_at - event.started_at) / 60 / 60 / 24).to_i}일간 진행 예정" %><br><%= "#{format_datetime(event.started_at, :date)} ~ #{format_datetime(event.ended_at, :date)}" %></td>
              <td><%= link_to '조회', admin_event_path(event.id), class: 'btn btn-info btn-block' %></td>
              <td><%= link_to '수정', edit_admin_event_path(event.id), class: 'btn btn-warning btn-block' %></td>
              <td><%= link_to '삭제', admin_event_path(event.id), { class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '정말로 삭제하시겠어요?', disable_with: '삭제중...' } } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% unless @ongoings.blank? %>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">현재 진행중인 이벤트 목록</div>

    <!-- Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 5%;">순번</th>
            <th style="width: 20%;">이미지</th>
            <th style="width: 15%;">제목</th>
            <th style="width: 20%;">기간</th>
            <th style="width: 10%;">종료일</th>
            <th style="width: 10%;">조회</th>
            <th style="width: 10%;">수정</th>
            <th style="width: 10%;">삭제</th>
          </tr>
        </thead>
        <tbody>
          <% @ongoings.each_with_index do |event, index| %>
            <tr>
              <th><kbd><%= index + 1 %>번째</kbd></th>
              <td><%= image_tag event.image.url(:original), width: '100%' %></td>
              <td><%= event.title %></td>
              <td class="text-center"><%= "#{((event.ended_at - event.started_at) / 60 / 60 / 24).to_i}일간 진행중" %><br><%= "#{format_datetime(event.started_at, :date)} ~ #{format_datetime(event.ended_at, :date)}" %></td>
              <td class="text-center"><%= "종료까지 #{format_datetime(event.ended_at, 'past').delete('-').delete(' 전')} 남음" %></td>
              <td><%= link_to '조회', admin_event_path(event.id), class: 'btn btn-info btn-block' %></td>
              <td><%= link_to '수정', edit_admin_event_path(event.id), class: 'btn btn-warning btn-block' %></td>
              <td><%= link_to '삭제', admin_event_path(event.id), { class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '정말로 삭제하시겠어요?', disable_with: '삭제중...' } } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">경과한 이벤트 전체 목록</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 5%;">ID</th>
          <th style="width: 20%;">이미지</th>
          <th style="width: 15%;">제목</th>
          <th style="width: 20%;">기간</th>
          <th style="width: 10%;">종료일</th>
          <th style="width: 10%;">조회</th>
          <th style="width: 10%;">수정</th>
          <th style="width: 10%;">삭제</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <th><kbd><%= event.id %></kbd></th>
            <td><%= image_tag event.image.url(:original), width: '100%' %></td>
            <td><%= event.title %></td>
            <td class="text-center"><%= "#{((event.ended_at - event.started_at) / 60 / 60 / 24).to_i}일간 진행됨" %><br><%= "#{format_datetime(event.started_at, :date)} ~ #{format_datetime(event.ended_at, :date)}" %></td>
            <td class="text-center"><%= "#{format_datetime(event.ended_at, 'past')}" %></td>
            <td><%= link_to '조회', admin_event_path(event.id), class: 'btn btn-info btn-block' %></td>
            <td><%= link_to '수정', edit_admin_event_path(event.id), class: 'btn btn-warning btn-block' %></td>
            <td><%= link_to '삭제', admin_event_path(event.id), { class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '정말로 삭제하시겠어요?', disable_with: '삭제중...' } } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Table Pagination -->
  <div class="panel-footer text-center">
    <%= paginate @events %>
  </div>
</div>
