<%= render :partial => "common_partial/header_1", :locals => {:title => "비밀번호 변경"}%>


<div style="padding:6px 10px;">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
		<% unless current_user.sign_up_type == "facebook" %>
	  		<%= f.password_field :current_password, :placeholder => "기존 비밀번호", :class => "registrations_input" %>
	  	<% end %>
	  	<%= f.password_field :password, :autocomplete => "off", :placeholder => "신규 비밀번호", :class => "registrations_input" %>
	  	<%= f.password_field :password_confirmation, :autocomplete => "off", :placeholder => "신규 비밀번호 확인", :class => "registrations_input" %>
	  
	  <a href="#" onclick="edit_password_submit(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:16px 0; height:36px; line-height:36px; text-align:center;">
		<img src="/images/common/submit_btn.png" style="width:16px; margin-bottom:-1px;" />
		&nbsp; 변경하기
	</a>
	  
	<% end %>	
</div>

<script>
	function edit_password_submit(){
		document.getElementById('edit_user').submit();
	}
</script>
