<%= render :partial => "common_partial/header_1", :locals => {:title => "회원가입"} %>
<%= render :partial => "common_partial/access_term" %>
<%= render :partial => "common_partial/privacy_policy" %>

<div id="login_screen">
  <p class="chat_bubble">
    지금 회원가입하시면 나의 고민에 대한 질문을 올리거나,<br>
    남의 고민에 대한 의견을 남길 수 있습니다. 히스토리도 남길 수 있어요.<br>
    어서 VASKIT하러 가자구요! 현기증 난단 말이에요~
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_form"}) do |f| %>
    	<%= devise_error_messages! %>
  	<div class="content_box" style="padding:10px; margin:15px 12px; text-align:left;">
  		<% if resource.facebook_id.blank? %>
  			<%= f.email_field :email, :placeholder => "가입하실 이메일주소를 입력해주세요.", :class => "registrations_input" %>
  			<%= f.password_field :password, :placeholder => "설정하실 비밀번호를 입력해주세요.", :class => "registrations_input" %>
        <p style="margin: 10px 0; text-align: center; color: #9d9ea1; font-size: 13px;">
          <i class="fa fa-plus"></i>&nbsp;추가 입력정보
        </p>
  			<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-bottom:0px;">
  				<tr>
  					<td style="width:100%;">
  						<%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
  					</td>
  				</tr>
  			</table>
        <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:10px;">
  				<tr>
  					<td style="width:50%; text-align:left;">
  						<a id="gender_male" href="#" onclick="select_gender(1); return false;" style="text-align:center; display:inline-block; font-size:14px; border-radius:5px; width:99%; line-height:36px; height:36px; background-color:#E4E1E0; color:#FFF;">
                <i class="fa fa-male"></i>&nbsp;남성
  						</a>
            </td>
            <td style="width:50%; text-align:right;">
  						<a id ="gender_female" href="#" onclick="select_gender(0); return false;" style="text-align:center; display:inline-block; font-size:14px; border-radius:5px; width:99%; line-height:36px; height:36px; background-color:#E4E1E0; color:#FFF;">
  							<i class="fa fa-female"></i>&nbsp;여성
  						</a>
  					</td>
  				</tr>
  			</table>
        <p style="margin:20px 0 0 0; font-size:12px; text-align:left; color:#9d9ea1;">
          <span style="display:inline-block; vertical-align:middle;"><%= f.check_box :agree_access_term, {:checked=>false} %></span>
          <a href="#" onclick="access_term_on(); return false;" style="color:#9d9ea1; font-weight:bold; border-bottom:1px solid #dbdbdb;">이용약관</a> 및
      		<a href="#" onclick="privacy_policy_on(); return false;" style="color:#9d9ea1; font-weight:bold; border-bottom:1px solid #dbdbdb;">개인정보취급정책</a>에 동의합니다.
        </p>
  			<a href="#" onclick="sign_up_submit(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#4b3d3d; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px;">
  				<i class="fa fa-users"></i>&nbsp;회원가입
  			</a>
  		<% else %>
  			<% if resource.email.blank? %>
  				<%= f.email_field :email, :placeholder => "이메일주소(example@naver.com)", :class => "registrations_input" %>
  			<% else %>
  				<%= f.hidden_field :email %>
  			<% end %>
  			<%= f.hidden_field :password, :placeholder => "비밀번호" %>

  			<% if resource.birthday.blank? %>
  				<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-top:10px;">
  					<tr>
  						<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
  							생일
  						</td>
  						<td style="text-align:left;">
  							<%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
  						</td>
  					</tr>
  				</table>
  			<% else %>
  				<%= f.hidden_field :birthday %>
  			<% end %>

  			<% if resource.gender.blank? %>
  				<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-top:10px;">
  					<tr>
  						<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
  							성별
  						</td>
  						<td style="text-align:left;">
  							<a id="gender_male" href="#" onclick="select_gender(1); return false;" style="margin:14px 0;text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
  								남성
  							</a>
  							<a id ="gender_female" href="#" onclick="select_gender(0); return false;" style="text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
  								여성
  							</a>
  						</td>
  					</tr>
  				</table>
  	 		<% end %>
  	 		<a href="#" onclick="sign_up_submit(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:20px 0 10px 0; height:36px; line-height:36px; text-align:center;">
  				<img src="/images/common/submit_btn.png" style="width:18px; margin-bottom:-1px;" />
  				&nbsp;회원가입
  			</a>
  	 		<p style="margin:10px 0 0 0; font-size:12px; text-align:center; color:#383838;">
  				<%= f.check_box :agree_access_term, {:checked=>true} %> <span style="color:#ee6e01;">VASKIT의 회원약관</span>에 동의합니다.
  			</p>
   		<% end %>
   		<%= f.hidden_field :facebook_id %>
   		<%= f.hidden_field :name %>
   		<%= f.hidden_field :gender %>
  	</div>
    <div class="content_box" style="margin:5px 12px 30px; padding:5px 10px; color:#9d9ea1; font-size:12px; text-align:left; line-height:1.5; background-color:#ededed;">
      <i class="fa fa-info-circle" style="padding-bottom: 5px; font-weight: bold;">&nbsp;걱정마세요!</i>
      <br>입력하신 생년월일 및 성별 정보는 투표의 통계분석을 위한 자료로서만 활용되며, 기타 여하한 이유로 악용되지 않습니다.
      <br>VASKIT은 고객님의 개인정보를 중요하게 여기고, 언제나 그 관리에 최선을 다하고 있습니다.
    </div>
  <% end %>
</div>

<style>
	<% if session[:view] == 'standard' %>
  	#user_birthday_1i{ width:100%; }
  	#user_birthday_2i{ width:100%; }
  	#user_birthday_3i{ width:100%; }
	<% else %>
  	#user_birthday_1i{ width:100%; }
  	#user_birthday_2i{ width:100%; }
  	#user_birthday_3i{ width:100%; }
	<% end %>
</style>

<script>

	<% if flash[:alert] != nil %>
  		alert("이메일/아이디 또는 비밀번호가 다릅니다. \n다시한번 확인해 주세요.")
	<% end %>

	//select박스에 년 붙여줌
	$.each($("#user_birthday_1i option"), function( index, value ) {
		value.text = value.text+"년";
	});

	//select박스에 일 붙여줌
	$.each($("#user_birthday_3i option"), function( index, value ) {
		value.text = value.text+"일";
	});

	function select_gender(gender_no){
		if(gender_no == 1){
			$("#gender_female").css("background-color", "#E4E1E0");
			$("#gender_male").css("background-color", "#0389ed");
			$("#user_gender").val("t");
		}else{
			$("#gender_male").css("background-color", "#E4E1E0");
			$("#gender_female").css("background-color", "#ea065e");
			$("#user_gender").val("f");
		}
	}

	function sign_up_submit(){ //submit 전에 value 체크
		if ($("#user_email").val() == ""){
			notify('이메일을 입력해 주세요.');
			return;
		}

		<% unless resource.facebook_id %>
			if ($("#user_password").val() == ""){
				notify('비밀번호를 입력해 주세요.');
				return;
			}
		<% end %>

		if ($("#user_birthday_1i").val() == "" || $("#user_birthday_2i").val() == "" || $("#user_birthday_3i").val() == ""){
			notify('생일을 입력해주세요');
			return;
		}
		if ($("#user_gender").val() == ""){
			notify('성별을 입력해주세요');
			return;
		}
		if ( !$("#user_agree_access_term").is(":checked") ){
			notify('회원약관에 동의해주세요');
			return;
		}

		$("#sign_up_form").submit();
	}

</script>
