<%= render :partial => "common_partial/header_1", :locals => {:title => "회원가입"} %>

<p style="margin:0; text-align:left; color:#383838; font-size:12px; padding:14px 10px 4px 10px; line-height:15px;">
나의 고민에 대한 질문을 올려보고 싶으신가요?<br />
투표 결과를 분석하거나, 남겨진 의견을 읽어보고 싶은가요?<br />
당신만의 히스토리를 남겨 언제든 다시 뒤져볼 수도 있습니다
</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_form"}) do |f| %>
  	<%= devise_error_messages! %>
	<div style="padding:0 10px; text-align:left;">
		
		<% if resource.facebook_id.blank? %>
			<%= f.email_field :email, :placeholder => "이메일주소(example@naver.com)", :class => "registrations_input" %>
			<%= f.password_field :password, :placeholder => "비밀번호", :class => "registrations_input" %>
			
			<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-top:10px;">
				<tr>
					<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
						생일
					</td>
					<td style="text-align:left;">
						<%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
					</td>
				</tr>
				<tr>
					<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
						성별
					</td>
					<td style="text-align:left;">
						<a id="gender_male" href="#" onclick="select_gender(1); return false;" style="margin:14px 0;text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
							남성
						</a>
						
						<a id ="gender_female" href="#" onclick="select_gender(0); return false;" style="text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
							여성
						</a>
					</td>
				</tr>
			</table>
			<a href="#" onclick="sign_up_submit(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:10px 0; height:36px; line-height:36px; text-align:center;">
				<img src="/images/common/submit_btn.png" style="width:18px; margin-bottom:-1px;" />
				&nbsp;회원가입
			</a>
			
	 		<p style="margin:10px 0 0 0; font-size:12px; text-align:center; color:#383838;">
				<%= f.check_box :agree_access_term, {:checked=>true} %> <span style="color:#ee6e01;">VASKIT의 회원약관</span>에 동의합니다.
			</p>
		<% else %>
			<% if resource.email.blank? %>
				<%= f.email_field :email, :placeholder => "이메일주소(example@naver.com)", :class => "registrations_input" %>
			<% else %>
				<%= f.hidden_field :email %>
			<% end %>
			<%= f.hidden_field :password, :placeholder => "비밀번호" %>
		
			<% if resource.birthday.blank? %>
				<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-top:10px;">
					<tr>
						<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
							생일
						</td>
						<td style="text-align:left;">
							<%= f.date_select :birthday, {:start_year => 2005, :end_year => 1900,:prompt => {:year => '', :month => '월', :day => '' }}, {:class => "birthday_select"} %>
						</td>
					</tr>
				</table>
			<% else %>
				<%= f.hidden_field :birthday %>
			<% end %>
			
			<% if resource.gender.blank? %>
				<table cellspacing="0" cellpadding="0" style="width:100%; text-align:center; margin-top:10px;">
					<tr>
						<td style="width:30px; text-align:left; color:#383838; font-size:14px;">
							성별
						</td>
						<td style="text-align:left;">
							<a id="gender_male" href="#" onclick="select_gender(1); return false;" style="margin:14px 0;text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
								남성
							</a>
							
							<a id ="gender_female" href="#" onclick="select_gender(0); return false;" style="text-align:center; display:inline-block; font-size:14px; border-radius:6px; -webkit-border-radius:6px; width:60px; line-height:32px; height:32px; background-color:#E4E1E0; color:#FFF;">
								여성
							</a>
						</td>
					</tr>
				</table>
	 		<% end %>
	 		<a href="#" onclick="sign_up_submit(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:20px 0 10px 0; height:36px; line-height:36px; text-align:center;">
				<img src="/images/common/submit_btn.png" style="width:18px; margin-bottom:-1px;" />
				&nbsp;회원가입
			</a>
			
	 		<p style="margin:10px 0 0 0; font-size:12px; text-align:center; color:#383838;">
				<%= f.check_box :agree_access_term, {:checked=>true} %> <span style="color:#ee6e01;">VASKIT의 회원약관</span>에 동의합니다.
			</p>
	 		
 		<% end %>
 		<%= f.hidden_field :facebook_id %>
 		<%= f.hidden_field :name %>
 		<%= f.hidden_field :gender %>
	</div>
<% end %>

<style>
	#user_birthday_1i, #user_birthday_2i, #user_birthday_3i{
	  font-size:14px;
	  height:38px;
	  margin:0;
	}
	<% if session[:view] == 'standard' %>
	#user_birthday_1i{
	  width:32%;	
	} 
	#user_birthday_2i{
	  width:32%;
	} 
	#user_birthday_3i{
	  width:32%;
	}
	<% else %>
	#user_birthday_1i{
	  width:32%;
	} 
	#user_birthday_2i{
	  width:29%;
	} 
	#user_birthday_3i{
	  width:29%;
	}
	<% end %>
</style>

<script>

	<% if flash[:alert] != nil %>
  		alert("이메일/아이디 또는 비밀번호가 다릅니다. \n다시한번 확인해 주세요.") 
	<% end %>

	//select박스에 년 붙여줌
	$.each($("#user_birthday_1i option"), function( index, value ) {
		value.text = value.text+"년";
	});
	
	//select박스에 일 붙여줌
	$.each($("#user_birthday_3i option"), function( index, value ) {
		value.text = value.text+"일";
	});
	
	function select_gender(gender_no){
		if(gender_no == 1){
			$("#gender_female").css("background-color", "#E4E1E0");
			$("#gender_male").css("background-color", "#ee6e01");
			$("#user_gender").val("t");
		}else{
			$("#gender_male").css("background-color", "#E4E1E0");
			$("#gender_female").css("background-color", "#ee6e01");
			$("#user_gender").val("f");
		}
	}
	
	function sign_up_submit(){ //submit 전에 value 체크
		if ($("#user_email").val() == ""){
			notify('이메일을 입력해 주세요.');
			return;
		}
		
		<% unless resource.facebook_id %>
			if ($("#user_password").val() == ""){
				notify('비밀번호를 입력해 주세요.');
				return;
			}
		<% end %>
		
		if ($("#user_birthday_1i").val() == "" || $("#user_birthday_2i").val() == "" || $("#user_birthday_3i").val() == ""){
			notify('생일을 입력해주세요');
			return;
		} 
		if ($("#user_gender").val() == ""){
			notify('성별을 입력해주세요');
			return;
		}
		if ( !$("#user_agree_access_term").is(":checked") ){
			notify('회원약관에 동의해주세요');
			return;
		}
		
		$("#sign_up_form").submit();
	}
	
</script>

