<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/user_mailer.css" rel="stylesheet" type="text/css">
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
    <style type="text/css" media="screen">
      .dancing_side {
        height: 100px;
        min-height: 100px;
        max-height: 100px;
      }
      .dancing_center {
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        Margin: 0px -20px -30px;
      }
      .cancel {
        Margin-top: 30px !important;
      }
      .three-column {
        background-color: #f4f4f4;
        font-size: 0;
        padding: 20px 0 !important;
      }
      .features img {
        display: block;
        max-width: 156px;
        padding: 10px;
      }
      .features .border {
        border-width: 1px 3px 3px 1px;
        border-color: #dbdbdb;
        border-style: solid;
        border-radius: 10px;
        background-color: #fff;
      }
      .features .h2 {
        font-size: 18px;
        font-weight: bold;
        color: #998674;
        background-color: #f0f2f4;
        padding: 10px 0;
        Margin-bottom: 0px;
      }
      .features .description {
        text-align: left;
        color: #666;
        padding: 10px 0 10px 10px;
        line-height: 1.6;
      }
      .lets-go-button {
        display: block;
        line-height: 24px;
        Margin:0 auto 30px;
        position: relative;
        top: 12px;
        padding: 10px;
        width: 160px;
        height: 20px;
        background-color: #ff7200;
        border: 1px solid #ff7800;
        border-radius: 7px;
        box-shadow: 0px 6px 0px #ff9900;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none !important;
        color: #fff !important;
        text-align: center;
        transition: all 0.1s ease-in-out 0s;
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <%= render '/user_mailer/template/letter_header' %>
      <div class="webkit letter">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
        <td>
        <![endif]-->
        <table class="outer" align="center">
          <% img_1 = content_tag(:td, class: 'inner contents main') do %>
            <img src="http://vaskit.kr/images/user_mailer/welcome_email/mail.png" class="image" width="600" alt="" />
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: img_1 %>

          <% content_sub = content_tag(:td, class: 'inner contents sub') do %>
            <div class="div">
              <div class="sub-title">어서오세요  Hello  Bonjour  你好  こんにちは</div>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_sub %>

          <% content_body = content_tag(:td, class: 'inner contents main') do %>
            <div class="div">
              <div class="title">Welcome to VASKIT!</div>
              <div class="sub-title">- 부제: 저희를 발견해 주셔서 정말 감사해요 -</div>
            </div>
            <div class="div">
              <div class="substance center">
                <span class="string-id"><%= @user.string_id %>님, </span> 안녕하세요!<br>
                구매고민을 이야기하는 <span class="vaskit-logo">VASKIT</span>입니다.<br>
                회원가입을 진심으로 환영합니다:) 뿜빠라밤빠 뿜빠빠~
              </div>
              <img class="dancing_side" src="http://vaskit.kr/images/user_mailer/welcome_email/pumpgirl.gif">
              <img class="dancing_center" src="http://vaskit.kr/images/user_mailer/welcome_email/pumpgirl.gif">
              <img class="dancing_side" src="http://vaskit.kr/images/user_mailer/welcome_email/pumpgirl.gif">
              <div class="cancel">환희에 젖어 기쁨의 춤을 추고 있쟈나</div>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_body %>

          <% img_2 = content_tag(:td, class: 'inner contents main') do %>
            <img src="http://vaskit.kr/images/user_mailer/welcome_email/web.png" class="image" width="600" alt="" />
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: img_2 %>

          <% content_sub = content_tag(:td, class: 'inner contents sub') do %>
            <div class="div">
              <div class="sub-title">그래서, 무슨 일들이 벌어지냐구요?</div>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_sub %>

          <% content_lines = [] %>
          <% content_lines[0] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature1.png" width="180" alt="" />
              <div class="h2">질문하고,</div>
              <div class="description">
                혹시 지금 둘 중에 무얼 살까<br>
                망설이는 제품이 있나요?<br>
                검색어만 입력하면 완성되는<br>
                간편입력으로 손쉽게 지금,<br>
                바로, 질문을 작성해보세요!
              </div>
            </div>
          <% end %>
          <% content_lines[1] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature2.png" width="180" alt="" />
              <div class="h2">투표하고,</div>
              <div class="description">
                누구나 쓱~ 쉽고 간편하게<br>
                투표 참여가 가능하니까<br>
                더 빨리, 더 많은 사람들의<br>
                의견을 모아볼 수 있죠.<br>
                상세한 투표 결과 분석은 덤!
              </div>
            </div>
          <% end %>
          <% content_lines[2] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature3.png" width="180" alt="" />
              <div class="h2">이야기하고!</div>
              <div class="description">
                내 고민은 어려워도<br>
                남의 고민은 쉽다 했나요?<br>
                새로운 고민거리에 대해<br>
                다양한 의견을 나누다보면,<br>
                내 시간 어디 가심..?
              </div>
            </div>
          <% end %>
          <% content_lines[3] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature4.png" width="180" alt="" />
              <div class="h2">공감하고,</div>
              <div class="description">
                "아 이거 나도 고민되네.."<br>
                넘나 이해되는 고민이라면<br>
                공감으로 소통해보세요!<br>
                공감한 질문은 My Page에서<br>
                따로 모아볼 수 있어요!
              </div>
            </div>
          <% end %>
          <% content_lines[4] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature5.png" width="180" alt="" />
              <div class="h2">담아놓고,</div>
              <div class="description">
                "어맛! 이건 사야해! &#9829;"<br>
                언제 어디서든 취향저격의<br>
                #잇템_을 발견하셨을 땐,<br>
                나만의 BASKET에 담아두고<br>
                이리저리 비교해보세요!</div>
            </div>
          <% end %>
          <% content_lines[5] = content_tag(:td, class: 'inner contents features') do %>
            <div class="border">
              <img src="http://vaskit.kr/images/user_mailer/welcome_email/feature6.png" width="180" alt="" />
              <div class="h2">구매하고!</div>
              <div class="description">
                "내가 뭘 살라 그랬더라..?"<br>
                나의 BASKET에 담아두었던<br>
                잇템을 바로 구매!<br>
                더 이상 이곳저곳 들락날락<br>
                헤매일 필요가 없답니다~
              </div>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_6', content_lines: content_lines %>

          <% img_3 = content_tag(:td, class: 'inner contents main') do %>
            <img src="http://vaskit.kr/images/user_mailer/welcome_email/you.png" class="image" width="600" alt="" />
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: img_3 %>

          <% content_sub = content_tag(:td, class: 'inner contents sub') do %>
            <div class="div">
              <div class="sub-title"><%= @user.string_id %>님만을 손꼽아 기다리고 있었답니다</div>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_sub %>
          <% content_bottom = content_tag(:td, class: 'inner contents main') do %>
            <div class="div">
              <div class="substance center">
                회원님의 소중한 투표 하나, 의견 하나가 다른 분들의 고민해결에 큰 힘이 된답니다!<br>
                <span class="cancel">선행을 쌓으면 언젠가 복이 온다고 한다</span><br>
                그럼, 지금 바로 시작해볼까요?
              </div>
              <a class="lets-go-button" href="http://vaskit.kr" target="_blank" onmouseover="this.style.top = '15px'; this.style.boxShadow = '#ff9900 0px 3px 0px';" onmouseout="this.style.top = '12px'; this.style.boxShadow = '#ff9900 0px 6px 0px';">
                Let's VASKIT!
              </a>
            </div>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_bottom %>

          <% img_4 = content_tag(:td, class: 'inner contents main') do %>
            <img src="http://vaskit.kr/images/user_mailer/welcome_email/team_vaskit_2017.png" class="image" width="600" alt="" />
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: img_4 %>

          <%= render '/user_mailer/template/letter_footer' %>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </div>
      <%= render '/user_mailer/template/letter_sns' %>
    </center>
  </body>
</html>
