<%= render :partial => "common_partial/header_1", :locals => {:title => @ask.id ? "수정하기" : "질문하기" } %>

<div style="background:#f4f4f4; padding:15px 12px 40px; text-align:left;">
	<%= form_for(@ask) do |f| %>
		<div class="content_box" style="padding:10px;">
			<div class="table_div">
				<%= f.select :category_id, options_for_select(Category.all.collect {|c| [ c.name, c.id ] }, ["관심사", f.object.category_id]), { include_blank: "어떤 제품/서비스의 구매를 고민중이신가요?" }, :class => "category_select" %>
				<span class="input_icon left_input" onclick="$('#ask_category_id').focus().select(); return false;"><i class="fa fa-filter"></i></span>
			</div>
			<div class="table_div" style="margin-bottom:0px; height:120px;">
				<div id="hashtag_container">
					<%= f.text_area :message, :placeholder => "구매를 고민하고 있는 상황을 알려주세요! #고민고민하지마 #VASKIT", :class => "ask_message_input" %>
					<div id="hashtag_backdrop">
						<div id="hashtag_highlights"></div>
					</div>
				</div>
				<span class="input_icon left_input" onclick="$('#ask_message').focus(); return false;" style="height: 120px; line-height: 120px;"><i class="fa fa-slack" style="transform:rotateY(180deg) skewY(18deg);"></i></span>
			</div>
		</div>

		<div class="content_box" style="padding:10px;">
			<div class="table_div">
				<a class="ask_search_deal" href="#" onclick="show_search_deal_popup(true); return false;" style="float:left;">
					<i class="fa fa-search" style="color:#ee6e01;"></i>&nbsp;CARD A 검색하기
				</a>
				<a class="ask_search_deal" href="#" onclick="show_search_deal_popup(false); return false;" style="float:right;">
					<i class="fa fa-search" style="color:#ee6e01;"></i>&nbsp;CARD B 검색하기
				</a>
			</div>
			<span class="seperate_line"></span>
			<div id="card_overlay" style="<% if @ask.id %> display:block; <% else %> display:none; <% end %>">
				<div class="table_div" style="border:1px solid #dbdbdb;">
					<a id="left_deal_image_btn" href="#" onclick="left_deal_image_upload(); return false;" style="position:relative; display:block; float:left; width:50%; box-sizing:border-box; overflow:hidden;">
						<img src="<%= @left_ask_deal && @left_ask_deal.image ? @left_ask_deal.image.url(:normal) : "/images/ask/card_image_preview.png" %>" style="display:block; margin:0 auto; width:100%;">
						<div id="card_a_img_overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f4f4f4; text-align: center; color: #666; display:<% if @ask.id %>none<% else %>block<% end %>;">
  						<span style="top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;position: absolute;font-size: 13px;padding: 20px;width: 100px;height: 100px;background-color: #fff;border-radius: 60px;box-sizing: border-box;"><i class="fa fa-image" style="font-size: 30px; padding-bottom: 5px;"></i><br>이미지<br>업로드</span>
						</div>
					</a>
					<a id="right_deal_image_btn" href="#" onclick="right_deal_image_upload(); return false;" style="position:relative; display:block; float:right; width:50%; box-sizing:border-box; overflow:hidden;">
						<img src="<%= @right_ask_deal && @right_ask_deal.image ? @right_ask_deal.image.url(:normal) : "/images/ask/card_image_preview.png" %>" style="display:block; margin:0 auto; width:100%;">
						<div id="card_b_img_overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #f4f4f4; text-align: center; color: #666; border-left:1px solid #dbdbdb; display:<% if @ask.id %>none<% else %>block<% end %>;">
							<span style="top: 50%;left: 50%;margin-top: -50px;margin-left: -50px;position: absolute;font-size: 13px;padding: 20px;width: 100px;height: 100px;background-color: #fff;border-radius: 60px;box-sizing: border-box;"><i class="fa fa-image" style="font-size: 30px; padding-bottom: 5px;"></i><br>이미지<br>업로드</span>
						</div>
					</a>
				</div>
				<span class="seperate_line"></span>
				<div class="table_div">
					<%= text_area_tag 'left_deal[title]', @left_ask_deal && @left_ask_deal.title ? @left_ask_deal.title : nil, :placeholder => "제품명*", :class => "ask_text_field left_input", :rows => 1 %>
					<%= text_area_tag 'right_deal[title]', @right_ask_deal && @right_ask_deal.title ? @right_ask_deal.title : nil, :placeholder => "*제품명", :class => "ask_text_field right_input", :rows => 1 %>
					<span class="input_icon center_input" onclick="$('#left_deal_title').focus(); return false;"><i class="fa fa-cube"></i></span>
				</div>
				<div class="table_div">
					<%= text_area_tag 'left_deal[brand]', @left_ask_deal && @left_ask_deal.brand ? @left_ask_deal.brand : nil, :placeholder => "브랜드", :class => "ask_text_field left_input", :rows => 1 %>
					<%= text_area_tag 'right_deal[brand]', @right_ask_deal && @right_ask_deal.brand ? @right_ask_deal.brand : nil, :placeholder => "브랜드", :class => "ask_text_field right_input", :rows => 1 %>
					<span class="input_icon center_input" onclick="$('#left_deal_brand').focus(); return false;"><i class="fa fa-tag"></i></span>
				</div>
				<div class="table_div">
					<%= text_area_tag 'left_deal[price]', @left_ask_deal && @left_ask_deal.price ? @left_ask_deal.price : nil, :placeholder => "판매가격", :class => "ask_text_field left_input" %>
					<%= text_area_tag 'right_deal[price]', @right_ask_deal && @right_ask_deal.price ? @right_ask_deal.price : nil, :placeholder => "판매가격", :class => "ask_text_field right_input" %>
					<span class="input_icon center_input" onclick="$('#left_deal_price').focus(); return false;"><i class="fa fa-won"></i></span>
				</div>
				<div class="table_div">
					<%= text_area_tag 'left_deal[link]', @left_ask_deal && @left_ask_deal.link ? @left_ask_deal.link : nil, :placeholder => "링크", :class => "ask_text_field left_input", :rows => 1 %>
					<%= text_area_tag 'right_deal[link]', @right_ask_deal && @right_ask_deal.link ? @right_ask_deal.link : nil, :placeholder => "링크", :class => "ask_text_field right_input", :rows => 1 %>
					<span class="input_icon center_input" onclick="$('#left_deal_link').focus(); return false;"><i class="fa fa-link"></i></span>
				</div>
				<span class="seperate_line"></span>
				<div class="table_div" style="margin-bottom:0px;">
					<div id="add_info_1" style="display:none;">
						<%= f.text_field :spec1, :placeholder => "제목", :class => "ask_text_field center_input add_info" %>
						<div class="table_div">
							<%= text_area_tag 'left_deal[spec1]', @left_ask_deal && @left_ask_deal.spec1 ? @left_ask_deal.spec1 : nil, :placeholder => "내용", :class => "ask_text_field left_input add_info_left", :rows => 1 %>
							<%= text_area_tag 'right_deal[spec1]', @right_ask_deal && @right_ask_deal.spec1 ? @right_ask_deal.spec1 : nil, :placeholder => "내용", :class => "ask_text_field right_input add_info_right", :rows => 1 %>
							<span class="input_icon center_input" onclick="$('#ask_spec1').focus(); return false;"><i class="fa fa-plus-circle"></i></span>
						</div>
					</div>
					<div id="add_info_2" style="display:none;">
						<%= f.text_field :spec2, :placeholder => "제목", :class => "ask_text_field center_input add_info" %>
						<div class="table_div">
							<%= text_area_tag 'left_deal[spec2]', @left_ask_deal && @left_ask_deal.spec2 ? @left_ask_deal.spec2 : nil, :placeholder => "내용", :class => "ask_text_field left_input add_info_left", :rows => 1 %>
							<%= text_area_tag 'right_deal[spec2]', @right_ask_deal && @right_ask_deal.spec2 ? @right_ask_deal.spec2 : nil, :placeholder => "내용", :class => "ask_text_field right_input add_info_right", :rows => 1 %>
							<span class="input_icon center_input" onclick="$('#ask_spec2').focus(); return false;"><i class="fa fa-plus-circle"></i></span>
						</div>
					</div>
					<div id="add_info_3" style="display:none;">
						<%= f.text_field :spec3, :placeholder => "제목", :class => "ask_text_field center_input add_info" %>
						<div class="table_div" style="margin-bottom:0px;">
							<%= text_area_tag 'left_deal[spec3]', @left_ask_deal && @left_ask_deal.spec3 ? @left_ask_deal.spec3 : nil, :placeholder => "내용", :class => "ask_text_field left_input add_info_left", :rows => 1 %>
							<%= text_area_tag 'right_deal[spec3]', @right_ask_deal && @right_ask_deal.spec3 ? @right_ask_deal.spec3 : nil, :placeholder => "내용", :class => "ask_text_field right_input add_info_right", :rows => 1 %>
							<span class="input_icon center_input" onclick="$('#ask_spec3').focus(); return false;"><i class="fa fa-plus-circle"></i></span>
						</div>
					</div>
					<div id="add_info_btn" onclick="show_more_add_info(); return false;" style="position:relative; height:36px; line-height:36px; margin-top:10px; margin-bottom:5px; border:1px solid #dbdbdb; border-radius:5px; background-color:#fff; color:#9d9ea1; font-size:13px; text-align:center; cursor:pointer;">
		  			<i class="fa fa-plus-circle"></i>&nbsp;추가 정보 입력하기
					</div>
				</div>
				<span class="seperate_line"></span>
			</div>
			<span id="card_overlay_open" class="input_icon left_input" onclick="<% if @ask.id %> hide_card_overlay(); <% else %> show_card_overlay(); <% end %> return false;" style="position:relative; display:block; width: inherit; height: 40px; line-height: 40px; border-right-width: 3px; border-bottom-width: 3px; border-radius: 5px; background-color:<% if @ask.id %>#f4f4f4<% else %>#fff<% end %>; padding-left: 2px; cursor:pointer; font-size:13px; overflow:hidden;">
				제품 정보 <% if @ask.id %>닫기<% else %>열기<% end %>&nbsp;<i class="fa <% if @ask.id %> fa-angle-double-up <% else %> fa-angle-double-down <% end %>" style="font-size:15px;"></i>
			</span>
		</div>
		<div style="display:none;">
			<%= file_field_tag 'left_deal[image]', :accept => 'image/*', :multiple => false, :style => "visibility:hidden; width:1px; display:inline;" %>
			<%= hidden_field_tag 'left_deal[image_id]' %>

			<%= file_field_tag 'right_deal[image]', :accept => 'image/*', :multiple => false, :style => "visibility:hidden; width:1px; display:inline;" %>
			<%= hidden_field_tag 'right_deal[image_id]' %>

			<%= hidden_field_tag 'left_deal[deal_id]' %>
			<%= hidden_field_tag 'right_deal[deal_id]' %>
		</div>
	<% end %>
</div>

<div style="position:absolute; bottom:0; width:inherit; box-sizing:border-box; padding:0 12px; z-index:1;">
	<% if @ask.id %>
		<a id="ask_submit_btn" href="#" onclick="edit_form(); return false;" class="ask_submit_btn">
			<i class="fa fa-send"></i>&nbsp;질문 수정하기
		</a>
	<% else %>
		<a id="ask_submit_btn" href="#" onclick="submit_form(); return false;" class="ask_submit_btn">
			<i class="fa fa-send"></i>&nbsp;질문 제출하기
		</a>
	<% end %>
</div>

<div id="search_deal_popup_bg" href="#" onclick="hide_search_deal_popup(); return false;" style="display:block; position:fixed;left:0; top:0; width:100%; height:100%; background-color:black; z-index:12; opacity:0.6; display:none;"></div>
<div id='search_deal_popup' style='width:inherit; z-index:13; position:fixed; top:30px; display:none;'>
	<div style="padding:10px;">
		<div>
			<a href="#" onclick="hide_search_deal_popup(); return false;" style="position:absolute;right: 10px;top: 10px;width: 40px;height: 40px;text-align: center;"><i class="fa fa-times" style="color: #fff; font-size: 20px; padding-top: 10px;"></i></a>
			<p id="search_deal_title" style="background-color:#4b3d3d; font-size:15px; color:#FFF; height:40px; line-height:40px; margin:0;">
				CARD A 검색해서 입력하기
			</p>
			<div style="background-color:#f4f4f4; padding:10px 14px;">
				<table cellspacing="0" cellpadding="0" style="width:100%; background-color:#fff;">
					<tr>
						<td style="width:100%;">
							<input id="deal_search_keyword" type="text" class="comment_box" placeholder="제품명을 입력해주세요." onkeyup="$('#deal_search_btn').css('background-color','#ee6e01'); return false;"/>
						</td>
						<td>
							<a id="deal_search_btn" href="#" style="width:50px; height:40px; line-height:40px; background-color:#dbdbdb; display:inline-block; color:#fff; font-size:13px;">입력</a>
						</td>
					</tr>
				</table>
				<div id="search_deal_result" style="display:none;">
					<table cellspacing="0" cellpadding="0" style="width:100%; background-color:#fff; border-top:1px solid #3b3d3d; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; margin-top:10px;">
						<tr>
							<td style="width:50%;">
								<a id="naver_deals_btn" href="#" onclick="show_naver_deals(); return false;" style="font-size:14px; color:#383838; line-height:38px; display:block; background-color:#fff; ">
									쇼핑 검색결과
								</a>
							</td>
							<td style="width:50%;">
								<a id="naver_images_btn" href="#"  onclick="show_naver_images(); return false;" style="font-size:14px; color:#383838; line-height:38px; display:block; border-bottom:1px solid #dbdbdb; border-left:1px solid #dbdbdb;  background-color:#f4f4f4;">
									이미지 검색결과
								</a>
							</td>
						</tr>
					</table>
					<div id="search_result_div" style="background-color:#fff; border:1px solid #dbdbdb; border-top:none; overflow-y:auto; min-height:150px; max-height:340px;">
						<div id="naver_deals"></div>
						<div id="naver_images" style="display:none;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/template" id="naver-deal-template">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		{{ for(var i=0; i < items.length; i++) { }}
			{{ var item = items[i] }}
			<tr>
				<td onclick="select_deal('{{= item.productId }}', {{= is_left }}); return false;" style="width:80px; height:80px; padding:4px 12px; border-bottom:1px solid #dbdbdb; cursor:pointer;">
					<img src="{{= item.image }}" style="width:80px; height:80px; display:block;" />
				</td>
				<td onclick="select_deal('{{= item.productId }}', {{= is_left }}); return false;" style="border-bottom:1px solid #dbdbdb; text-align:left; cursor:pointer;">
					<p style="font-size:12px; font-weight:bold; margin:0; color:#383838;">{{= truncate(item.title) }}</p>
					<p style="font-size:12px; margin:0; color:#ee6e01;">{{= numberWithCommas(item.lprice) }}원</p>
					<p style="font-size:11px; margin:0; color:#383838;">{{= item.mallName }}</p>
				</td>
			</tr>
		{{ } }}
	</table>
</script>

<script type="text/template" id="naver-image-template">
	<div style="padding:6px 10px;">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			{{ for(var i=0; i < Math.ceil(image_items.length/3); i++) { }}
				<tr>
					{{ var item1 = image_items[i * 3] }}
					<td style="width:33.3%; padding:6px 3px;">
						<a href="#" onclick="select_image('{{= item1.thumbnail }}', {{= is_left }}); return false;" class="naver_image_wrap">
							<div class="naver_image_content" style="background:url('{{= item1.thumbnail }}') no-repeat 100% 100%; background-size:100% 100%;"></div>
						</a>
					</td>
					{{ var item2 = image_items[i * 3 + 1] }}
					<td style="width:33.3%; padding:6px 3px;">
						{{ if (item2 != null){ }}
						<a href="#" onclick="select_image('{{= item2.thumbnail }}', {{= is_left }}); return false;" class="naver_image_wrap">
							<div class="naver_image_content" style="background:url('{{= item2.thumbnail }}') no-repeat 100% 100%; background-size:100% 100%;"></div>
						</a>
						{{ } }}
					</td>
					{{ var item3 = image_items[i * 3 + 2] }}
					<td style="width:33.3%; padding:6px 3px;">
						{{ if (item3 != null){ }}
						<a href="#" onclick="select_image('{{= item3.thumbnail }}', {{= is_left }}); return false;" class="naver_image_wrap">
							<div class="naver_image_content" style="background:url('{{= item3.thumbnail }}') no-repeat 100% 100%; background-size:100% 100%;"></div>
						</a>
						{{ } }}
					</td>
				</tr>
			{{ } }}
		</table>
	</div>
</script>


<script>

	var items;
	var image_items;

	function deal_search_by_key(){
		var deal_search_keyword = $('#deal_search_keyword').val();
		if(deal_search_keyword == "" || deal_search_keyword == undefined){
			notify("제품명을 입력해주세요.");
		}else{
			$("#deal_search_btn").click();
		}
	}

	$('#deal_search_keyword').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	deal_search_by_key();
      	}
	});

	function show_card_overlay() {
		$("#card_overlay").slideDown(500, function(){
			$("#card_overlay_open").html("제품 정보 닫기&nbsp;<i class='fa fa-angle-double-up' style='font-size:15px;'></i>");
			$("#card_overlay_open").css("background-color","#f4f4f4").attr("onclick","hide_card_overlay(true); return false;");
		});
	}

	function hide_card_overlay() {
		$("#card_overlay").slideUp(500, function(){
			$("#card_overlay_open").html("제품 정보 열기&nbsp;<i class='fa fa-angle-double-down' style='font-size:15px;'></i>");
			$("#card_overlay_open").css("background-color","#fff").attr("onclick","show_card_overlay(true); return false;");
		});
	}

	function hide_search_deal_popup(){
		$("#search_deal_popup").hide();
		$("#search_deal_popup_bg").hide();
		$("#search_deal_result").hide();
		$("#deal_search_keyword").val("");
		$("#naver_deals").html("");
		$("#naver_images").html("");
		$("#deal_search_btn").attr("onclick","").css("background-color","#dbdbdb");
	}

	function show_search_deal_popup(is_left){
		$("#search_deal_popup_bg").show();
		$("#search_deal_popup").show();
		$("#deal_search_keyword").focus().select();
		$("#deal_search_btn").attr("onclick", "deal_search("+is_left+"); return false;");
		if (is_left){
			$("#search_deal_title").html("CARD A 검색해서 입력하기");
			show_card_overlay();
		} else {
			$("#search_deal_title").html("CARD B 검색해서 입력하기");
			show_card_overlay();
		}
	}

	function show_naver_deals(){
		$("#search_result_div").scrollTop(0);
		$("#naver_deals").show();
		$("#naver_images").hide();
		$("#naver_images_btn").css("border-bottom","1px solid #dbdbdb");
		$("#naver_images_btn").css("border-left","1px solid #dbdbdb");
		$("#naver_images_btn").css("background-color","#f4f4f4");
		$("#naver_deals_btn").css("border-bottom","none");
		$("#naver_deals_btn").css("border-right","none");
		$("#naver_deals_btn").css("background-color","#fff");
	}

	function show_naver_images(){
		$("#search_result_div").scrollTop(0);
		$("#naver_deals").hide();
		$("#naver_images").show();
		$("#naver_deals_btn").css("border-bottom","1px solid #dbdbdb");
		$("#naver_deals_btn").css("border-right","1px solid #dbdbdb");
		$("#naver_deals_btn").css("background-color","#f4f4f4");
		$("#naver_images_btn").css("border-bottom","none");
		$("#naver_images_btn").css("border-left","none");
		$("#naver_images_btn").css("background-color","#fff");
	}

	function deal_search(is_left){
		var keyword = $("#deal_search_keyword").val();
		$.ajax({
	        url: '/deals/get_naver_deals/?keyword='+encodeURIComponent(keyword),
	        type: 'GET',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	$("#search_deal_result").show();
	        	image_items = data.image_result.rss.channel.item;
			      if (image_items != null ){
		        	var naverImageTemplate = _.template( $('#naver-image-template').html() );
				    	$('#naver_images').html(naverImageTemplate({image_items: image_items, is_left: is_left}));
	        	} else {
	        		$('#naver_images').html("<p style='line-height:150px; color:#383838;'>이미지 검색결과가 없습니다.</p>");
	        	}
	        	items = data.shop_result.rss.channel.item;
	        	if (items != null ){
		        	var naverDealTemplate = _.template( $('#naver-deal-template').html() );
				    	$('#naver_deals').html( naverDealTemplate({item: items, is_left: is_left}) );
	        	} else {
	        		$('#naver_deals').html("<p style='line-height:150px; color:#383838;'>상품 검색결과가 없습니다.</p>");
	        	}
	        	show_naver_deals();
	        },
	        beforeSend: function(){
	        	$(".loading").show();
          },
          complete: function(){
          	$(".loading").hide();
          }
		});
	}

	function select_deal(product_id, is_left){
		item = $.grep(items, function(obj) { return obj.productId === product_id; })[0];

		$.ajax({
	        url: '/deals/create_by_naver.json',
	        type: 'POST',
	        data: {item: item},
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	deal = data.deal;
	        	if (is_left){
	        		$("#left_deal_image_btn img").attr("src", get_image_url(deal, "deals", "normal") );
							$("#card_a_img_overlay").fadeOut(200);
	        		$("#left_deal_title").val(deal.title);
	        		$("#left_deal_brand").val(deal.brand);
	        		$("#left_deal_price").val(deal.price);
	        		$("#left_deal_link").val(deal.link);
	        		$("#left_deal_deal_id").val(deal.id);

	        		$("#left_deal_image_id").val("");
	        	}else{
	        		$("#right_deal_image_btn img").attr("src", get_image_url(deal, "deals", "normal") );
							$("#card_b_img_overlay").fadeOut(200);
	        		$("#right_deal_title").val(deal.title);
	        		$("#right_deal_brand").val(deal.brand);
	        		$("#right_deal_price").val(deal.price);
	        		$("#right_deal_link").val(deal.link);
	        		$("#right_deal_deal_id").val(deal.id);

	        		$("#right_deal_image_id").val("");
	        	}
	        	$("#naver_images").html("");
	        	$("#naver_deals").html("");
	        	hide_search_deal_popup();
					},
					beforeSend: function(){
						$(".loading").show();
					},
					complete: function(){
						$(".loading").hide();
						var scroll_top = $("#card_overlay").offset().top;
						$("body").animate({scrollTop:scroll_top-165},500);
						ready_to_submit();
					}
		});
	}

	function select_image(image_url, is_left){
		$.ajax({
	        url: '/preview_images/create_by_naver.json',
	        type: 'POST',
	        data: {image_url: image_url},
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	if (is_left){
	        		$("#left_deal_image_btn img").attr("src", data.image_url );
							$("#card_a_img_overlay").fadeOut(200);
	        		$("#left_deal_image_id").val(data.id);
	        		// $("#left_deal_title").val(null);
	        		// $("#left_deal_brand").val(null);
	        		// $("#left_deal_price").val(null);
	        	} else {
	        		$("#right_deal_image_btn img").attr("src", data.image_url );
							$("#card_b_img_overlay").fadeOut(200);
	        		$("#right_deal_image_id").val(data.id);
	        		// $("#right_deal_title").val(null);
	        		// $("#right_deal_brand").val(null);
	        		// $("#right_deal_price").val(null);
	        	}
	        	$("#naver_images").html("");
	        	$("#naver_deals").html("");
	        	hide_search_deal_popup();
					},
	        beforeSend: function(){
						$(".loading").show();
					},
					complete: function(){
						$(".loading").hide();
						var scroll_top = $("#card_overlay").offset().top;
						$("body").animate({scrollTop:scroll_top-165},500);
						ready_to_submit();
					}
		});
	}

	function left_deal_image_upload(){
		$("#left_deal_image").click();
	}

	$("#left_deal_image").change(function(){
		$.each( $("#left_deal_image")[0].files, function( i, file ) {
			var formData = new FormData();
		    formData.append('File', file);

		    $.ajax({
		       type: "POST",
		       url: "/preview_images.json",
		       data: formData,
		       contentType: false,
		       processData: false,
		       success: function (data) {
						 $("#left_deal_image_btn img").attr("src",data.image_url);
						 $("#card_a_img_overlay").fadeOut(200);
						 $("#left_deal_image_id").val(data.id);
		       },
					 beforeSend: function(){
						 $(".loading").show();
					 },
					 complete: function(){
						 $(".loading").hide();
						 ready_to_submit();
					 }
		    }).fail(function (data) {}).done(function () {});
		});
	});


	function right_deal_image_upload(){
		$("#right_deal_image").click();
	}

	$("#right_deal_image").change(function(){
		$.each( $("#right_deal_image")[0].files, function( i, file ) {
			var formData = new FormData();
		    formData.append('File', file);

		    $.ajax({
		       type: "POST",
		       url: "/preview_images.json",
		       data: formData,
		       contentType: false,
		       processData: false,
		       success: function (data) {
						 $("#right_deal_image_btn img").attr("src",data.image_url);
						 $("#card_b_img_overlay").fadeOut(200);
						 $("#right_deal_image_id").val(data.id);
		       },
			  	 beforeSend: function(){
						 $(".loading").show();
           },
           complete: function(){
						 $(".loading").hide();
						 ready_to_submit();
           }
		    }).fail(function (data) {}).done(function () {});
		});
	});

	function show_more_add_info() {
		if ( $("#add_info_1:visible").length == 0 ) {
			$("#add_info_1").slideDown(300);
			return;
		} else if ( $("#add_info_2:visible").length == 0 ) {
			$("#add_info_2").slideDown(300);
			return;
		} else {
			$("#add_info_3").slideDown(300);
			$("#add_info_btn").hide();
			return;
		}
	}

	var check_click = 0;

	function submit_form(){
		if ( $("#ask_category_id").val() == "" || $("#ask_category_id").val() == null ){
			notify('관심사 카테고리를 설정해주세요');
			$("#ask_category_id").focus().select();
			return;
		}

		if ( $("#ask_message").val() == "" || $("#ask_message").val() == null ){
			notify('고민하고 있는 상황을 입력해주세요');
			$("#ask_message").focus().select();
			return;
		}

		if ( $("#left_deal_image_btn img").attr("src") == "/images/ask/card_image_preview.png"){
			notify('CARD A 이미지를 추가해주세요.');
			$("#card_a_img_overlay").css("background-color","#fdf8f3");
			return;
		}

		if ( $("#left_deal_title").val() == "" || $("#left_deal_title").val() == null ){
			notify('CARD A 제품명을 입력해주세요.');
			$("#left_deal_title").focus().select();
			return;
		}

		if ( $("#right_deal_image_btn img").attr("src") == "/images/ask/card_image_preview.png"){
			notify('CARD B 이미지를 추가해주세요.');
			$("#card_b_img_overlay").css("background-color","#fdf8f3");
			return;
		}

		if ( $("#right_deal_title").val() == "" || $("#right_deal_title").val() == null ){
			notify('CARD B 제품명을 입력해주세요.');
			$("#right_deal_title").focus().select();
			return;
		}
		if (check_click == 0) {
			var left_price = $("#left_deal_price").val();
			var right_price = $("#right_deal_price").val();
			$("#left_deal_price").val(uncomma(left_price));
			$("#right_deal_price").val(uncomma(right_price));
			$("#new_ask").submit();
			check_click = check_click + 1;
		} else {
			return;
		}
	}

	function edit_form(){
		if ( $("#ask_category_id").val() == "" || $("#ask_category_id").val() == null ){
			notify('관심사 카테고리를 설정해주세요');
			$("#ask_category_id").focus().select();
			return;
		}

		if ( $("#ask_message").val() == "" || $("#ask_message").val() == null ){
			notify('고민하고 있는 상황을 입력해주세요');
			$("#ask_message").focus().select();
			return;
		}

		if ( $("#left_deal_title").val() == "" || $("#left_deal_title").val() == null ){
			notify('CARD A 제품명을 입력해주세요.');
			$("#left_deal_title").focus().select();
			return;
		}

		if ( $("#right_deal_title").val() == "" || $("#right_deal_title").val() == null ){
			notify('CARD B 제품명을 입력해주세요.');
			$("#right_deal_title").focus().select();
			return;
		}
		var left_price = $("#left_deal_price").val();
		var right_price = $("#right_deal_price").val();
		$("#left_deal_price").val(uncomma(left_price));
		$("#right_deal_price").val(uncomma(right_price));
		$(".edit_ask").submit();
	}

  //
  $(window).bind('beforeunload', function(){
      return "게시글 작성을 중단하시겠습니까?";
  });

  $(document).on("submit", "form", function(event){
      $(window).off('beforeunload');
  });
	//

	//콤마찍기
	function comma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	}
	function uncomma(str) {
	    str = String(str);
	    return str.replace(/[^\d]+/g, '');
	}
	function inputNumberFormat(obj) {
	    obj.value = comma(uncomma(obj.value));
	}

	$("#left_deal_price").attr("onkeyup","inputNumberFormat(this)");
	$("#right_deal_price").attr("onkeyup","inputNumberFormat(this)");


	// 입력중 해시태그 강조 추가
	var ua = window.navigator.userAgent.toLowerCase();
	var isIE = !!ua.match(/msie|trident\/7|edge/);
	var isWinPhone = ua.indexOf('windows phone') !== -1;
	var isIOS = !isWinPhone && !!ua.match(/ipad|iphone|ipod/);

	var textarea_font = $("#ask_message").css("font");
	$("#hashtag_highlights").css("font",textarea_font);

	function applyHighlights(text) {
		text = text.replace(/\n$/g, '\n\n').replace(/#([0-9a-zA-Zㄱ-ㅎㅏ-ㅣ가-힣_]*)/g, '<mark>$&</mark>');
		// if (isIE) {
    // 	text = text.replace(/ /g, ' <wbr>');
  	// }
		return text;
	}

	function handleInput() {
		var text = $("#ask_message").val();
		var highlightedText = applyHighlights(text);
		$("#hashtag_highlights").html(highlightedText);
	}

	function handleScroll() {
		var scrollTop = $("#ask_message").scrollTop();
		$("#hashtag_backdrop").scrollTop(scrollTop);
		var scrollLeft = $("#ask_message").scrollLeft();
		$("#hashtag_backdrop").scrollLeft(scrollLeft);
	}

	function bindEvents() {
		$("#ask_message").on({
			'input': handleInput,
			'scroll': handleScroll
		});
	}

	if (isIOS) {
		$("#hashtag_highlights").css({
	    'padding-left': '+=3px',
	    'padding-right': '+=3px'
	  });
	}

	if (!isIE) {		// IE는 일단 해당 기능 제거할 것
		bindEvents();
		handleInput();
	}

	// 제출버튼 필수입력필드 입력해야 활성화되도록
	function ready_to_submit() {
    if (
			$("#ask_category_id").val() != "" && $("#ask_message").val() != "" &&
			$("#left_deal_image_btn img").attr("src") != "/images/ask/card_image_preview.png" && $("#right_deal_image_btn img").attr("src") != "/images/ask/card_image_preview.png" &&
			$("#left_deal_title").val() != "" && $("#right_deal_title").val() != ""
    ) {
      $("#ask_submit_btn").css("background-color","#ee6e01");
    } else {
      $("#ask_submit_btn").css("background-color","#9d9ea1");
    }
  }

	$("#ask_message").attr("onkeyup","ready_to_submit(); return false;");
	$("#left_deal_title").attr("onkeyup","ready_to_submit(); return false;");
	$("#right_deal_title").attr("onkeyup","ready_to_submit(); return false;");
  $("#new_ask").on("change",function(){ ready_to_submit(); })
	$("#edit_ask").on("change",function(){ ready_to_submit(); })

</script>
