<%= render :partial => "common_partial/header_1", :locals => {:title => "종료하기"} %>

<div style="background:#f4f4f4; padding:12px 10px 0 10px; text-align:left;">
	<p style="margin:0; font-size:14px; color:#9fa0a2; line-height:18px; text-align:left;">
		투표 결과는 만족스러우셨나요?<br />
		만족도 별점과 함께 선택한 제품을 알려주시면<br />
		서비스 개선에 큰 도움이 됩니다.
	</p>
</div>

<div id="star_point_div" style='text-align:center; margin:0 auto; margin-top:40px;'>
	<a href="#" onclick="set_star_point(1); return false;" style="display: inline-block; width: 30px; height: 30px;"><i class="fa fa-star" style="color: #9d9ea1; font-size: 30px;"></i></a>
	<a href="#" onclick="set_star_point(2); return false;" style="display: inline-block; width: 30px; height: 30px;"><i class="fa fa-star" style="color: #9d9ea1; font-size: 30px;"></i></a>
	<a href="#" onclick="set_star_point(3); return false;" style="display: inline-block; width: 30px; height: 30px;"><i class="fa fa-star" style="color: #9d9ea1; font-size: 30px;"></i></a>
	<a href="#" onclick="set_star_point(4); return false;" style="display: inline-block; width: 30px; height: 30px;"><i class="fa fa-star" style="color: #9d9ea1; font-size: 30px;"></i></a>
	<a href="#" onclick="set_star_point(5); return false;" style="display: inline-block; width: 30px; height: 30px;"><i class="fa fa-star" style="color: #9d9ea1; font-size: 30px;"></i></a>
</div>

<div style="padding:10px 10px 40px 10px;">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td style="width:50%; position:relative;">
		  		<a href="#" onclick="select_ask_deal(<%=@ask.left_ask_deal.id%>, true); return false;"><img src='<%= @ask.left_ask_deal.image.url(:normal) %>' style="width:100%; display:block;" /></a>
		  		<div id="left_select_div" style="background:url('/images/ask/ask_complete_select.png'); background-size:100% 100%; overflow: hidden; position:absolute; left:0; top:0; width:100%; height:100%; display:none;"></div>
			</td>
			<td style="width:50%; position:relative;">
				<a href="#" onclick="select_ask_deal(<%=@ask.right_ask_deal.id%>, false); return false;"><img src='<%= @ask.right_ask_deal.image.url(:normal) %>' style="width:100%; display:block;" /></a>
				<div id="right_select_div" style="background:url('/images/ask/ask_complete_select.png'); background-size:100% 100%; overflow: hidden; position:absolute; left:0; top:0; width:100%; height:100%; display:none;"></div>
			</td>
		</tr>
	</table>
</div>

<a href="/asks/<%=@ask.id%>/create_complete?ask_deal_id=0" style="font-size:14px; margin:0 auto; color:#4b3d3d; text-decoration: underline;">
	응답 제출하지 않고 종료하기
</a>

<div style="height:60px;">&nbsp;</div>


<table cellspacing="0" cellpadding="0" style="position:fixed; bottom:0; width:inherit; overflow:visible; z-index:1; background-color:#fff; border-top:1px solid #dbdbdb;">
	<tr>
		<td style="width:50%;">
			<a href="#" onclick="back_button(); return false;" style="display:block; width:100%; padding:14px 0; color:#383838; font-size:15px; border-right:1px solid #dbdbdb;">
				<img src="/images/common/cancel_btn.png" style="width:14px; margin-bottom:-1px;" />
				&nbsp;취소
			</a>
		</td>
		<td style="width:50%;">
			<a href="#" onclick="submit_complete(); return false;" style="display:block; width:100%; padding:14px 0; color:#383838; font-size:15px;">
				<img src="/images/common/submit_btn.png" style="width:18px;" />
				&nbsp;투표 종료하기
			</a>
		</td>
	</tr>
</table>

<script>

	var star_point;
	var ask_deal_id;

	function set_star_point(point){
		star_point = point;
		$("#star_point_div i").css("color","#9d9ea1");
		for ( var i = 0; i < point; i++ ) {
			$($("#star_point_div i").get(i)).css("color","#ee6e01");
		}
	}

	function select_ask_deal(para_ask_deal_id, is_left){
		ask_deal_id = para_ask_deal_id;
		$("#left_select_div").hide();
		$("#right_select_div").hide();
		if (is_left){
			$("#left_select_div").show();
		}else{
			$("#right_select_div").show();
		}
	}

	function submit_complete(){
		if(star_point == null){
			notify('만족도 별점을 눌러주세요');
			return;
		}

		if(ask_deal_id == null){
			notify("최종 선택하신 제품을 선택해주세요");
			return;
		}
		window.location = "/asks/<%=@ask.id%>/create_complete?star_point="+star_point+"&ask_deal_id="+ask_deal_id;
	}

</script>
