<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
<div id="asks" style="padding:12px 12px 0px;"></div>
<%= render :partial => "common_partial/asks" %>
<%= render :partial => "common_partial/ask_image" %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>
<script>
  card_detail_on(ask.id);
  $("#back_button").attr("onclick","back_button(); return false;");
  $("#ask_"+ask.id+"_detail_on").hide();

  window.onbeforeunload = function(){
		if (is_ask_image_opened) {
			ask_image_off();
			return '취소 버튼을 누르시면 이미지가 닫힙니다 :)\n';
		} else {
			parent.history.back();
		}
	}
	$(document).keydown(function(e){
		if(e.target.nodeName != "INPUT" && e.target.nodeName != "TEXTAREA"){
			if(e.keyCode === 8 || e.keyCode === 27){
				if (is_ask_image_opened) {
					ask_image_off();
					return false;
				} else {
					parent.history.back();
				}
			}
		}
	});
</script>
