<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
<div id="asks" style="padding:12px 12px 0px;"></div>
<%= render :partial => "common_partial/asks" %>
<%= render :partial => "common_partial/ask_image" %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>
<script>
  card_detail_on(ask.id);
  $("#back_button").attr("onclick","back_button(); return false;");
  $("#ask_"+ask.id+"_detail_on").hide();
</script>
