<%= render :partial => "common_partial/header_2" %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>

<div id="asks" style="padding:15px 12px; margin-top:47px;"></div>

<script type="text/template" id="ask-show-template">
  <div style="text-align:left; padding:5px 0 0 0px; position:relative;">
    {{ if( ask.category){ }}
    <span class="category" style="cursor:default;">{{= ask.category.name }}</span>
    {{ }else{ }}
    <span class="category_none" style="cursor:default;">관심사 미설정</span>
    {{ } }}
    <div style="position:absolute; bottom:0; right:0;">
      {{ if (ask.user_id != current_user_id || ask.ask_complete == null){ }}
				<span style="float:left; border:1px solid #dbdbdb; border-bottom:none; border-right-width:1px; background-color:#fff; text-align:center;">
					<a class="share_icon" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				</span>
				<span style="float:left; border-top:1px solid #dbdbdb; border-right:3px solid #dbdbdb; background-color:#fff; text-align:center;">
		        <a class="more_icon" href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><i class="fa fa-chevron-down" style="font-size:10px; color:#998674;"></i>&nbsp;더보기</a>
		    </span>
			{{ }else{ }}
				<span style="float:left; border:1px solid #dbdbdb; border-bottom:none; border-right-width:3px; background-color:#fff; text-align:center;">
					<a class="share_icon" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				</span>
			{{ } }}
		</div>
  </div>

	<div style="position:relative;">
		<div style="text-align:left; padding:15px; position:relative; background-color:#fff; border:1px solid #dbdbdb; border-bottom:none; border-right-width:3px; clear:both;">
			{{ if( ask.user){ }}
				{{ gender_css = "color:#0389ed; border: solid 1px #0389ed;" }}
        {{ if ( !ask.user.gender){ }}
          {{ gender_css = "color:#ea065e; border: solid 1px #ea065e;" }}
        {{ } }}
        <p style="margin:0px 5px 0px -1px; font-size:12px; padding:3px 4px; float:left; font-weight:bold; opacity:0.8; border-radius:5px; {{= gender_css}} border-right-width:2px; border-bottom-width:2px;">
          {{ if (ask.user.gender){ }}
						<i class="fa fa-male" style="margin-right:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-right:-2px;"></i>
					{{ } }}
          {{= get_user_ages(ask.user.birthday) }}
        </p>
        <p style="margin:3px 0 0 0; color:#998675; font-size:17px; float:left; max-width:100px; overflow:hidden; text-overflow:ellipsis;">{{= ask.user.string_id }}</p>
        <span style="float:right; padding-top:5px; color:#9e9fa3; font-size:12px;">
          <i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span id="ask_{{=ask.id}}_vote_count">{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}표</span>
          <i class="fa fa-clock-o" style="font-size:13px; margin:0 3px 0 5px;"></i>{{= get_past_time(ask.created_at) }}
        </span>
			{{ } }}
			<p id="ask_{{=ask.id}}_message" style="clear:both; margin:0; padding-top:10px; color:#383838; font-size:13px; line-height:1.4;">
				{{ if( ask.message){ }}
					{{ ask_message = ask.message.replace(new RegExp('\r?\n', 'g'), '<br />') }}
					{{= ask_message }}
				{{ }else{ }}
					둘중 하나를 골라주세요.
				{{ } }}
			</p>
		</div>

		<table class="deal_detail" cellspacing="0" cellpadding="0" style="width:100%; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
      <tr>
        <th style="width:50%;">
          <p style="background-color:#4b3d3d; font-size:12px; color:#fff; margin:0; padding:6px 0 6px 12px; line-height:2;">
            CARD A
          </p>
        </th>
        <th style="width:50%;">
          <p style="background-color:#4b3d3d; font-size:12px; color:#fff; margin:0; padding:6px 12px 6px 0; line-height:2;">
            CARD B
          </p>
        </th>
      </tr>
    </table>

		<div id="ask_deal_{{=ask.id}}" style="position:relative; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
			{{ var askDealTemplate = _.template($('#ask-deal-template').html()) }}
	    {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
		</div>
		<table class="deal_detail" cellspacing="0" cellpadding="0" style="width:100%; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
			<tr>
				<td style="width:50%; border-top:1px solid #dbdbdb;">
					<p style="margin:0; line-height:0px;">
						&nbsp;
					</p>

				</td>
				<td style="width:50%; border-top:1px solid #dbdbdb;">
					<p style="margin:0; line-height:0px;">
						&nbsp;
					</p>
				</td>
			</tr>
			{{ if (ask.left_ask_deal.title != "" && ask.right_ask_deal.title != "" ){ }}
			<tr>
				<td style="width:50%;">
					<p style="margin:0;  color:#383838; font-size:13px; font-weight:bold; padding:2px 8px;">
						{{= ask.left_ask_deal.title }}
					</p>
				</td>
				<td style="width:50%;">
					<p style="margin:0;  color:#383838; font-size:13px; font-weight:bold; padding:2px 8px;">
						{{= ask.right_ask_deal.title }}
					</p>
				</td>
			</tr>
			{{ } }}
			{{ if (ask.left_ask_deal.brand != "" && ask.right_ask_deal.brand != "" ){ }}
			<tr>
				<td style="width:50%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.left_ask_deal.brand }}
					</p>
				</td>
				<td style="width:50%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.right_ask_deal.brand }}
					</p>
				</td>
			</tr>
			{{ } }}
			{{ if (ask.left_ask_deal.price != null && ask.right_ask_deal.price != null ){ }}
			<tr>
				<td style="width:50%;">
					<p style="margin:0; color:#ee6e01; font-size:13px; padding:2px 8px;">
					{{= numberWithCommas(ask.left_ask_deal.price) }}원
					</p>
				</td>
				<td style="width:50%;">
					<p style="margin:0; color:#ee6e01; font-size:13px; padding:2px 8px;">
					{{= numberWithCommas(ask.right_ask_deal.price) }}원
					</p>
				</td>
			</tr>
			{{ } }}
			{{ if (ask.left_ask_deal.link != null || ask.right_ask_deal.link != null ){ }}
			<tr>
				<td style="width:50%;">
					<p style="margin:0; font-size:13px; padding:2px 8px;">
						{{ var aLink = document.createElement("a") }}
						{{ aLink.href= ask.left_ask_deal.link }}
						<a href="{{= ask.left_ask_deal.link }}" target="_blank" style="color:#383838;">{{= aLink.host }} <img src="/images/ask/link_icon.png" style="width:12px; margin-bottom:-2px;" /></a>
					</p>
				</td>
				<td style="width:50%;">
					<p style="margin:0; font-size:13px; padding:2px 8px;">
						{{ var bLink = document.createElement("a") }}
						{{ bLink.href= ask.right_ask_deal.link }}
						<a href="{{= ask.right_ask_deal.link }}" target="_blank" style="color:#383838;">{{= bLink.host }} <img src="/images/ask/link_icon.png" style="width:12px; margin-bottom:-2px;" /></a>
					</p>
				</td>
			</tr>
			{{ } }}
		</table>
		<table class="deal_spec_detail" cellspacing="0" cellpadding="0" style="width:100%; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
			{{ if (ask.left_ask_deal.spec1 != "" && ask.right_ask_deal.spec1 != "" ){ }}
			<tr>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.left_ask_deal.spec1 }}
					</p>
				</td>
				<td style="width:20%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.spec1 }}
					</p>
				</td>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.right_ask_deal.spec1 }}
					</p>
				</td>
			</tr>
			{{ } }}
			{{ if (ask.left_ask_deal.spec2 != "" && ask.right_ask_deal.spec2 != "" ){ }}
			<tr>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.left_ask_deal.spec2 }}
					</p>
				</td>
				<td style="width:20%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.spec2 }}
					</p>
				</td>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.right_ask_deal.spec2 }}
					</p>
				</td>
			</tr>
			{{ } }}
			{{ if (ask.left_ask_deal.spec3 != "" && ask.right_ask_deal.spec3 != "" ){ }}
			<tr>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.left_ask_deal.spec3 }}
					</p>
				</td>
				<td style="width:20%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.spec3 }}
					</p>
				</td>
				<td style="width:40%;">
					<p style="margin:0; color:#383838; font-size:13px; padding:2px 8px;">
					{{= ask.right_ask_deal.spec3 }}
					</p>
				</td>
			</tr>
			{{ } }}
		</table>
		<table class="deal_detail" cellspacing="0" cellpadding="0" style="width:100%; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb; border-bottom:3px solid #dbdbdb;">
			<tr>
				{{ if (ask.left_ask_deal.spec1 != "" || ask.left_ask_deal.spec2 != "" || ask.left_ask_deal.spec3 != ""){ }}
				<td style="width:40%; border-right:none;">
					<p style="margin:0; color:#383838; font-size:10px; line-height:0px; padding:0px 8px;">
					&nbsp;
					</p>
				</td>
				<td style="width:20%; border-right:none;">
					<p style="margin:0; color:#383838; font-size:10px; line-height:0px; padding:0px 8px;">
					&nbsp;
					</p>
				</td>
				<td style="width:40%; border-right:none;">
					<p style="margin:0; color:#383838; font-size:10px; line-height:0px; padding:0px 8px;">
					&nbsp;
					</p>
				</td>
				{{ }else{ }}
				<td style="width:50%;">
					<p style="margin:0; color:#383838; font-size:10px; line-height:0px; padding:0px 8px;">
					&nbsp;
					</p>
				</td>
				<td style="width:50%;">
					<p style="margin:0; color:#383838; font-size:10px; line-height:0px; padding:0px 8px;">
					&nbsp;
					</p>
				</td>
				{{ } }}
			</tr>
		</table>

		{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
  		{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
      {{ if (ask.user_id == current_user_id && total_count == 0){ }}
        {{ left_ratio = 0 }}
        {{ right_ratio = 0 }}
      {{ }else{ }}
        {{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 80) }}
        {{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 80) }}
      {{ } }}

      {{ left_background = "#fff" }}
  		{{ left_font_weight = "normal" }}
  		{{ right_background = "#fff" }}
  		{{ right_font_weight = "normal" }}
  		{{ if (left_ratio > right_ratio){ }}
  			{{ left_background = "#ffcc5a" }}
  			{{ left_font_weight = "bold" }}
  		{{ }else if(left_ratio < right_ratio){ }}
  			{{ right_background = "#ffcc5a" }}
  			{{ right_font_weight = "bold" }}
  		{{ } }}
      <table cellspacing="0" cellpadding="0" style="width:100%; background-color:#4b3d3d; color:#fff; font-size:12px; font-weight:bold; height:35px;">
  			<tr>
  				<td class="vote-result-td">
  					<span class="vote-result-bar-left" style="width:{{= Math.round(left_ratio)}}%; background-color:{{=left_background}};">&nbsp;</span>
  					<span style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{= Math.round(left_ratio / 80 * 100) }}%</span>
  				</td>
  				<td style="min-width:40px;">
  					A vs B
  				</td>
  				<td class="vote-result-td">
  					<span class="vote-result-bar-right" style="width:{{= Math.round(right_ratio) }}%; background-color:{{=right_background}};">&nbsp;</span>
  					<span style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{= Math.round(right_ratio / 80 * 100) }}%</span>
  				</td>
  			</tr>
  		</table>
      <div id="detail_vote_count">
        {{ gender_total_count = detail_vote_count.left.male_count + detail_vote_count.left.female_count + detail_vote_count.right.male_count + detail_vote_count.right.female_count }}
        {{ if ( gender_total_count == 0 ){ }}
          {{ male_left_ratio = 0 }}
          {{ male_right_ratio = 0 }}
          {{ female_left_ratio = 0 }}
          {{ female_right_ratio = 0 }}
        {{ }else{ }}
          {{ male_left_ratio = Math.round(detail_vote_count.left.male_count/gender_total_count * 100) }}
          {{ male_right_ratio = Math.round(detail_vote_count.right.male_count/gender_total_count * 100) }}
          {{ female_left_ratio = Math.round(detail_vote_count.left.female_count/gender_total_count * 100) }}
          {{ female_right_ratio = Math.round(detail_vote_count.right.female_count/gender_total_count * 100) }}
        {{ } }}

        {{ gender_male_css = "" }}
        {{ gender_female_css = "" }}
        {{ if( (detail_vote_count.left.male_count + detail_vote_count.right.male_count) < (detail_vote_count.left.female_count + detail_vote_count.right.female_count) ){ }}
          {{ gender_female_css = "color: #ee6e01;font-weight: bold;" }}
        {{ }else if( (detail_vote_count.left.male_count + detail_vote_count.right.male_count) > (detail_vote_count.left.female_count + detail_vote_count.right.female_count) ){ }}
          {{ gender_male_css = "color: #ee6e01;font-weight: bold;" }}
        {{ } }}
        <table cellspacing="1" cellpadding="0" class="graph" style="border-bottom: dotted 1px #998675; width:100%; background-color:#BEAD9D; font-size:12px; color:#fff; padding:5px 0; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
          <tbody>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px">
                <span style="display:inline-block; width:{{= Math.round(male_left_ratio) }}%; height:5px;line-height:7px; background-color:{{= (male_left_ratio > male_right_ratio) ? '#ee6e01;' : '#fff;' }}">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{=gender_male_css }}">
                남자
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px">
                <span style="display:inline-block; width:{{= Math.round(male_right_ratio) }}%; height:5px;line-height:7px;background-color:{{= (male_left_ratio < male_right_ratio) ? '#ee6e01;' : '#fff;' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px">
                <span style="display:inline-block; width:{{= Math.round(female_left_ratio) }}%; height:5px;line-height:7px;background-color:{{= (female_left_ratio > female_right_ratio) ? '#ee6e01;' : '#fff;' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{=gender_female_css }}">
                여자
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px">
                <span style="display:inline-block; width:{{= Math.round(female_right_ratio) }}%; height:5px;line-height:7px;background-color: {{= (female_left_ratio < female_right_ratio) ? '#ee6e01;' : '#fff;' }};">&nbsp;</span>
              </td>
            </tr>
          </tbody>
        </table>
        {{ age_total_count = detail_vote_count.left.age_20_1_count + detail_vote_count.left.age_20_2_count + detail_vote_count.left.age_20_3_count + detail_vote_count.left.age_30_1_count + detail_vote_count.left.age_30_2_count + detail_vote_count.left.age_30_3_count + detail_vote_count.left.etc_count + detail_vote_count.right.age_20_1_count + detail_vote_count.right.age_20_2_count + detail_vote_count.right.age_20_3_count + detail_vote_count.right.age_30_1_count + detail_vote_count.right.age_30_2_count + detail_vote_count.right .age_30_3_count + detail_vote_count.right.etc_count }}
        {{ if ( age_total_count == 0 ){ }}
          {{ age_20_1_left_ratio = 0 }}
          {{ age_20_1_right_ratio = 0 }}
          {{ age_20_2_left_ratio = 0 }}
          {{ age_20_2_right_ratio = 0 }}
          {{ age_20_3_left_ratio = 0 }}
          {{ age_20_3_right_ratio = 0 }}
          {{ age_30_1_left_ratio = 0 }}
          {{ age_30_1_right_ratio = 0 }}
          {{ age_30_2_left_ratio = 0 }}
          {{ age_30_2_right_ratio = 0 }}
          {{ age_30_3_left_ratio = 0 }}
          {{ age_30_3_right_ratio = 0 }}
          {{ etc_left_ratio = 0 }}
          {{ etc_right_ratio = 0 }}
        {{ }else{ }}
          {{ age_20_1_left_ratio = Math.round(detail_vote_count.left.age_20_1_count/age_total_count * 100) }}
          {{ age_20_1_right_ratio = Math.round(detail_vote_count.right.age_20_1_count/age_total_count * 100) }}
          {{ age_20_2_left_ratio = Math.round(detail_vote_count.left.age_20_2_count/age_total_count * 100) }}
          {{ age_20_2_right_ratio = Math.round(detail_vote_count.right.age_20_2_count/age_total_count * 100) }}
          {{ age_20_3_left_ratio = Math.round(detail_vote_count.left.age_20_3_count/age_total_count * 100) }}
          {{ age_20_3_right_ratio = Math.round(detail_vote_count.right.age_20_3_count/age_total_count * 100) }}
          {{ age_30_1_left_ratio = Math.round(detail_vote_count.left.age_30_1_count/age_total_count * 100) }}
          {{ age_30_1_right_ratio = Math.round(detail_vote_count.right.age_30_1_count/age_total_count * 100) }}
          {{ age_30_2_left_ratio = Math.round(detail_vote_count.left.age_30_2_count/age_total_count * 100) }}
          {{ age_30_2_right_ratio = Math.round(detail_vote_count.right.age_30_2_count/age_total_count * 100) }}
          {{ age_30_3_left_ratio = Math.round(detail_vote_count.left.age_30_3_count/age_total_count * 100) }}
          {{ age_30_3_right_ratio = Math.round(detail_vote_count.right.age_30_3_count/age_total_count * 100) }}
          {{ etc_left_ratio = Math.round(detail_vote_count.left.etc_count/age_total_count * 100) }}
          {{ etc_right_ratio = Math.round(detail_vote_count.right.etc_count/age_total_count * 100) }}
        {{ } }}

        {{ age_20_1_css = "" }}
        {{ age_20_2_css = "" }}
        {{ age_20_3_css = "" }}
        {{ age_30_1_css = "" }}
        {{ age_30_2_css = "" }}
        {{ age_30_3_css = "" }}
        {{ etc_css = "" }}
        {{ age_20_1_count = detail_vote_count.left.age_20_1_count + detail_vote_count.right.age_20_1_count }}
        {{ age_20_2_count = detail_vote_count.left.age_20_2_count + detail_vote_count.right.age_20_2_count }}
        {{ age_20_3_count = detail_vote_count.left.age_20_3_count + detail_vote_count.right.age_20_3_count }}
        {{ age_30_1_count = detail_vote_count.left.age_30_1_count + detail_vote_count.right.age_30_1_count }}
        {{ age_30_2_count = detail_vote_count.left.age_30_2_count + detail_vote_count.right.age_30_2_count }}
        {{ age_30_3_count = detail_vote_count.left.age_30_3_count + detail_vote_count.right.age_30_3_count }}
        {{ etc_count = detail_vote_count.left.etc_count + detail_vote_count.right.etc_count }}
        {{ age_count_arr = [ age_20_1_count, age_20_2_count, age_20_3_count, age_30_1_count, age_30_2_count, age_30_3_count, etc_count] }}
        {{ max_index = age_count_arr.indexOf(Math.max.apply(window,age_count_arr)) }}
        {{ if( max_index == 0 ){ }}
          {{ age_20_1_css = "color: #ee6e01;font-weight: bold;" }}
        {{ }else if( max_index == 1 ){ }}
          {{ age_20_2_css = "color: #ee6e01;font-weight: bold;" }}
        {{ }else if( max_index == 2 ){ }}
          {{ age_20_3_css = "color: #ee6e01; font-weight: bold;" }}
        {{ }else if( max_index == 3 ){ }}
          {{ age_30_1_css = "color: #ee6e01; font-weight: bold;" }}
        {{ }else if( max_index == 4 ){ }}
          {{ age_30_2_css = "color: #ee6e01;font-weight: bold;" }}
        {{ }else if( max_index == 5 ){ }}
          {{ age_30_3_css = "color: #ee6e01;font-weight: bold;" }}
        {{ }else if( max_index == 6 ){ }}
          {{ etc_css = "color: #ee6e01;font-weight: bold;" }}
        {{ } }}
        <table cellspacing="1" cellpadding="0" class="graph" style="width:100%; background-color:#BEAD9D; font-size:12px; color:#fff; padding:5px 0; border-left:1px solid #dbdbdb; border-right:3px solid #dbdbdb;">
          <tbody>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px">
                <span style="display:inline-block; width:{{= Math.round(age_20_1_left_ratio) }}%; height:5px; line-height:7px; background-color:{{= (age_20_1_left_ratio > age_20_1_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= age_20_1_css }}">
                20초
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_20_1_right_ratio) }}%; height:5px;line-height:7px;background-color:{{= (age_20_1_left_ratio < age_20_1_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_20_2_left_ratio) }}%; height:5px;line-height:7px;background-color:{{= (age_20_2_left_ratio > age_20_2_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= age_20_2_css }}">
                20중
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_20_2_right_ratio) }}%; height:5px;line-height:7px;background-color:{{= (age_20_2_left_ratio < age_20_2_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_20_3_left_ratio) }}%; height:5px;line-height:7px;background-color:{{= (age_20_3_left_ratio > age_20_3_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px;{{= age_20_3_css }}">
                20후
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_20_3_right_ratio) }}%; height:5px;line-height:7px;background-color:{{= (age_20_3_left_ratio < age_20_3_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block;width:{{= Math.round(age_30_1_left_ratio) }}%;height:5px;line-height:7px;background-color:{{= (age_30_1_left_ratio > age_30_1_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= age_30_1_css }}">
                30초
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block;width:{{= Math.round(age_30_1_right_ratio) }}%;height:5px;line-height:7px;background-color:{{= (age_30_1_left_ratio < age_30_1_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_30_2_left_ratio) }}%; height:5px; line-height:7px; background-color:{{= (age_30_2_left_ratio > age_30_2_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= age_30_2_css }}">
                30중
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_30_2_right_ratio) }}%; height:5px; line-height:7px; background-color:{{= (age_30_2_left_ratio < age_30_2_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_30_3_left_ratio) }}%; height:5px; line-height:7px; background-color:{{= (age_30_3_left_ratio > age_30_3_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= age_30_3_css }}">
                30후
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(age_30_3_left_ratio) }}%; height:5px; line-height:7px; background-color:{{= (age_30_3_left_ratio < age_30_3_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
            <tr>
              <td class="vote-result-td" style="text-align:right; padding-left:50px;">
                <span style="display:inline-block; width:{{= Math.round(etc_left_ratio) }}%; height:5px; line-height:7px; background-color:{{= (etc_left_ratio > etc_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
              <td style="min-width:56px; {{= etc_css }}">
                기타
              </td>
              <td class="vote-result-td" style="text-align:left; padding-right:50px;">
                <span style="display:inline-block; width:{{= Math.round(etc_right_ratio) }}%; height:5px; line-height:7px; background-color:{{= (etc_left_ratio < etc_right_ratio) ? '#ee6e01;' : '#fff' }};">&nbsp;</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a id="detail_count_toggle_btn" href="#" onclick="detail_count_toggle(); return false;" style="display:block; text-align:center; padding:7px; position:relative; background-color:#998675; border-radius:0 0 3px 3px; height:20px; border:1px solid #dbdbdb; border-top:none; border-right-width:3px; border-bottom-width:3px;">
        <p style="margin:0; color:#fff; font-size:12px; padding:3px;"><i class='fa fa-chevron-up' style="vertical-align:top; margin-right:3px;"></i>상세 투표결과 닫기</p>
      </a>
		{{ } }}

		<div style="margin-top:12px;">
			<p style="text-align:center; background-color:#4b3d3d; font-size:12px; color:#fff; font-weight:bold; padding:10px 0; margin:0 auto; border-right:3px solid #dbdbdb;">
				<span style="float:left; margin-left:12px; font-size:13px; color:#fff;">
          <i class="fa fa-comment" style="font-size:16px; margin-right:3px;"></i>
					<span id="left_ask_deal_comment_count">{{=ask.left_ask_deal.comment_count}}</span>
				</span>
				의견보기
				<span style="float:right; margin-right:12px; font-size:13px; color:#fff;">
					<span id="right_ask_deal_comment_count">{{=ask.right_ask_deal.comment_count}}</span>&nbsp;
					<i class="fa fa-comment" style="font-size:16px; margin-left:3px; transform:rotateY(180deg);"></i>
				</span>
			</p>

			{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
				<div id="ask_comment" style="position:relative; background-color:#f4f4f4; padding:10px 0; min-height:200px; border:1px solid #dbdbdb; border-top:none; border-right-width:3px;">
          {{ for(var i=0; i < ask.comments.length; i++) {  }}
						{{ comment = ask.comments[i] }}
						{{ var askCommentTemplate = _.template($('#ask-comment-template').html()) }}
				    {{= askCommentTemplate({ask:ask, comment: comment}) }}
					{{ } }}
          {{ if(ask.comments.length == 0) { }}
            <p style="position: absolute; top: 50%; left: 50%; color: #9d9ea1; font-size: 13px; width: 200px; margin-top: -16px; margin-left: -100px;" id="no_comment">아직 남겨진 의견이 없네요.<br>소중한 한마디 부탁드립니다:)</p>
          {{ } }}
          {{ if(current_user_id == 0 && ask.user_id != current_user_id && already_vote.length == 0){ }}
            <div style="position:absolute; top:0; left:-1px; width:100%; height:100%; background-color:black; opacity:0.92; border-left:1px solid black; border-right:1px solid black;">
              <p style="position:relative; top:50%; margin:-75px 0 0 0; color:#fff; font-size:15px; text-align:center; line-height:2; opacity:1;">
                <span style="background-color:#ee6e01; border-radius:3px; padding:3px 5px 1px;">VASKIT회원</span>이 되시면<br>모든 의견을 자유롭게 볼 수 있어요!<br><br>
                <span style="background-color:#4b3d3d; border-radius:3px; padding:3px 5px 1px;">비회원</span>은 투표에 참여한 후에만<br>의견을 확인하실 수 있답니다 :)
              </p>
            </div>
          {{ } }}
				</div>
				<table cellspacing="0" cellpadding="0" style="width:100%; border:1px solid #dbdbdb; border-top:none; background-color:#fff; border-right-width:3px; border-bottom-width:5px;">
					{{ if(already_vote.length == 0 || ask.user_id == current_user_id){ }}
						{{ ask_deal_id = ask.left_ask_deal_id }}
						{{ ask_deal_text = "A" }}
					{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
						{{ ask_deal_id = ask.left_ask_deal_id }}
						{{ ask_deal_text = "A" }}
					{{ }else{ }}
						{{ ask_deal_id = ask.right_ask_deal_id }}
						{{ ask_deal_text = "B" }}
					{{ } }}
					<tbody>
						<tr>
							<td style="padding:7px 7px 7px 12px;">
								<a id="ask_deal_id_change" onclick="ask_deal_id_change(); return false;" href="#" style="width:30px; height:32px; line-height:32px; border:1px solid #dbdbdb; color:#4b3d3d; display:inline-block; font-size:14px;">{{=ask_deal_text}}</a>
							</td>
							<td style="width:100%; padding-right:7px;">
								<textarea id="comment_input" class="comment_box2" placeholder="<% if current_user %>고민해결사 <%= current_user.string_id %>님! 한마디 부탁해요!<% else %>회원가입하시고 의견을 남겨주세요!<% end %>"></textarea>
							</td>
							<td style="padding-right:12px;">
								<a id="send_comment_btn" href="#" onclick="send_comment({{=ask.id}}, {{=ask_deal_id}}); return false;" style="width:50px; height:34px; line-height:34px; background-color:#ee6e01; display:inline-block; color:#fff; font-size:14px;">입력</a>
							</td>
						</tr>
					</tbody>
				</table>
        <p style="font-size:12px; margin:0; padding:10px 15px; color:#9d9fa1; text-align:left;"><i class="fa fa-info-circle">&nbsp;</i>A/B 버튼을 눌러 의견을 어디에 남길지 선택 가능!</p>
		</div>
	</div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td style="width:50%; position:relative; overflow:hidden;">
			  <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;">
          <img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
					<p class="card_image_expand"><i class="fa fa-expand"></i></p>
		    </a>
	  		{{ if( ask.user_id != current_user_id && already_vote.length == 0 ){ }}
	  		<a class="vote_btn_{{=ask.id}} vote_btn" href="#" onclick="vote_ask_deal_show({{=left_ask_deal.id}}, true); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
	  		{{ } }}

	  		{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
          {{ if ((ask.user_id == current_user_id || ask.be_completed ) || ask.right_ask_deal_id == already_vote[0].ask_deal_id ){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay"></a>
          {{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay">
            <img src="/images/home/vote_result_check.png" style="width:50%; margin-top:20%; margin-left:0%;">
          </a>
          {{ } }}
        {{ } }}

			</td>
			<td style="width:50%; position:relative; overflow:hidden;">
			  <a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;">
          <img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
					<p class="card_image_expand"><i class="fa fa-expand"></i></p>
				</a>
				{{ if( ask.user_id != current_user_id && already_vote.length == 0 ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn" href="#" onclick="vote_ask_deal_show({{=right_ask_deal.id}}, false); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
				{{ } }}

        {{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
          {{ if ((ask.user_id == current_user_id || ask.be_completed ) || ask.left_ask_deal_id == already_vote[0].ask_deal_id ){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;" class="card_image_overlay"></a>
          {{ }else if(ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, false ); return false;" class="card_image_overlay">
            <img src="/images/home/vote_result_check.png" style="width:50%; margin-top:20%; margin-left:0%;">
          </a>
          {{ } }}
        {{ } }}
			</td>
		</tr>
	</table>
</script>

<script type="text/template" id="ask-comment-template">

	{{ if (ask.left_ask_deal_id == comment.ask_deal_id ){ }}
		<div id="comment_{{= comment.id }}" style="width:100%; text-align:left;">
			<div style="position:relative; margin:4px 0px 0 14px; max-width:60%; display:inline-block; text-align:left; background-color:#fff; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb;">
				<span class="comment_content" style="word-break:break-all;">{{=comment.content}}</span>

				<textarea class="comment_modify_box" placeholder="의견을 입력해주세요.">{{=comment.content}}</textarea>
			 	<a class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; position: absolute; top:0px; right:-58px; width:60px; height:57px; background-color:#ee6e01; color:#fff; text-align:center; line-height:57px; font-size:12px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; display:none;">
          완료
        </a>

				<div style="position: absolute; top:1px; left:-8px;">
					<img style="width:8px;" src="/images/deal_detail/seg_comment_l.png">
				</div>
			</div>
			<p style="margin:0; padding:5px 0 10px 25px; font-size:12px; color:#9e9fa1;">
				<span style="color:#998674;">{{=comment.user.string_id}}</span>
        &nbsp;{{= get_past_time(comment.created_at) }}
				<a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1;">
				  <img src="/images/etc/recommend_icon.png" style="width:10px;">
				  <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
				</a>
				|
				{{ if ( comment.user_id == current_user_id ){ }}
				  <a href="#" onclick="comment_del({{=comment.id}}, true); return false;" style="color:#9e9fa1;">
            삭제
          </a>
          <a class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9e9fa1;">
            수정
          </a>
          <a class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; display:none;">
            취소
          </a>
				{{ }else{ }}
				  <a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">
            신고
          </a>
				{{ } }}
			</p>
		</div>
	{{ }else{ }}
		<div id="comment_{{= comment.id }}" style="width:100%; text-align:right;">
			<div style="position:relative; margin:4px 14px 0 0px; max-width:60%; display:inline-block; text-align:left; background-color:#fff; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb;">
				<span class="comment_content" style="word-break:break-all;">{{=comment.content}}</span>

				<textarea class="comment_modify_box" placeholder="의견을 입력해주세요.">{{=comment.content}}</textarea>
        <a class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; position: absolute; top:0px; left:-58px; width:60px; height:57px; background-color:#ee6e01; color:#fff; text-align:center; line-height:57px; font-size:12px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; display:none;">
          완료
        </a>

				<div style="position: absolute; top:1px; right:-8px;">
					<img style="width:8px;" src="/images/deal_detail/seg_comment_r.png">
				</div>
			</div>
			<p style="margin:0; padding:5px 25px 10px 0; font-size:12px; color:#9e9fa1;">
			  {{ if ( comment.user_id == current_user_id ){ }}
			    <a href="#" onclick="comment_del({{=comment.id}}, false); return false;" style="color:#9e9fa1;">
            삭제
          </a>
          <a class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9e9fa1;">
            수정
          </a>
          <a class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; display:none;">
            취소
          </a>
        {{ }else{ }}
          <a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">
            신고
          </a>
        {{ } }}
				|
				<a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1;">
				  <img src="/images/etc/recommend_icon.png" style="width:10px;">
				  <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
				</a>
				{{= get_past_time(comment.created_at) }} &nbsp;<span style="color:#998674;">{{=comment.user.string_id}}</span>
			</p>
		</div>
	{{ } }}
</script>

<script>

  <% if flash[:ask_update] %>
    notify('<%=flash[:ask_update]%>');
  <% end %>

	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>
	var asks = <%= raw @asks.to_json %>;
	var detail_vote_count = <%= raw @detail_vote_count.to_json %>;

	var my_ask = false;
	if (current_user_id == asks[0].user_id){
	  my_ask = true;
	}
	var my_votes = <%= raw @my_votes.to_json %>;
	var my_vote_count = <%= @my_votes.length %>;
	var askShowTemplate = _.template( $('#ask-show-template').html() );
	for(var i=0; i < asks.length; i++) {
		var ask = asks[i]
    $('#asks').append(askShowTemplate({ask: ask}));
    var hash_tags = ask.message.match(/#(\S+)/g);
    if (hash_tags != null) hash_tags.sort(function(a,b){ return b.length - a.length; }); // 긴 순서대로 정렬

    $.each(hash_tags, function( index, hash_tag ) {
      hash_tag = hash_tag.replace(",","");
      $("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
		  hash_tag = hash_tag.replace('#', '').replace("?","")
			$.each( $("#ask_"+ask.id+"_message ."+index), function( index2, element ){
        if ( $(element).parent().prop('nodeName') == "P"){
          $(element).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"})
        }
      });
		});
	}

	function comment_input_by_key(){
		var comment_message = $('#comment_input').val();
		if(comment_message == "" || comment_message == undefined){
			notify("내용을 입력해주세요.");
		}else{
			$("#send_comment_btn").click();
		}
	}

	$('#comment_input').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	comment_input_by_key();
      	}
	});

	function vote_ask_deal_show(ask_deal_id, is_left){
		if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		          detail_vote_count = data.detail_vote_count;
		        	my_votes.push(data.vote);
			        $('#asks').html(askShowTemplate({ask: data.ask}));
			        var hash_tags = ask.message.match(/#(\S+)/g);
			        if (hash_tags != null) hash_tags.sort(function(a,b){ return b.length - a.length; }); // 긴 순서대로 정렬
			        $.each(hash_tags, function( index, hash_tag ) {
			          hash_tag = hash_tag.replace(",","");
					  	  $("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
					  	  hash_tag = hash_tag.replace('#', '').replace("?","")
						    $.each( $("#ask_"+ask.id+"_message ."+index), function( index2, element ){
                  if ( $(element).parent().prop('nodeName') == "P"){
                    $(element).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"})
                  }
                });
				      });
              hover_action();
	        		notify("투표 완료");
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
	 	}
	}

	function send_comment(ask_id, ask_deal_id){
		if (current_user_id == 0){
			notify("회원가입 후<br />의견을 남길 수 있습니다.");
		}else if ( already_vote.length == 0 && !my_ask ){
		  notify("투표 참여 후<br />의견을 남길 수 있습니다.");
		}else{

			var content = $(".comment_box2").val();
			if( content == "" || content == null ){
				notify('내용을 입력해주세요.');
				return;
			}
			$.ajax({
		        url: "/comments.json",
		        type: 'POST',
		        data: {'content': content, 'ask_id':ask_id, 'ask_deal_id':ask_deal_id },
		        dataType: 'json',
            async: false,  // 코멘트 중복 전송을 방지
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message = "success"){
		        		var comment = data.comment;
		        		var askCommentTemplate = _.template($('#ask-comment-template').html());
		        		$("#ask_comment").append(askCommentTemplate({ask:ask, comment: comment}));
		        		notify("작성 완료");
		        		$(".comment_box2").val("");
                $("#no_comment").hide();

		        		if ($("#ask_deal_id_change").html() == "A"){
		        			var left_ask_deal_comment_count = $("#left_ask_deal_comment_count");
		        			left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) + 1 );
		        		}else{
		        			var right_ask_deal_comment_count = $("#right_ask_deal_comment_count");
		        			right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) + 1 );
		        		}
		        	}else{
		        		notify("댓글은 회원만 작성 가능합니다");
		        	}

		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
		}

	}

	function comment_like(comment_id){
		<% if current_user %>
		$.ajax({
	        url: "/comments/"+comment_id+"/like.json",
	        type: 'POST',
	        data: {'blank': 'blank'},
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var comment_count_span = $("#comment_"+comment_id+"_like_count");
	        	if (data.already_like){
	        		comment_count_span.html( parseInt(comment_count_span.html()) - 1 );
	        		notify("좋아요 취소");
	        	}else{
	        		comment_count_span.html( parseInt(comment_count_span.html()) + 1 );
	        		notify("좋아요 완료");
	        	}
	        },
	        beforeSend: function(){
	       		$(".loading").show();
	        },
	        complete: function(){
	        	$(".loading").hide();
	        }
		});
		<% else %>
			notify("회원가입 후<br />추천 할 수 있습니다")
		<% end %>
	}

	function comment_report(comment_id, user_id){
		show_more_popup('comment',comment_id, user_id, '', '');
		show_report_popup();
	}

	function comment_del(comment_id, is_left){
	  if(confirm("의견을 정말로 삭제하시겠어요?")) {
	    $.ajax({
        url: "/comments/"+comment_id+"/comment_del.json",
        type: 'DELETE',
        data: {'blank': 'blank'},
        dataType: 'json',
        error: function(){
            return false;
        },
        success: function(data){
          $("#comment_"+comment_id).remove();
          if (is_left){
            var left_ask_deal_comment_count = $("#left_ask_deal_comment_count");
            left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) - 1 );
          }else{
            var right_ask_deal_comment_count = $("#right_ask_deal_comment_count");
            right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) - 1 );
          }
          notify("삭제되었습니다");

        },
        beforeSend: function(){
          $(".loading").show();
        },
        complete: function(){
          $(".loading").hide();
        }
      });
    }
	}

	function comment_modify(comment_id){
	  var comment_content = $("#comment_"+comment_id+" .comment_content");
	  var modify_box_width = $($("#comment_"+comment_id+" div")[0]).width();
	  var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
	  var update_btn = $("#comment_"+comment_id+" .comment_update_btn");

	  modify_box.show().focus();
	  modify_box.css("width", modify_box_width).css("min-width","180px");

	  update_btn.show();
	  comment_content.hide();

	  $("#comment_"+comment_id+" .comment_modify_btn").hide();
	  $("#comment_"+comment_id+" .comment_modify_cancel_btn").show();
	}

	function comment_modify_cancel(comment_id){
	  var comment_content = $("#comment_"+comment_id+" .comment_content");
    var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
    var update_btn = $("#comment_"+comment_id+" .comment_update_btn");

    modify_box.hide();

    update_btn.hide();
    comment_content.show();

    $("#comment_"+comment_id+" .comment_modify_btn").show();
    $("#comment_"+comment_id+" .comment_modify_cancel_btn").hide();
	}

	function comment_update(comment_id){
	  var modify_box = $("#comment_"+comment_id+" .comment_modify_box");

    var content = modify_box.val();
    if( content == "" || content == null ){
      notify('내용을 입력해주세요.');
      return;
    }
    $.ajax({
      url: "/comments/"+comment_id+".json",
      type: 'PUT',
      data: {'content': content},
      dataType: 'json',
      error: function(){
        return false;
      },
      success: function(data){
        var comment_content = $("#comment_"+comment_id+" .comment_content");
        var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
        var update_btn = $("#comment_"+comment_id+" .comment_update_btn");
        comment_content.html(content);
        modify_box.val(content);
        comment_modify_cancel(comment_id);
        notify("수정 완료");
      },
      beforeSend: function(){
        $(".loading").show();
      },
      complete: function(){
        $(".loading").hide();
      }
    });
	}

	function ask_deal_id_change(){
		if ($("#ask_deal_id_change").html() == "A"){
			$("#ask_deal_id_change").html("B")
			$("#send_comment_btn").attr("onclick", "send_comment("+asks[0].id+", "+asks[0].right_ask_deal.id+"); return false;");
		}else{
			$("#ask_deal_id_change").html("A")
			$("#send_comment_btn").attr("onclick", "send_comment("+asks[0].id+", "+asks[0].left_ask_deal.id+"); return false;");
		}
	}

	function detail_count_toggle(){
	  if ($('#detail_vote_count').is(':visible')){
	    $( "#detail_vote_count" ).slideUp( "slow", function() {
	      $("#detail_count_toggle_btn p").html("<i class='fa fa-chevron-down' style='vertical-align:top; margin-right:3px;'>&nbsp;</i>상세 투표결과 열기");
	    });

	  }else{
	    $( "#detail_vote_count" ).slideDown( "slow", function() {
	      $("#detail_count_toggle_btn p").html("<i class='fa fa-chevron-up' style='vertical-align:top; margin-right:3px;'>&nbsp;</i>상세 투표결과 닫기");
	    });
	  }

	}

  $(document).ready(function(){
    hover_action();
  });

</script>

<%= render :partial => "common_partial/ask_image" %>
