<%= render :partial => "common_partial/header_1", :locals => {:title => "투표 결과 상세"} %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>

<div id="asks" style="padding:10px 12px;"></div>

<script type="text/template" id="ask-show-template">
	<div style="border:1px solid #dbdbdb; background-color:#fff; margin-bottom:9px; position:relative;">
		{{ if( ask.category){ }}
		<div style="text-align:left;  padding:12px 12px 0 12px;">
			<span class="category">{{= ask.category.name }}</span>
		</div>
		{{ }else{ }}
		<div style="text-align:left;  padding:12px 12px 0 12px;">
			<span class="category_none">관심사 미설정</span>
		</div>
		{{ } }}
		{{ price = 0 }}
		{{ if (ask.left_ask_deal.price != null){ }}
			{{ price = price + ask.left_ask_deal.price}}
		{{ } }}
		{{ if (ask.right_ask_deal.price != null){ }}
			{{ price = price + ask.right_ask_deal.price}}
		{{ } }}
		{{ price = price/2 }}
		{{ if (price > 10000){ }}
			{{ price = Math.round(price/10000) + "만" }}
		{{ } }}
		<span style="position:absolute; right:12px; top:12px; color:#9e9fa3; font-size:12px;">
			<img src="/images/home/vote.png" style="width:12px; margin:0 2px -1px 0;" />{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}
			{{ if (price != 0){ }}
				<img src="/images/home/money.png" style="width:12px; margin:0 2px -1px 2px;" />{{= numberWithCommas(price) }}
			{{ } }}
			<img src="/images/home/hour.png" style="width:12px; margin:0 2px -1px 2px;" />{{= get_past_time(ask.created_at) }}
		</span>
		<div style="text-align:left; padding:9px 80px 9px 12px; position:relative;">
			{{ if( ask.user){ }}
				<p style="margin:0; color:#998675; font-size:17px;">@{{= ask.user.string_id }}</p>
			{{ } }}
			<p id="ask_{{=ask.id}}_message" style="margin:2px 0 0 0; color:#383838; font-size:13px;">
				{{ if( ask.message){ }}
					{{= ask.message }}
				{{ }else{ }}
					둘중 하나를 골라주세요.
				{{ } }}
			</p>
			<span style="position:absolute; right:10px; top:29px; color:#9e9fa3; font-size:11px;">
				<a href="#" onclick="show_share_popup('ask',{{=ask.id}}, '{{=ask.user.id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><img src="/images/home/share.png" style="width:24px;" /></a>
				<a href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><img src="/images/home/more.png" style="width:24px; margin-left:8px;" /></a> 
			</span>
		</div>
		<div id="ask_deal_{{=ask.id}}" style="position:relative;">
			{{ var askDealTemplate = _.template($('#ask-deal-template').html()) }}
	        {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
		</div>
		<div style="padding:0 12px;">
			<table class="deal_detail" cellspacing="0" cellpadding="0" style="width:100%; margin-top:10px;">
				<tr>
					<th style="width:50%;">
						<p style="margin:0 1px 0 0; background-color:#4b3d3d; font-size:12px; color:#fff; padding:6px 0 6px 12px;">
							CARD A
						</p>
						
					</th>
					<th style="width:50%;">
						<p style="margin:0 0 0 1px; background-color:#4b3d3d; font-size:12px; color:#fff; padding:6px 12px 6px 0;">
							CARD B
						</p>
					</th>
				</tr>
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; line-height:12px;">
							&nbsp;
						</p>
						
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; line-height:12px;">
							&nbsp;
						</p>
					</td>
				</tr>
				{{ if (ask.left_ask_deal.title != "" && ask.right_ask_deal.title != "" ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
							{{= ask.left_ask_deal.title }}
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
							{{= ask.right_ask_deal.title }}
						</p>
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.brand != "" && ask.right_ask_deal.brand != "" ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.left_ask_deal.brand }}
						</p>
					</td>
					<td style="width:50%; background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.right_ask_deal.brand }}
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.price != null && ask.right_ask_deal.price != null ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; color:#ee6e01; font-size:13px; padding:2px 8px;">
						{{= numberWithCommas(ask.left_ask_deal.price) }}원
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; color:#ee6e01; font-size:13px; padding:2px 8px;">
						{{= numberWithCommas(ask.right_ask_deal.price) }}원
						</p>
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.link != null || ask.right_ask_deal.link != null ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; font-size:13px; padding:2px 8px;">
							{{ var aLink = document.createElement("a") }}
							{{ aLink.href= ask.left_ask_deal.link }}
							<a href="{{= ask.left_ask_deal.link }}" target="_blank" style="color:#383838;">{{= aLink.host }} <img src="/images/ask/link_icon.png" style="width:12px; margin-bottom:-2px;" /></a>
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; font-size:13px; padding:2px 8px;">
							{{ var bLink = document.createElement("a") }}
							{{ bLink.href= ask.right_ask_deal.link }}
							<a href="{{= ask.right_ask_deal.link }}" target="_blank" style="color:#383838;">{{= bLink.host }} <img src="/images/ask/link_icon.png" style="width:12px; margin-bottom:-2px;" /></a>
						</p>
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.spec1 != "" && ask.right_ask_deal.spec1 != "" ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.left_ask_deal.spec1 }}
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.right_ask_deal.spec1 }}
						</p>
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.spec2 != "" && ask.right_ask_deal.spec2 != "" ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.left_ask_deal.spec2 }}
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px;  background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.right_ask_deal.spec2 }}
						</p>
					</td>
				</tr>
				{{ } }}
				{{ if (ask.left_ask_deal.spec3 != "" && ask.right_ask_deal.spec3 != "" ){ }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0; background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.left_ask_deal.spec3 }}
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px; background-color:#f4f4f4; color:#383838; font-size:13px; padding:2px 8px;">
						{{= ask.right_ask_deal.spec3 }}
						</p>
					</td>
				</tr>
				{{ } }}
				<tr>
					<td style="width:50%;">
						<p style="margin:0 1px 0 0; background-color:#f4f4f4; color:#383838; font-size:10px; line-height:10px; padding:0px 8px;">
						&nbsp;
						</p>
					</td>
					<td style="width:50%;">
						<p style="margin:0 0 0 1px; background-color:#f4f4f4; color:#383838; font-size:10px; line-height:10px; padding:0px 8px;">
						&nbsp;
						</p>
					</td>
				</tr>
			</table>
			<div style="margin-top:10px;">
				<p style="text-align:center; background-color:#4b3d3d; font-size:12px; color:#fff; font-weight:bold; padding:6px 0; margin:0 auto;">
					<span style="float:left; margin-left:12px; font-size:13px; color:#fff;">
						<img src="/images/home/comment_l_white.png" style="width:16px; margin:0 4px -2px 0;">&nbsp;
						<span id="left_ask_deal_comment_count">{{=ask.left_ask_deal.comment_count}}</span>
					</span>
					의견보기
					<span style="float:right; margin-right:12px; font-size:13px; color:#fff;">
						<span id="right_ask_deal_comment_count">{{=ask.right_ask_deal.comment_count}}</span>&nbsp;
						<img src="/images/home/comment_r_white.png" style="width:16px; margin:0 0 -2px 4px;">
					</span>
				</p>
				
				{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
				{{ if(ask.user_id != current_user_id && already_vote.length == 0){ }}
					<img src="/images/deal_detail/comment_blur.png" style="width:100%;" />
				{{ }else{ }}
					<div id="ask_comment" style="background-color:#f4f4f4; padding:4px 0;">
						{{ for(var i=0; i < ask.comments.length; i++) {  }}
							{{ comment = ask.comments[i] }}
							{{ var askCommentTemplate = _.template($('#ask-comment-template').html()) }}
					        {{= askCommentTemplate({ask:ask, comment: comment}) }}
						{{ } }}
					</div>
					<table cellspacing="0" cellpadding="0" style="width:100%; border:1px solid #dbdbdb; background-color:#fff; margin-bottom:16px;">
						{{ if(ask.user_id == current_user_id){ }}
							{{ ask_deal_id = ask.left_ask_deal_id }}
							{{ ask_deal_text = "A" }}
						{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
							{{ ask_deal_id = ask.left_ask_deal_id }}
							{{ ask_deal_text = "A" }}
						{{ }else{ }}
							{{ ask_deal_id = ask.right_ask_deal_id }}
							{{ ask_deal_text = "B" }}
						{{ } }}
						<tbody>
							<tr>
								<td style="padding:7px 7px 7px 12px;">
									<a id="ask_deal_id_change" onclick="ask_deal_id_change(); return false;" href="#" style="width:30px; height:32px; line-height:32px; border:1px solid #dbdbdb; color:#4b3d3d; display:inline-block; font-size:14px;">{{=ask_deal_text}}</a>
								</td>
								<td style="width:100%;">
									<input id="comment_input" type="text" class="comment_box" placeholder="의견을 입력해주세요." style="" />
								</td>
								<td style="padding-right:12px;">
									<a id="send_comment_btn" href="#" onclick="send_comment({{=ask.id}}, {{=ask_deal_id}}); return false;" style="width:50px; height:34px; line-height:34px; background-color:#ee6e01; display:inline-block; color:#fff; font-size:14px;">입력</a>
								</td>
							</tr>
						</tbody>
					</table>
				{{ } }}
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td style="width:50%; position:relative;">
		  		<img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' style="width:100%; display:block;" />
		  		{{ if( ask.user_id != current_user_id  && already_vote.length == 0 ){ }}
		  		<a class="vote_btn_{{=ask.id}}" href="#" onclick="vote_ask_deal({{=left_ask_deal.id}}, true); return false;"><img style="width:100px; position:absolute; left:50%; margin-left:-50px; bottom:16px;" src="/images/home/vote_btn.png" /></a>
		  		{{ } }}
			</td>
			<td style="width:50%; position:relative;">
				<img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' style="width:100%; display:block;" />
				{{ if( ask.user_id != current_user_id && already_vote.length == 0 ){ }}
				<a class="vote_btn_{{=ask.id}}" href="#" onclick="vote_ask_deal({{=right_ask_deal.id}}, false); return false;"><img style="width:100px; position:absolute; left:50%; margin-left:-50px; bottom:16px;" src="/images/home/vote_btn.png" /></a>
				{{ } }}
			</td>
		</tr>
	</table>
	{{ if( ask.user_id == current_user_id || already_vote.length != 0 ){ }}
		{{ if (ask.user_id == current_user_id){ }}
			<div style="background:url('/images/home/vote_result_none.png'); background-size:100% 100%; overflow: hidden; position:absolute; left:0; top:0; width:100%; height:100%;"></div>
		{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
			<div style="background:url('/images/home/vote_result_l.png'); background-size:100% 100%; overflow: hidden; position:absolute; left:0; top:0; width:100%; height:100%;"></div>
		{{ }else{ }}
			<div style="background:url('/images/home/vote_result_r.png'); background-size:100% 100%; overflow: hidden; position:absolute; left:0; top:0; width:100%; height:100%;"></div>
		{{ } }}
		
		{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
		{{ if (ask.user_id == current_user_id && total_count == 0){ }}
			{{ left_ratio = 0 }}
			{{ right_ratio = 0 }}
		{{ }else{ }}
			{{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 100) }}
			{{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 100) }}
		{{ } }}
		
		{{left_background = "#fff"}}
		{{right_background = "#fff"}}
		{{ if (left_ratio > right_ratio){ }}
			{{left_background = "#ee6e01"}}
		{{ }else if(left_ratio < right_ratio){ }}
			{{right_background = "#ee6e01"}}
		{{ } }}
		<table cellspacing="0" cellpadding="0" style="position:absolute; bottom:0; width:100%; background-color:#4b3d3d; color:#fff; font-size:12px; font-weight:bold; height:32px;">
			<tr>
				<td class="vote-result-td" style="text-align:right;">
					<span style="float:left; margin-left:10px;">{{= left_ratio }}%</span>
					<span style="display:inline-block; width:{{= Math.round(left_ratio * 0.6) + 2 }}%; height:5px; line-height:7px; background-color:{{=left_background}};">&nbsp;</span>
				</td>
				<td style="min-width:56px;">
					투표 결과
				</td>
				<td class="vote-result-td" style="text-align:left;">
					<span style="float:right; margin-right:10px;">{{= right_ratio }}%</span>
					<span style="display:inline-block; width:{{= Math.round(right_ratio * 0.6) + 2 }}%; height:5px; line-height:7px; background-color:{{=right_background}};">&nbsp;</span>
				</td>
			</tr>
		</table>
	{{ } }}
</script>

<script type="text/template" id="ask-comment-template">
	
	{{ if (ask.left_ask_deal_id == comment.ask_deal_id ){ }}
		<div style="width:100%; text-align:left;">
			<div style="position:relative; margin:4px 0px 0 14px; max-width:60%; display:inline-block; text-align:left; background-color:#FFF; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;">
				<span style="word-break:break-all;">{{=comment.content}}</span>
				<div style="position: absolute; top:1px; left:-8px;">			
					<img style="width:8px;" src="/images/deal_detail/seg_comment_l.png">		
				</div>
			</div>
			<p style="margin:0; padding:2px 0 6px 14px; font-size:12px; color:#9e9fa1;">
				@{{=comment.user.string_id}} &nbsp;{{= get_past_time(comment.created_at) }}
				<a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1;"><img src="/images/etc/recommend_icon.png" style="width:10px;"> <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span></a> | <a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">신고</a> 
			</p>
		</div>
	{{ }else{ }}
		<div style="width:100%; text-align:right;">
			<div style="position:relative; margin:4px 14px 0 0px; max-width:60%; display:inline-block; text-align:left; background-color:#FFF; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;">
				<span style="word-break:break-all;">{{=comment.content}}</span>
				<div style="position: absolute; top:1px; right:-8px;">			
					<img style="width:8px;" src="/images/deal_detail/seg_comment_r.png">		
				</div>
			</div>
			<p style="margin:0; padding:2px 14px 6px 0; font-size:12px; color:#9e9fa1;">
				<a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">신고</a> | <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1;"><img src="/images/etc/recommend_icon.png" style="width:10px;"> <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span></a>
				{{= get_past_time(comment.created_at) }} &nbsp;@{{=comment.user.string_id}}
			</p>
		</div>
	{{ } }} 
</script>

<script> 
	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>
	var asks = <%= raw @asks.to_json %>;
	var my_votes = <%= raw @my_votes.to_json %>;
	var my_vote_count = <%= @my_votes.length %>;
	var askShowTemplate = _.template( $('#ask-show-template').html() );
	for(var i=0; i < asks.length; i++) {
		var ask = asks[i]
        $('#asks').append(askShowTemplate({ask: ask}));
        var hash_tags = ask.message.match(/#(\S+)/g);
        $.each(hash_tags, function( index, hash_tag ) {
		  	$("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
		  	hash_tag = hash_tag.replace('#', '').replace("?","")
			$("#ask_"+ask.id+"_message ."+index).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"});
		});
	}
	
	function comment_input_by_key(){
		var comment_message = $('#comment_input').val();
		if(comment_message == "" || comment_message == undefined){
			notify("내용을 입력해주세요.");
		}else{
			$("#send_comment_btn").click(); 
		}
	}
	
	$('#comment_input').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	comment_input_by_key();
      	}
	});
	
	function vote_ask_deal(ask_deal_id, is_left){
		if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	my_votes.push(data.vote);
			        $('#asks').html(askShowTemplate({ask: data.ask}));
	        		notify("투표 완료");
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});	
	 	}
	}
	
	function send_comment(ask_id, ask_deal_id){
		if (current_user_id == 0){
			notify("회원가입 후<br />의견을 남길 수 있습니다.");
		}else{
			var content = $(".comment_box").val();
			if( content == "" || content == null ){
				notify('내용을 입력해주세요.');
				return;
			}
			$.ajax({
		        url: "/comments.json",
		        type: 'POST',
		        data: {'content': content, 'ask_id':ask_id, 'ask_deal_id':ask_deal_id },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message = "success"){
		        		var comment = data.comment;
		        		var askCommentTemplate = _.template($('#ask-comment-template').html());
		        		$("#ask_comment").append(askCommentTemplate({ask:ask, comment: comment}));
		        		notify("작성 완료");
		        		$(".comment_box").val("");
		        		
		        		if ($("#ask_deal_id_change").html() == "A"){
		        			var left_ask_deal_comment_count = $("#left_ask_deal_comment_count");
		        			left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) + 1 );
		        		}else{
		        			var right_ask_deal_comment_count = $("#right_ask_deal_comment_count");
		        			right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) + 1 );
		        		}
		        	}else{
		        		notify("댓글은 회원만 작성 가능합니다");
		        	}
		        	
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
		}
		
	}
	
	function comment_like(comment_id){
		<% if current_user %>
		$.ajax({
	        url: "/comments/"+comment_id+"/like.json",
	        type: 'POST',
	        data: {'blank': 'blank'},
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var comment_count_span = $("#comment_"+comment_id+"_like_count");
	        	if (data.already_like){
	        		comment_count_span.html( parseInt(comment_count_span.html()) - 1 );
	        		notify("좋아요 취소");
	        	}else{
	        		comment_count_span.html( parseInt(comment_count_span.html()) + 1 );
	        		notify("좋아요 완료");
	        	}
	        },
	        beforeSend: function(){
	       		$(".loading").show();
	        },
	        complete: function(){
	        	$(".loading").hide();
	        }
		});
		<% else %>
			notify("회원가입 후<br />추천 할 수 있습니다.")
		<% end %>
	}
	
	function comment_report(comment_id, user_id){
		show_more_popup('comment',comment_id, user_id, '', '');
		show_report_popup(); 
	}
	
	function ask_deal_id_change(){
		if ($("#ask_deal_id_change").html() == "A"){
			$("#ask_deal_id_change").html("B")
			$("#send_comment_btn").attr("onclick", "send_comment("+asks[0].id+", "+asks[0].right_ask_deal.id+"); return false;");
		}else{
			$("#ask_deal_id_change").html("A")
			$("#send_comment_btn").attr("onclick", "send_comment("+asks[0].id+", "+asks[0].left_ask_deal.id+"); return false;");
		}
	}
	
	
</script>

