<div style="margin:0 auto; text-align:center;">
	<a href="/admin" style="display:inline-block; background-color:#e6b621; color:white; text-decoration:none; padding:8px; margin-top:20px;">main</a>
	<% @tables.each do |table| %>
		<a href="/admin/table/<%=table%>" style="display:inline-block; background-color:#e6b621; color:white; text-decoration:none; padding:8px; margin-top:20px;"><%=table%></a>
	<% end %>
	<a data-method="delete" rel="nofollow" href="/users/sign_out" style="color:#ee6e01; font-size:12px; text-align:left; margin-left:6px;">로그아웃</a>
</div>


<% if @records.blank?%>
	<p style="margin:0 auto; padding:200px 0; width:100%;text-align:center;">
		데이터가 없습니다.
	</p>
	<% else %>
	
	<table border="1" cellspacing="0" cellpadding="2" style="width: 100%; margin-top:20px; font-size:12px; text-align:center;">
	  <thead>
	    <tr>
	      <% @record_names.each do |name| %>
	      	<th><%=name%></th>
	      <% end %>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @records.each do |record| %>
			<tr>
				<% @record_names.each do |name| %>
			    	<td><%=record[name]%></td>
			    <% end %>
			    
			    <td>
			    <% if record.class == User %>
			    	<%= link_to '삭제', "/users/"+record.id.to_s, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
			    <% else %>
			    	<%= link_to '삭제', record, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
			    <% end %>
			    </td>
			    
	       	</tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
