<div style="padding:10px;">
  <div style="margin-bottom:30px;">
    <h2 style="margin:10px 0; padding:0 5px;"><i class="fa fa-check"></i> 비디오 컨텐츠</h2>
    <input id="video_ask_id" class="video_input" type="text" name="point" placeholder="질문 id 입력 (숫자)" />
    <input id="video_title" class="video_input" type="text" name="point" placeholder="제목 입력 (A vs B, 제품명 비교!)" />
    <input id="video_url" class="video_input" type="text" name="point" placeholder="URL 입력 (11자리 ex) AxOaz4T2PLQ)" />
    <iframe id="video_ask_preview" width="100%" height="320" src="" frameborder="0" allowfullscreen="" style="display:none;"></iframe>
    <iframe id="video_preview" width="100%" height="320" src="" frameborder="0" allowfullscreen="" style="display:none;"></iframe>
    <a id="video_submit" href="#" onclick="preview_video(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:10px 0; height:50px; line-height:50px; text-align:center;">미리보기</a>
  </div>
  <div>
    <p style="margin:30px 0 10px; padding:0 5px;"><i class="fa fa-info-circle"></i> 게시 비디오 리스트</p>
    <table border="1" cellspacing="1" cellpadding="2" style="width:100%; font-size:12px; text-align:center;">
      <thead>
        <tr style="height:40px; background-color:#998674; color:#fff;">
          <th style="width:120px;">게시일</th>
          <th>제목</th>
          <th>질문</th>
          <th>유튜브</th>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |video| %>
          <tr>
            <td><%=video.created_at.to_date.to_s(:korean_date)%></td>
            <td><%=video.title%></td>
            <td><a href="/asks/<%=video.ask_id%>" target="_blank"><%=video.ask_id%></a></td>
            <td><a href="https://www.youtube.com/watch?v=<%=video.url.gsub("//www.youtube.com/embed/","").gsub("?feature=youtu.be&amp;autoplay=0","")%>" target="_blank" style="color:red; font-size:24px;"><i class="fa fa-youtube"></i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .video_input {
    display:block;
    width:100%;
    height:40px;
    line-height:40px;
    padding:0 10px;
    margin-bottom: 10px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border:1px solid #dbdbdb;
    color:#666;
    font-size:14px;
    -webkit-appearance:none;
    border-radius:0;
  }
</style>

<script>
  function preview_video() {
    var ask_id = $("#video_ask_id").val();
    var title = $("#video_title").val();
    var url = $("#video_url").val();
    var ask_iframe = $("#video_ask_preview");
    var video_iframe = $("#video_preview");
    ask_id = "/asks/" + ask_id;
    url = "//www.youtube.com/embed/" + url + "?feature=youtu.be&amp;autoplay=0";
    ask_iframe.attr("src", ask_id).show();
    video_iframe.attr("src", url).show();
    $("#video_submit").attr("onclick", "create_video(); return false;").html("게시하기");
  }
  function create_video() {
    var ask_id = $("#video_ask_id").val();
    var title = $("#video_title").val();
    var url = $("#video_url").val();
    if (ask_id.length == 0 || title.length == 0 || url.length != 11){
      alert("입력한 항목이 충분하지 않습니다");
    } else if (confirm("메인화면에 게시하시겠어요?")) {
      url = "//www.youtube.com/embed/" + url + "?feature=youtu.be&amp;autoplay=0";
      $.ajax({
        url: "/admin/create_video.json",
        type: 'POST',
        data: {'ask_id': ask_id , 'title': title, 'url': url},
        dataType: 'json',
        error: function(){
          return false;
        },
        success: function(data){
          location.reload();
        },
        beforeSend: function(){
          $(".loading").show();
        },
        complete: function(){
          $(".loading").hide();
        }
      });
    }
  }
</script>
