<% title = 'VASKIT' %>
<% description = 'VASKIT에서 당신의 구매고민을 이야기 해보세요 : )' %>
<% url = root_url %>
<% image_url = "#{CONFIG['host']}/images/logo/logo_share_1200_630.png" %>

<% if (controller.controller_name == 'home')%>
    <% if (controller.action_name == 'index')%>
        <% title = 'VASKIT | 세상의 모든 결정장애자들을 위하여!' %>
        <% description = '#둘중에뭐사지? #혼자고민하지마! 꼼꼼한 소비자들의 깐깐한 선택, VASKIT에서 당신의 구매고민을 이야기 해보세요 : )' %>
        <% url = root_url %>
    <% elsif (controller.action_name == 'landing') %>
        <% title = 'VASKIT | 지금 바로 가입하세요!' %>
        <% description = 'VASKIT에 오신 것을 환영합니다! 지금 가입하고 당신의 구매고민을 이야기 해보세요 : )' %>
        <% url = landing_url %>
    <% end %>
<% elsif (controller.controller_name == 'collections') %>
    <% if (controller.action_name == 'index') %>
        <% title = 'VASKIT | 깐슈머들의 위시리스트!' %>
        <% description = '최근 쇼핑 트렌드를 놓치고 싶지 않다면? VASKIT 에디터가 엄선한 쇼핑 리스트를 둘러보세요!' %>
        <% url = collections_url %>
    <% elsif (controller.action_name == 'show') %>
        <% title = "VASKIT | #{@collection.name}" %>
        <% description = "[깐슈머들의 위시리스트] #{@collection.description}" %>
        <% url = collection_url %>
        <% image_url = "#{CONFIG['host']}#{@collection.image.url(:original)}" %>
    <% end %>
<% elsif (controller.controller_name == 'asks') %>
    <% if (controller.action_name == 'index') %>
        <% title = 'VASKIT | 새로운 질문들' %>
        <% description = '당신의 현명한 선택을 기다리는 새로운 질문들! VASKIT에서 당신의 결정력을 보여주세요!' %>
        <% url = asks_url %>
    <% elsif (controller.action_name == 'show') %>
        <% title = "VASKIT | #{@ask.left_ask_deal.title.truncate(16)} vs #{@ask.right_ask_deal.title.truncate(16)}" %>
        <% description = "#{@ask.left_ask_deal.title} vs #{@ask.right_ask_deal.title}, 당신의 선택은? #{@ask.message.truncate(200)}" %>
        <% url = ask_url %>
    <% elsif (controller.action_name == 'new') %>
        <% title = 'VASKIT | 질문 작성하기' %>
        <% description = '뭘 사면 좋을지 고민중이신가요? 지금 바로 VASKIT에 물어보세요!' %>
        <% url = new_ask_url %>
    <% elsif (controller.action_name == 'edit') %>
        <% title = 'VASKIT | 질문 수정하기' %>
        <% description = "#{@ask.left_ask_deal.title} vs #{@ask.right_ask_deal.title}, 당신의 선택은? #{@ask.message.truncate(200)}" %>
        <% url = edit_ask_url %>
    <% end %>
<% elsif (controller.controller_name == 'videos') %>
    <% if (controller.action_name == 'index') %>
        <% title = 'VASKIT | VASKIT맨의 비교영상' %>
        <% description = 'VASKIT맨이 직접 두가지 제품을 비교해드립니다!' %>
        <% url = videos_url %>
    <% elsif (controller.action_name == 'show') %>
        <% title = "VASKIT | #{@video.title}" %>
        <% description = "[VASKIT맨의 비교영상] #{@video.description}" %>
        <% url = video_url %>
        <% image_url = "#{CONFIG['host']}#{@video.image.url(:original)}" %>
    <% end %>
<% elsif (controller.controller_name == 'search') %>
    <% if (controller.action_name == 'index' && controller.request.params[:type] != nil && controller.request.params[:keyword] != nil) %>
        <% case @type %>
        <% when 'hash_tag' %>
            <% title = "VASKIT | #{controller.request.params[:keyword]} - 해쉬태그 검색결과" %>
            <% description = "#{controller.request.params[:keyword]} - VASKIT 해쉬태그 검색결과입니다" %>
        <% when 'ask_deal' %>
            <% title = "VASKIT | #{controller.request.params[:keyword]} - 제품 검색결과" %>
            <% description = "#{controller.request.params[:keyword]} - VASKIT 제품 검색결과입니다" %>
        <% when 'brand' %>
            <% title = "VASKIT | #{controller.request.params[:keyword]} - 브랜드 검색결과" %>
            <% description = "#{controller.request.params[:keyword]} - VASKIT 브랜드 검색결과입니다" %>
        <% when 'user' %>
            <% title = "VASKIT | #{controller.request.params[:keyword]} - 사용자 검색결과" %>
            <% description = "#{controller.request.params[:keyword]} - VASKIT 사용자 검색결과입니다" %>
        <% when 'none' %>
            <% title = "VASKIT | #{controller.request.params[:keyword]} - 통합 검색결과" %>
            <% description = "#{controller.request.params[:keyword]} - VASKIT 통합 검색결과입니다" %>
        <% end %>
        <% url = "#{search_index_url}?type=#{controller.request.params[:type]}&keyword=#{controller.request.params[:keyword]}" %>
    <% else %>
        <% title = 'VASKIT | 검색하기' %>
        <% description = '지금까지와는 또다른 쇼핑검색! 소비자들의 선택을 검색해보세요!' %>
        <% url = search_index_url %>
    <% end %>
<% elsif (controller.controller_name == 'sessions') %>
    <% if (controller.action_name == 'users') %>
        <% title = 'VASKIT | 마이 페이지' %>
        <% description = '마이 페이지' %>
        <% url = users_url %>
    <% elsif (controller.action_name == 'history' && controller.request.params[:type] != nil) %>
        <% case @type %>
        <% when 'my_asks_in_progress' %>
            <% title = 'VASKIT | 진행중인 질문' %>
            <% description = '나의 진행중인 질문입니다' %>
        <% when 'my_completed_asks' %>
            <% title = 'VASKIT | 종료한 질문' %>
            <% description = '나의 종료한 질문입니다' %>
        <% when 'my_likes' %>
            <% title = 'VASKIT | 공감한 질문' %>
            <% description = '나의 공감한 질문입니다' %>
        <% when 'my_votes' %>
            <% title = 'VASKIT | 참여한 투표' %>
            <% description = '나의 참여한 투표입니다' %>
        <% when 'my_comments' %>
            <% title = 'VASKIT | 제시한 의견' %>
            <% description = '나의 제시한 의견입니다' %>
        <% end %>
        <% url = "#{users_history_url}?type=#{controller.request.params[:type]}" %>
    <% elsif (controller.action_name == 'settings') %>
        <% title = 'VASKIT | 계정 설정하기' %>
        <% description = '계정 정보를 설정할 수 있어요' %>
        <% url = users_settings_url %>
    <% elsif (controller.action_name == 'edit_profile') %>
        <% title = 'VASKIT | 프로필 편집하기' %>
        <% description = '당신의 예쁜 모습을 보여주세요!' %>
        <% url = users_settings_edit_profile_url %>
    <% elsif (controller.action_name == 'edit_password') %>
        <% title = 'VASKIT | 비밀번호 변경하기' %>
        <% description = '비밀번호를 변경하시겠어요?' %>
        <% url = users_settings_edit_password_url %>
    <% elsif (controller.action_name == 'edit_push_alarm') %>
        <% title = 'VASKIT | 알림 설정' %>
        <% description = '알림을 설정할 수 있어요' %>
        <% url = users_settings_edit_push_alarm_url %>
    <% elsif (controller.action_name == 'edit_email_alarm') %>
        <% title = 'VASKIT | 이메일 알림 설정' %>
        <% description = '이메일 알림을 설정할 수 있어요' %>
        <% url = users_settings_edit_email_alarm_url %>
    <% elsif (controller.action_name == 'new') %>
        <% title = 'VASKIT | 로그인하기' %>
        <% description = '어디 갔었어요~ 기다렸잖아요~ 지금 바로 로그인하시고 당신의 끝장 결정력을 보여주세요!' %>
        <% url = new_user_session_url %>
    <% end %>
<% elsif (controller.controller_name == 'registrations') %>
    <% if (controller.action_name == 'new') %>
        <% title = 'VASKIT | 회원가입' %>
        <% description = '지금 바로 회원가입 하시고 VASKIT의 유용한 정보 많이 얻어가세요!' %>
        <% url = new_user_registration_url %>
    <% end %>
<% elsif (controller.controller_name == 'passwords') %>
    <% if (controller.action_name == 'new') %>
        <% title = 'VASKIT | 비밀번호를 잊으셨나요?' %>
        <% description = '가입하신 이메일 주소를 입력해주세요, 비밀번호를 재설정할 수 있도록 메일을 보내드립니다' %>
        <% url = users_forgot_password_url %>
    <% elsif (controller.action_name == 'edit') %>
        <% title = 'VASKIT | 비밀번호 재설정' %>
        <% description = '비밀번호를 재설정해주세요' %>
        <% url = users_reset_password_url %>
    <% end %>
<% elsif (controller.controller_name == 'etc') %>
    <% if (controller.action_name == 'contact_us') %>
        <% title = 'VASKIT | 문의하기' %>
        <% description = 'VASKIT을 이용하시면서 불편하신 점이 있으신가요? 무엇이든 말씀해주세요!' %>
        <% url = contact_us_etc_index_url %>
    <% elsif (controller.action_name == 'faq_help') %>
        <% title = 'VASKIT | 도움말' %>
        <% description = 'VASKIT을 이용하시면서 궁금하신 점이 있으신가요? 자주 묻는 질문을 간추려보았습니다' %>
        <% url = faq_help_etc_index_url %>
    <% elsif (controller.action_name == 'access_term') %>
        <% title = 'VASKIT | 이용약관' %>
        <% description = 'VASKIT의 이용약관입니다' %>
        <% url = access_term_etc_index_url %>
    <% elsif (controller.action_name == 'privacy_policy') %>
        <% title = 'VASKIT | 개인정보 취급정책' %>
        <% description = 'VASKIT은 회원님의 개인정보를 중요하게 여기고, 언제나 그 관리에 최선을 다하고 있습니다' %>
        <% url = privacy_policy_etc_index_url %>
    <% end %>
<% end %>


<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no">

<meta name="application-name" content="VASKIT">
<meta name="title" content="<%= title %>" />
<meta name="description" content="<%= description %>">

<meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- Verify ownership for Google Search Console -->
<meta name="google-site-verification" content="k_OYK18dL5birKeDRx_4D1CkkhDIq6ooRJtpOqnt6TY" />
<!-- Verify ownership for NAVER Search Console -->
<meta name="naver-site-verification" content="2d90db92ba9197478a54e3eebc7654049863ec15"/>

<!-- Full domain name or web address -->
<meta name="url" content="<%= CONFIG['host'] %>">
<meta name="identifier-URL" content="<%= CONFIG['host'] %>"> <!-- Does the same as URL, older and not supported -->

<!-- Favicons -->
<link rel="manifest" href="/images/logo/favicon/manifest.json">
<!-- For IE 10 and below -->
<!-- No link, just place a file called favicon.ico in the root directory -->
<!-- For IE 11, Chrome, Firefox, Safari, Opera -->
<link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48"  href="/images/logo/favicon/android-icon-48x48.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/logo/favicon/android-icon-192x192.png">

<!-- Apple iOS Touch Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/logo/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/logo/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/logo/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/logo/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/logo/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/logo/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/logo/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/logo/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/logo/favicon/apple-icon-180x180.png">
<link rel="apple-touch-icon-precomposed" href="/images/logo/favicon/apple-icon-precomposed.png">
<link rel="mask-icon" href="/images/logo/favicon/apple-icon-pinned-site.svg" color="#FF7200">
<!-- In most cases, one 180×180px touch icon in the head is enough -->
<!-- If you use art-direction and/or want to have different content for each device, you can add more touch icons -->

<!-- Google Android -->
<meta name="theme-color" content="#FFF">

<!-- Microsoft Internet Explorer -->
<meta name="msapplication-TileColor" content="#FFF">
<meta name="msapplication-TileImage" content="/images/logo/favicon/ms-icon-144x144.png">


<!-- Apple iOS -->
<!-- Smart App Banner -->
<!-- <meta name="apple-itunes-app" content="app-id=1188969345, affiliate-data=myAffiliateData, app-argument=myURL"> -->

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<!-- Add to Home Screen -->
<!-- Apple iOS -->
<meta name="apple-mobile-web-app-title" content="VASKIT">
<!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="default"> -->
<!-- Google Android -->
<!-- <meta name="mobile-web-app-capable" content="yes"> -->

<!-- Facebook / Open Graph -->
<meta property="fb:app_id" content="532503193593128" />
<meta property="og:url" content="<%= url %>"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= title %>"/>
<meta property="og:image" content="<%= image_url %>"/>
<meta property="og:description" content="<%= description %>"/>
<meta property="og:site_name" content="VASKIT" />
<meta property="og:locale" content="ko_KR" />
