<% case @type %>
<% when "user", "hash_tag", "ask_deal", "brand", "none" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		<% if @type == "user" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-user"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;유저 검색 결과입니다.
		<% elsif @type == "hash_tag" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-slack" style="transform:rotateY(180deg) skewY(18deg);"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;해쉬태그 검색 결과입니다.
		<% elsif @type == "ask_deal" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-cube"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;제품명 검색 결과입니다.
		<% elsif @type == "brand" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-tag"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;브랜드 검색 결과입니다.
		<% elsif @type == "none" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-search"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;통합 검색 결과입니다.
		<% end %>
	</p>
<% when "my_ask", "vote_ask", "comment_ask", "my_ask_in_progress" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<p class="chat_bubble">
		<% if @type == "my_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id).count %>개</span>의 질문을 던지셨군요!<br>와우! 많은 고민을 해결하셨나요?
		<% elsif @type == "vote_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Vote.where(:user_id => current_user.id).count %>개</span>의 투표에 참여했군요!<br>와우! 많은 이들의 탈모를 막아주었습니다!
		<% elsif @type == "comment_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Comment.where(:user_id => current_user.id).count %>개</span>의 의견을 남기셨군요!<br>와우! 우리 모두 수다쟁이를 좋아한답니다!
		<% elsif @type == "my_ask_in_progress" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 현재 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id, :be_completed => false).count %>개</span>의 질문을 진행중입니다.<br>더보기 버튼을 눌러 투표를 종료할 수 있는 것, 알고 계셨나요?
		<% end %>
	</p>
<% else %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		투표하기 버튼을 눌러 투표에 참여해보세요! Let's VASKIT!
	</p>
<% end %>


<div id="asks" style="padding:12px 12px 0px;"></div>
<div class="home-float-btn-area">
	<% if current_user %>
		<a href="/asks/new" style="display:block;">
			<div class="home-float-btn">
				<i class="fa fa-plus"></i>
			</div>
			<div class="home-float-btn-text">질문<br>하기</div>
		</a>
	<% else %>
		<a href="#" onclick="visitor_new_ask(); return false;" style="display:block;"><div class="home-float-btn"><i class="fa fa-plus"></i></div><div class="home-float-btn-text">질문<br>하기</div></a>
	<% end %>
</div>

<% if @asks && @asks.length == Ask::ASK_PER %>
	<p id="endless_loading" style="margin-top:10px;">
		<img style="width:90px; margin-bottom:-7px;" src="/images/common/loading.gif" />
	</p>
<% end %>

<script type="text/template" id="ask-template">
	<div id="ask_{{=ask.id}}" class="content_box">
		<div id="ask_{{=ask.id}}_category" class="table_div" style="margin-bottom:0px; border-bottom:1px solid #dbdbdb;">
			<span class="input_icon left_input" onclick="category_on(); return false;" style="border:none; border-radius:0; background-color:rgba(153,134,116,0.8); color:#fff; cursor:pointer;"><i class="fa fa-filter"></i></span>
	    {{ if (ask.category) { }}
	    	<span class="category" onclick="category_on(); return false;">{{= ask.category.name }}</span>
	    {{ }else{ }}
	    	<span class="category none" onclick="category_on(); return false;">관심사 미설정</span>
	    {{ } }}
			<div style="position:absolute; bottom:0; right:0;">
				<a class="share_icon" style="width:80px;" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				{{ if (ask.be_completed == false){ }}
	        <a class="more_icon" style="width:70px;" href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><i class="fa fa-chevron-down" style="font-size:10px; color:#998674;"></i>&nbsp;더보기</a>
				{{ } }}
			</div>
	  </div>
		<div id="ask_{{=ask.id}}_user" class="table_div" style="margin-bottom:0; padding:15px; border-bottom:1px solid #dbdbdb;">
			{{ if (ask.user) { }}
			  {{ gender_css = "color:#0389ed; border: solid 1px #0389ed;" }}
			  {{ if (!ask.user.gender) { }}
			    {{ gender_css = "color:#ea065e; border: solid 1px #ea065e;" }}
			  {{ } }}
			  <p style="margin:0px 5px 0px -1px; font-size:12px; padding:3px 4px; float:left; font-weight:bold; opacity:0.8; border-radius:5px; {{= gender_css}} border-right-width:2px; border-bottom-width:2px;">
					{{ if (ask.user.gender){ }}
						<i class="fa fa-male" style="margin-right:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-right:-2px;"></i>
					{{ } }}
					{{= get_user_ages(ask.user.birthday) }}
				</p>
				<a href="/?keyword={{= ask.user.string_id }}&type=user"><p style="margin:3px 0 0 0; color:#998675; font-size:17px; float:left; max-width:150px; overflow:hidden; text-overflow:ellipsis;">{{= ask.user.string_id }}</p></a>
				<span style="float:right; padding-top:5px; color:#9e9fa3; font-size:12px;">
					<i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span id="ask_{{=ask.id}}_vote_count">{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}표</span>
				</span>
				{{ if (ask.be_completed == true) { }}
					<div style="color: #fff; background: #4b3d3d; padding: 4px 5px 5px 5px; font-size: 11px; float: right; border-radius: 6px; margin-right: 5px; border-right: 2px solid #998674; border-bottom: 2px solid #998674;">투표종료</div>
				{{ } }}
			{{ } }}
		</div>
		<div id="ask_deal_{{=ask.id}}" style="position:relative;">
			{{ var askDealTemplate = _.template($('#ask-deal-template').html()) }}
	    {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
		</div>
		<div id="ask_deal_{{=ask.id}}_table" class="card_detail_table" style="padding:10px 10px 0px 10px; border-bottom:1px solid #dbdbdb; display:none;">
			{{ var blank_field = '<p class="output_field" style="color:#9d9ea1;">-</p>' }}
			{{ if (ask.left_ask_deal.title != "" && ask.right_ask_deal.title != "" ){ }}
				<div class="table_div">
					<div class="ask_text_field left_input output_field" style="font-weight:bold;">
						<p class="output_field">{{= ask.left_ask_deal.title }}</p>
						<div class="tooltip_area">
							<div class="tooltip_arrow bottom"></div>
							<div class="tooltip_content">{{= ask.left_ask_deal.title }}</div>
						</div>
					</div>
					<div class="ask_text_field right_input output_field" style="font-weight:bold;">
						<p class="output_field">{{= ask.right_ask_deal.title }}</p>
						<div class="tooltip_area">
							<div class="tooltip_arrow bottom"></div>
							<div class="tooltip_content">{{= ask.right_ask_deal.title }}</div>
						</div>
					</div>
					<span class="input_icon center_input"><i class="fa fa-cube"></i></span>
				</div>
			{{ } }}
			{{ if (ask.left_ask_deal.brand != "" || ask.right_ask_deal.brand != "" ){ }}
				<div class="table_div">
					<div class="ask_text_field left_input output_field">
						{{ if (ask.left_ask_deal.brand == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.brand }}</p>{{ } }}
					</div>
					<div class="ask_text_field right_input output_field">
						{{ if (ask.right_ask_deal.brand == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.brand }}</p>{{ } }}
					</div>
					<span class="input_icon center_input"><i class="fa fa-tag"></i></span>
				</div>
			{{ } }}
			{{ if (ask.left_ask_deal.price != null || ask.right_ask_deal.price != null ){ }}
				<div class="table_div">
					<div class="ask_text_field left_input output_field">
						{{ if (ask.left_ask_deal.price == null) { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= numberWithCommas(ask.left_ask_deal.price) }}원</p>{{ } }}
					</div>
					<div class="ask_text_field right_input output_field">
						{{ if (ask.right_ask_deal.price == null) { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= numberWithCommas(ask.right_ask_deal.price) }}원</p>{{ } }}
					</div>
					<span class="input_icon center_input"><i class="fa fa-won"></i></span>
				</div>
			{{ } }}
			{{ if (ask.left_ask_deal.link != "" || ask.right_ask_deal.link != "" ){ }}
				<div class="table_div">
					<div class="ask_text_field left_input output_field">
						{{ if (ask.left_ask_deal.link == "") { }} {{= blank_field }} {{ } else { }}
							<p class="output_field">
								{{ var aLink = document.createElement("a") }}
								{{ aLink.href = ask.left_ask_deal.link }}
								<a href="{{= ask.left_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= aLink.host }}</a>
							</p>
						{{ } }}
					</div>
					<div class="ask_text_field right_input output_field">
						{{ if (ask.right_ask_deal.link == "") { }} {{= blank_field }} {{ } else { }}
							<p class="output_field">
								{{ var bLink = document.createElement("a") }}
								{{ bLink.href = ask.right_ask_deal.link }}
								<a href="{{= ask.right_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= bLink.host }}</a>
							<p>
						{{ } }}
					</div>
					<span class="input_icon center_input"><i class="fa fa-link"></i></span>
				</div>
			{{ } }}
			{{ if (ask.spec1 != "" || ask.spec2 != "" || ask.spec3 != "" || ask.left_ask_deal.spec1 != "" || ask.left_ask_deal.spec2 != "" || ask.left_ask_deal.spec3 != "" || ask.right_ask_deal.spec1 != "" || ask.right_ask_deal.spec2 != "" || ask.right_ask_deal.spec3 != "") { }}
				<div class="table_div" style="border:1px solid #dbdbdb; border-radius:5px; overflow:hidden;">
					<table class="deal_spec_detail" cellspacing="0" cellpadding="0" style="width:100%;">
						{{ if (ask.spec1 != "" || ask.left_ask_deal.spec1 != "" || ask.right_ask_deal.spec1 != "" ){ }}
							<tr>
								<td style="width:40%;">
									{{ if (ask.left_ask_deal.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec1 }}</p>{{ } }}
								</td>
								<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb;">
									{{ if (ask.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec1 }}</p>{{ } }}
								</td>
								<td style="width:40%;">
									{{ if (ask.right_ask_deal.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec1 }}</p>{{ } }}
								</td>
							</tr>
						{{ } }}
						{{ if (ask.spec2 != "" || ask.left_ask_deal.spec2 != "" || ask.right_ask_deal.spec2 != "" ){ }}
							<tr>
								<td style="width:40%; border-top:1px solid #dbdbdb;">
									{{ if (ask.left_ask_deal.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec2 }}</p>{{ } }}
								</td>
								<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
									{{ if (ask.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec2 }}</p>{{ } }}
								</td>
								<td style="width:40%; border-top:1px solid #dbdbdb;">
									{{ if (ask.right_ask_deal.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec2 }}</p>{{ } }}
								</td>
							</tr>
						{{ } }}
						{{ if (ask.spec3 != "" || ask.left_ask_deal.spec3 != "" || ask.right_ask_deal.spec3 != "" ){ }}
							<tr>
								<td style="width:40%; border-top:1px solid #dbdbdb;">
									{{ if (ask.left_ask_deal.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec3 }}</p>{{ } }}
								</td>
								<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
									{{ if (ask.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec3 }}</p>{{ } }}
								</td>
								<td style="width:40%; border-top:1px solid #dbdbdb;">
									{{ if (ask.right_ask_deal.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec3 }}</p>{{ } }}
								</td>
							</tr>
						{{ } }}
					</table>
				</div>
			{{ } }}
		</div>
		<div class="table_div" style="margin-bottom:0; padding:15px; border-bottom:1px solid #dbdbdb;">
			<p id="ask_{{=ask.id}}_message" style="margin:0; color:#383838; font-size:13px; line-height:2;">
				<span id="ask_{{=ask.id}}_message_text">
					{{ if( ask.message){ }}
						{{ ask_message = ask.message.replace(new RegExp('\r?\n', 'g'), '<br />') }}
						{{= ask_message }}
					{{ }else{ }}
						저의 결정장애 극복을 도와주세요! 둘 중에 뭐를 사야 하죠?
					{{ } }}
				</span>
				<span id="ask_{{=ask.id}}_message_text_shorten" style="display:none;">
				</span>
				<a id="ask_{{=ask.id}}_message_more" href="#" style="float:right; margin:0 5px; color:#998674; cursor:pointer; display:none;" onclick="$('#ask_{{=ask.id}}_message_text').show(); $('#ask_{{=ask.id}}_message_text_shorten').hide(); $(this).hide(); return false;">펼치기&nbsp;<i class="fa fa-angle-down"></i></a>
			</p>
		</div>
		<div id="ask_{{=ask.id}}_comment" style="display:none;">
      <div id="ask_{{=ask.id}}_comment_title" class="table_div comment_title" onclick="$('#comment_input').focus(); return false;">
        <span style="width:100%;">
          <i class="fa fa-keyboard-o" style="font-size:16px;"></i>&nbsp;당신의 의견을 남겨주세요.
        </span>
        <span style="position:absolute; top:0; left:10px; width:40px;">
          <i class="fa fa-comment" style="font-size:16px;"></i>
          <span id="left_ask_deal_comment_count_{{=ask.id}}">{{=ask.left_ask_deal.comment_count}}</span>
        </span>
        <span style="position:absolute; top:0; right:10px; width:40px;">
          <span id="right_ask_deal_comment_count_{{=ask.id}}">{{=ask.right_ask_deal.comment_count}}</span>&nbsp;
          <i class="fa fa-comment" style="font-size:16px; transform:rotateY(180deg);"></i>
        </span>
      </div>
  		<div id="ask_{{=ask.id}}_comment_list" style="position:relative; background-color:#fff; padding:10px 0; min-height:200px;">
        {{ for(var i=0; i < ask.comments.length; i++) {  }}
  				{{ comment = ask.comments[i] }}
  				{{ var askCommentTemplate = _.template($('#ask-comment-template').html()) }}
  		    {{= askCommentTemplate({ask:ask, comment: comment}) }}
  			{{ } }}
        {{ if(ask.comments.length == 0) { }}
          <p style="position: absolute; top: 50%; left: 50%; color: #9d9ea1; font-size: 13px; width: 200px; margin-top: -16px; margin-left: -100px;" id="no_comment_{{=ask.id}}">아직 남겨진 의견이 없네요.<br>소중한 한마디 부탁드립니다:)</p>
        {{ } }}
        {{ if(current_user_id == 0 && ask.user_id != current_user_id && already_vote.length == 0){ }}
          <div style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:black; opacity:0.92;">
            <p style="position:relative; top:50%; margin:-75px 0 0 0; color:#fff; font-size:15px; text-align:center; line-height:2; opacity:1;">
              <span style="background-color:#ee6e01; border-radius:3px; padding:3px 5px 1px;">VASKIT회원</span>이 되시면<br>모든 의견을 자유롭게 볼 수 있어요!<br><br>
              <span style="background-color:#4b3d3d; border-radius:3px; padding:3px 5px 1px;">비회원</span>은 투표에 참여한 후에만<br>의견을 확인하실 수 있답니다 :)
            </p>
          </div>
        {{ } }}
  		</div>
  		<table cellspacing="0" cellpadding="0" style="width:100%; border-top:1px solid #dbdbdb; background-color:#fff;">
  			{{ if(already_vote.length == 0 || ask.user_id == current_user_id){ }}
  				{{ ask_deal_id = ask.left_ask_deal_id }}
  				{{ ask_deal_text = "A" }}
  			{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
  				{{ ask_deal_id = ask.left_ask_deal_id }}
  				{{ ask_deal_text = "A" }}
  			{{ }else{ }}
  				{{ ask_deal_id = ask.right_ask_deal_id }}
  				{{ ask_deal_text = "B" }}
  			{{ } }}
  			<tbody>
  				<tr>
  					<td style="padding:7px 7px 7px 12px;">
  						<a id="ask_deal_id_change_{{=ask.id}}" onclick="ask_deal_id_change({{=ask.id}}, {{=ask.left_ask_deal_id}}, {{=ask.right_ask_deal_id}}); return false;" href="#" style="width:30px; height:32px; line-height:32px; border:1px solid #dbdbdb; color:#4b3d3d; display:inline-block; font-size:14px;">{{=ask_deal_text}}</a>
  					</td>
  					<td style="width:100%; padding-right:7px;">
  						<textarea id="comment_input_{{=ask.id}}" class="comment_box2" placeholder="<% if current_user %>고민해결사 <%= current_user.string_id %>님! 한마디 부탁해요!<% else %>회원가입하시고 의견을 남겨주세요!<% end %>"></textarea>
  					</td>
  					<td style="padding-right:12px;">
  						<a id="send_comment_btn_{{=ask.id}}" href="#" onclick="send_comment({{=ask.id}}, {{=ask_deal_id}}); return false;" style="width:50px; height:34px; line-height:34px; background-color:#dbdbdb; display:inline-block; color:#fff; font-size:13px;">입력</a>
  					</td>
  				</tr>
  			</tbody>
  		</table>
    </div>
		<a class="card_detail" href="/asks/{{=ask.id}}" target="_blank">
			<span style="float:left; margin-left:15px;"><i class="fa fa-comment" style="font-size:15px; margin-right:3px;"></i>{{=ask.left_ask_deal.comment_count}}</span>
			<span><i class="fa fa-angle-double-down" style="font-size:15px;">&nbsp;</i>상세 열기</span>
			<span style="float:right; margin-right:15px;">{{=ask.right_ask_deal.comment_count}}<i class="fa fa-comment" style="font-size:15px; margin-left:3px; transform:rotateY(180deg);"></i></span>
		</a>
	</div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<div class="table_div" style="margin-bottom:0;">
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:left;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;">
				<img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay">
						<img src="/images/home/vote_result_check.png" style="width:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn left_btn" href="#" onclick="vote_ask_deal({{=left_ask_deal.id}}, true); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:right;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;">
				<img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, false ); return false;" class="card_image_overlay">
						<img src="/images/home/vote_result_check.png" style="width:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn right_btn" href="#" onclick="vote_ask_deal({{=right_ask_deal.id}}, false); return false;" style="border-left:1px solid #fff;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
	</div>
	{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
		<div id="main_vote_count_{{=ask.id}}">
			{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
			{{ if (ask.user_id == current_user_id && total_count == 0){ }}
				{{ left_ratio = 0 }}
				{{ left_ratio_full = 0 }}
				{{ right_ratio = 0 }}
				{{ right_ratio_full = 0 }}
			{{ }else{ }}
				{{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 80) }}
				{{ left_ratio_full = Math.round(ask.left_ask_deal.vote_count/total_count * 100) }}
				{{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 80) }}
				{{ right_ratio_full = Math.round(ask.right_ask_deal.vote_count/total_count * 100) }}
			{{ } }}

			{{ left_background = "#ffcc5a" }}
			{{ left_font_weight = "bold" }}
			{{ right_background = "#ffcc5a" }}
			{{ right_font_weight = "bold" }}
			{{ if (left_ratio > right_ratio){ }}
				{{ right_background = "#fff" }}
				{{ right_font_weight = "normal" }}
			{{ }else if(left_ratio < right_ratio){ }}
				{{ left_background = "#fff" }}
				{{ left_font_weight = "normal" }}
			{{ } }}
			<table cellspacing="0" cellpadding="0" style="width:100%; background-color:rgba(75,61,61,0.9); color:#fff; font-size:12px; font-weight:bold; height:40px;">
				<tr>
					<td class="vote-result-td">
						<span class="vote-result-bar-left" style="width:{{=left_ratio}}%; background-color:{{=left_background}};">&nbsp;</span>
						<span class="vote-result-num-left" style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{=left_ratio_full}}%</span>
					</td>
					<td class="vote-result-td-title">
						A vs B
					</td>
					<td class="vote-result-td">
						<span class="vote-result-bar-right" style="width:{{=right_ratio}}%; background-color:{{=right_background}};">&nbsp;</span>
						<span class="vote-result-num-right" style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{=right_ratio_full}}%</span>
					</td>
				</tr>
			</table>
		</div>
	{{ } }}
</script>

<script type="text/template" id="ask-comment-template">
  {{ already_like = $.grep(my_like_comment, function(obj) { return obj.comment_id === comment.id }) }}
	{{ if (ask.left_ask_deal_id == comment.ask_deal_id ){ }}
		<div id="comment_{{= comment.id }}" style="width:100%; text-align:left;">
			<div style="position:relative; margin:4px 0px 0 14px; max-width:60%; display:inline-block; text-align:left; background-color:cornsilk; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb;">
				<span class="comment_content" style="word-break:break-all;">{{=comment.content}}</span>
				<textarea class="comment_modify_box" placeholder="의견을 입력해주세요.">{{=comment.content}}</textarea>
			 	<a class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; position: absolute; top:0px; right:-58px; width:60px; height:57px; background-color:#ee6e01; color:#fff; text-align:center; line-height:57px; font-size:12px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; display:none;">
          완료
        </a>
        <div style="position:absolute; top:6px; left:-7px; border-right:7px solid cornsilk; border-bottom:8px solid transparent;"></div>
			</div>
      {{ if(already_like.length == 1){ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#ee6e01; font-size:12px;">
          <i class="fa fa-heart" style="color:#ee6e01; margin-left:1px;"></i>
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
        </a>
      {{ }else{ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1; font-size:12px;">
          <i class="fa fa-heart-o" style="color:#9d9ea1; margin-left:1px;"></i>
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
        </a>
      {{ } }}
			<p style="margin:0; padding:5px 0 10px 25px; font-size:12px; color:#9e9fa1;">
				<span style="color:#998674;">{{=comment.user.string_id}}</span>
        &nbsp;{{= get_past_time(comment.created_at) }}
				|
				{{ if ( comment.user_id == current_user_id ){ }}
          <a class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9e9fa1;">
            수정
          </a>
          <a class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; display:none;">
            취소
          </a>
          <a href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, true); return false;" style="color:#9e9fa1;">
            삭제
          </a>
				{{ }else{ }}
				  <a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">
            신고
          </a>
				{{ } }}
			</p>
		</div>
	{{ }else{ }}
		<div id="comment_{{= comment.id }}" style="width:100%; text-align:right;">
      {{ if(already_like.length == 1){ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#ee6e01; font-size:12px;">
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
          <i class="fa fa-heart" style="color:#ee6e01; margin-right:3px;"></i>
        </a>
      {{ }else{ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="color:#9e9fa1; font-size:12px;">
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
          <i class="fa fa-heart-o" style="color:#9d9ea1; margin-right:3px;"></i>
        </a>
      {{ } }}
      <div style="position:relative; margin:4px 14px 0 0px; max-width:60%; display:inline-block; text-align:left; background-color:cornsilk; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb;">
        <span class="comment_content" style="word-break:break-all;">{{=comment.content}}</span>
				<textarea class="comment_modify_box" placeholder="의견을 입력해주세요.">{{=comment.content}}</textarea>
        <a class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; position: absolute; top:0px; left:-58px; width:60px; height:57px; background-color:#ee6e01; color:#fff; text-align:center; line-height:57px; font-size:12px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; display:none;">
          완료
        </a>
        <div style="position:absolute; top:6px; right:-7px; border-left:7px solid cornsilk; border-bottom:8px solid transparent;"></div>
			</div>
			<p style="margin:0; padding:5px 25px 10px 0; font-size:12px; color:#9e9fa1;">
			  {{ if ( comment.user_id == current_user_id ){ }}
			    <a href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, false); return false;" style="color:#9e9fa1;">
            삭제
          </a>
          <a class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9e9fa1;">
            수정
          </a>
          <a class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; display:none;">
            취소
          </a>
        {{ }else{ }}
          <a href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9e9fa1;">
            신고
          </a>
        {{ } }}
				|
				{{= get_past_time(comment.created_at) }} &nbsp;<span style="color:#998674;">{{=comment.user.string_id}}</span>
			</p>
		</div>
	{{ } }}
</script>

<script>
	<% if flash[:ask_create] %>
		notify('<%=flash[:ask_create]%>');
	<% end %>

	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>

	var asks = <%= raw @asks.to_json %>;

	var my_votes = <%= raw @my_votes.to_json %>;
	var my_vote_count = <%= @my_votes.length %>;

	var my_like_comment = <%= raw @my_like_comment.to_json %>;

	var askTemplate = _.template( $('#ask-template').html() );

	<% unless @ranking_asks.blank? %>
		var ranking_asks = <%= raw @ranking_asks.to_json %>;
		for(var i=0; i < ranking_asks.length; i++) {
			asks.unshift(ranking_asks[i])
		}
	<% end %>

	for(var i=0; i < asks.length; i++) {
		var ask = asks[i]
		$('#asks').append(askTemplate({ask: ask}));
		hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
		abbreviate_msg(ask.message, ask.id);
		comment_input_setting(ask.id);
	}

	var ready = function() {
		// if (asks.length == <%= Ask::ASK_PER %>){
			setInterval("checkScroll()", 1000);
		// }
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

	var currentPage = 1
	var is_more_asks = true;
	function checkScroll() {
	  if (window.location.pathname == "/" && nearBottomOfPage() && is_more_asks) { // 크롬에서 javascript 코드를 캐시하는거 같아서 url 분석해서 ask인 경우에만 작동하도록 변경
	    currentPage ++;

	    $.ajax({
	        url: window.location.href,
	        data: {'page': currentPage},
	        dataType: "json",
	        type: 'GET',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var more_asks = data.asks;
	        	$.merge(asks, more_asks);

	        	if ( more_asks.length == 0 ) {
	        		is_more_asks = false;
	        		$("#endless_loading").hide();
	        	} else {
	        		if( more_asks.length < <%= Ask::ASK_PER %> ){
	        			is_more_asks = false;
	        			$("#endless_loading").hide();
	        		}
	        		for(var i=0; i < more_asks.length; i++) {
    						var ask = more_asks[i]
				        $('#asks').append(askTemplate({ask: ask}));
								hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
								abbreviate_msg(ask.message, ask.id);
								comment_input_setting(ask.id);
    					}
							hover_action();
							tooltip_box();
	        	}
	        },
	        beforeSend: function(){
          },
          complete: function(){
          }
		});
	  }
	}

	function abbreviate_msg(origin_string, ask_id) {
		var msg = $("#ask_"+ask_id+"_message_text");
		var msg_short = $("#ask_"+ask_id+"_message_text_shorten");
		var msg_more = $("#ask_"+ask_id+"_message_more");
		if (origin_string.length > 80) {
			msg.hide();
			msg_short.show();
			msg_short.html(origin_string.substring(0,80).replace(new RegExp('\r?\n', 'g'), '<br>').replace(/(<br>)+/g,"<br>")+" ...");
			hash_tagging(origin_string.substring(0,80), msg_short);
			msg_more.show();
		};
	}

	function vote_ask_deal(ask_deal_id, is_left){
	 	if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
      setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
			setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	my_votes.push(data.vote);
		        	var askDealTemplate = _.template( $('#ask-deal-template').html() );
		        	$('#ask_deal_'+data.ask.id).html(askDealTemplate({my_votes: my_votes, ask:data.ask }));
							graph_animation(data.ask.id);
	        		notify("투표 완료");
							hover_action();
	        		var vote_count_span = $("#ask_"+data.ask.id+"_vote_count");
	        		vote_count_span.html( parseInt(vote_count_span.html()) + 1 + "표" );
	        		my_vote_count = my_vote_count + 1;
							$("#ask_"+data.ask.id+"_comment_title").addClass("already_vote");
							var this_vote = $.grep(my_votes, function(obj) { return obj.ask_id === data.ask.id })
              if (data.ask.right_ask_deal_id == this_vote[0].ask_deal_id) ask_deal_id_change(data.ask.id, data.ask.left_ask_deal_id, data.ask.right_ask_deal_id);
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
	 	}
	}

	function comment_input_by_key(ask_id){
    var comment_message = $("#comment_input_"+ask_id).val();
    if(comment_message == "" || comment_message == undefined){
      notify("내용을 입력해주세요.");
    }else{
      $("#send_comment_btn_"+ask_id).click();
    }
  }

	function comment_input_setting(ask_id) {
		$("#comment_input_"+ask_id).keypress(function(e) {
			if (e.keyCode == '13') {
				e.preventDefault();
				comment_input_by_key(ask_id);
			}
		});

		var this_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask_id })
		$("#comment_input_"+ask_id).on("click",function(){
			if (current_user_id == 0){
				$("#comment_input_"+ask_id).blur();
				notify("회원가입 후<br />의견을 남길 수 있습니다.");
				setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
				setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
			} else if ( this_vote.length == 0 && current_user_id != ask.user_id ){
				$("#comment_input_"+ask_id).blur();
				notify("투표 참여 후<br />의견을 남길 수 있습니다.");
			} else {
				$("#comment_input_"+ask_id).focus();
			}
		}).on("keyup",function(){
			if( $("#comment_input_"+ask_id).val().length > 0 ) {
				$("#send_comment_btn_"+ask_id).css('background-color','#ee6e01');
			} else {
				$("#send_comment_btn_"+ask_id).css('background-color','#dbdbdb');
			}
		});

		if (already_vote != "" || current_user_id == ask.user_id) $("#ask_"+ask_id+"_comment_title").addClass("already_vote");
		if (current_user_id == ask.user_id) {
			$("#comment_input_"+ask_id).attr("placeholder", ask.user.string_id+"님, 고민해결사님들께 한마디 전해보세요!");
			$("#ask_"+ask_id+"_comment_title span:eq(0)").html('<i class="fa fa-keyboard-o" style="font-size:16px;"></i>&nbsp;어떤 의견이 달렸을까요?');
		}
	}

	function send_comment(ask_id, ask_deal_id){
			var content = $("#comment_input_"+ask_id).val();
			if( content == "" || content == null ){
				notify('내용을 입력해주세요.');
				return;
			}
			$.ajax({
		        url: "/comments.json",
		        type: 'POST',
		        data: {'content': content, 'ask_id':ask_id, 'ask_deal_id':ask_deal_id },
		        dataType: 'json',
            async: false,  // 코멘트 중복 전송을 방지
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message = "success"){
		        		var comment = data.comment;
		        		var askCommentTemplate = _.template($('#ask-comment-template').html());
		        		$("#ask_"+ask_id+"_comment_list").append(askCommentTemplate({ask:data.ask, comment: comment}));
		        		notify("작성 완료");
		        		$("#comment_input_"+ask_id).val("");
                $("#no_comment_"+ask_id).hide();
                $("#send_comment_btn_"+ask_id).css("background-color","#dbdbdb");
                $("#comment_input_"+ask_id).blur();

		        		if ($("#ask_deal_id_change_"+ask_id).html() == "A"){
		        			var left_ask_deal_comment_count = $("#left_ask_deal_comment_count_"+data.comment.ask_id);
		        			left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) + 1 );
		        		}else{
		        			var right_ask_deal_comment_count = $("#right_ask_deal_comment_count_"+data.comment.ask_id);
		        			right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) + 1 );
		        		}
		        	}else{
		        		notify("댓글은 회원만 작성 가능합니다");
		        	}
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
	}

	function comment_like(comment_id){
		<% if current_user %>
		$.ajax({
	        url: "/comments/"+comment_id+"/like.json",
	        type: 'POST',
	        data: {'blank': 'blank'},
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
            var comment_like_icon = $("#comment_"+comment_id+" .fa")
	        	var comment_count_span = $("#comment_"+comment_id+"_like_count");
	        	if (data.already_like){
	        		comment_count_span.html( parseInt(comment_count_span.html()) - 1 );
              comment_count_span.css("color","#9d9ea1");
              comment_like_icon.removeClass("fa-heart").addClass("fa-heart-o").css("color","#9d9ea1");
	        		notify("좋아요 취소");
	        	}else{
	        		comment_count_span.html( parseInt(comment_count_span.html()) + 1 );
              comment_count_span.css("color","#ee6e01");
              comment_like_icon.removeClass("fa-heart-o").addClass("fa-heart").css("color","#ee6e01");
	        		notify("좋아요 완료");
	        	}
	        },
	        beforeSend: function(){
	       		$(".loading").show();
	        },
	        complete: function(){
	        	$(".loading").hide();
	        }
		});
		<% else %>
			notify("회원가입 후<br />추천 할 수 있습니다")
		<% end %>
	}

	function comment_report(comment_id, user_id){
		show_more_popup('comment',comment_id, user_id, '', '');
		show_report_popup();
	}

	function comment_del(ask_id, comment_id, is_left){
	  if(confirm("의견을 정말로 삭제하시겠어요?")) {
	    $.ajax({
        url: "/comments/"+comment_id+"/comment_del.json",
        type: 'DELETE',
        data: {'blank': 'blank'},
        dataType: 'json',
        error: function(){
            return false;
        },
        success: function(data){
          $("#comment_"+comment_id).remove();
          if (is_left){
            var left_ask_deal_comment_count = $("#left_ask_deal_comment_count_"+ask_id);
            left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) - 1 );
          }else{
            var right_ask_deal_comment_count = $("#right_ask_deal_comment_count_"+ask_id);
            right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) - 1 );
          }
          notify("삭제되었습니다");

        },
        beforeSend: function(){
          $(".loading").show();
        },
        complete: function(){
          $(".loading").hide();
        }
      });
    }
	}

	function comment_modify(comment_id){
	  var comment_content = $("#comment_"+comment_id+" .comment_content");
	  var modify_box_width = $($("#comment_"+comment_id+" div")[0]).width();
	  var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
	  var update_btn = $("#comment_"+comment_id+" .comment_update_btn");

	  modify_box.show().focus();
	  modify_box.css("width", modify_box_width).css("min-width","180px");

	  update_btn.show();
	  comment_content.hide();

	  $("#comment_"+comment_id+" .comment_modify_btn").hide();
	  $("#comment_"+comment_id+" .comment_modify_cancel_btn").show();
	}

	function comment_modify_cancel(comment_id){
	  var comment_content = $("#comment_"+comment_id+" .comment_content");
    var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
    var update_btn = $("#comment_"+comment_id+" .comment_update_btn");

    modify_box.hide();

    update_btn.hide();
    comment_content.show();

    $("#comment_"+comment_id+" .comment_modify_btn").show();
    $("#comment_"+comment_id+" .comment_modify_cancel_btn").hide();
	}

	function comment_update(comment_id){
	  var modify_box = $("#comment_"+comment_id+" .comment_modify_box");

    var content = modify_box.val();
    if( content == "" || content == null ){
      notify('내용을 입력해주세요.');
      return;
    }
    $.ajax({
      url: "/comments/"+comment_id+".json",
      type: 'PUT',
      data: {'content': content},
      dataType: 'json',
      error: function(){
        return false;
      },
      success: function(data){
        var comment_content = $("#comment_"+comment_id+" .comment_content");
        var modify_box = $("#comment_"+comment_id+" .comment_modify_box");
        var update_btn = $("#comment_"+comment_id+" .comment_update_btn");
        comment_content.html(content);
        modify_box.val(content);
        comment_modify_cancel(comment_id);
        notify("수정 완료");
      },
      beforeSend: function(){
        $(".loading").show();
      },
      complete: function(){
        $(".loading").hide();
      }
    });
	}

	function ask_deal_id_change(ask_id, left_ask_deal_id, right_ask_deal_id){
		if ($("#ask_deal_id_change_"+ask_id).html() == "A"){
			$("#ask_deal_id_change_"+ask_id).html("B")
			$("#send_comment_btn_"+ask_id).attr("onclick", "send_comment("+ask_id+", "+right_ask_deal_id+"); return false;");
		}else{
			$("#ask_deal_id_change_"+ask_id).html("A")
			$("#send_comment_btn_"+ask_id).attr("onclick", "send_comment("+ask_id+", "+left_ask_deal_id+"); return false;");
		}
	}

  hover_action();
	tooltip_box();
	graph_width_adjust();

	function visitor_new_ask() {
		notify('회원가입 후<br />질문을 올릴 수 있습니다.');
		setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
		setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
	}

</script>

<%= render :partial => "common_partial/category" %>
<%= render :partial => "common_partial/footer" %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>
<%= render :partial => "common_partial/ask_image" %>
