<% case @type %>
<% when "user", "hash_tag", "ask_deal", "brand", "none" %>
	<%= render :partial => "common_partial/header_3" %>
<% when "my_ask" %>
	<%= render :partial => "common_partial/header_1", :locals => {:title => "히스토리 : Asks"} %>
<% when "vote_ask" %>
	<%= render :partial => "common_partial/header_1", :locals => {:title => "히스토리 : Votes"} %>
<% when "comment_ask" %>
	<%= render :partial => "common_partial/header_1", :locals => {:title => "히스토리 : Comments"} %>
<% when "my_ask_in_progress" %>
	<%= render :partial => "common_partial/header_1", :locals => {:title => "진행 중인 질문"} %>
<% else %>
	<%= render :partial => "common_partial/header" %>
<% end %>

<%= render :partial => "common_partial/search" %>
<%= render :partial => "common_partial/category" %>

<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>

<% if @asks %>
<div id="search_bar">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td onclick="search_input_on(); return false;" style="width:100%; position:relative; padding:12px;">
				<p style="position:relative; margin:0; width:100%; height:38px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background-color:#fff; border:1px solid #dbdbdb; border-right-width:3px; border-bottom-width:3px;">
				<span style="position:absolute; right:1px; padding:8px;"><i class="fa fa-search" style="color:#9d9ea1; font-size:18px;"></i></span></p>
			</td>
		</tr>
	</table>
</div>
<p style="margin:3px 0; padding:0px 18px; color:#9d9ea0; font-size:13px; text-align:left;">
	이미지를 클릭해 투표에 참여해보세요!
</p>
<% end %>

<div id="asks" style="padding:10px 12px 0px;"></div>
<div class="home-float-btn">
	<% if current_user %>
		<a href="/asks/new" style="display:block; width:70px; height:70px;"><img src="/images/home/writing.png"></a>
	<% else %>
		<a href="#" onclick="notify('회원가입 후<br />질문을 올릴 수 있습니다.'); return false;"><img src="/images/home/writing.png"></a>
	<% end %>
</div>

<% if @asks && @asks.length == Ask::ASK_PER %>
	<p id="endless_loading" style="margin-top:10px;">
		<img style="width:90px; margin-bottom:-7px;" src="/images/common/loading.gif" />
	</p>
<% end %>

<script type="text/template" id="ask-template">
  <div style="text-align:left; padding:5px 0 0 0px; position:relative;">
    {{ if( ask.category){ }}
    <span class="category" onclick="category_on(); return false;">{{= ask.category.name }}</span>
    {{ }else{ }}
    <span class="category_none" onclick="category_on(); return false;">관심사 미설정</span>
    {{ } }}
		<div style="position:absolute; bottom:0; right:0;">
			{{ if (ask.user_id != current_user_id || ask.ask_complete == null){ }}
				<span style="float:left; border:1px solid #dbdbdb; border-bottom:none; border-right-width:1px; background-color:#fff; text-align:center;">
					<a class="share_icon" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				</span>
				<span style="float:left; border-top:1px solid #dbdbdb; border-right:3px solid #dbdbdb; background-color:#fff; text-align:center;">
		        <a class="more_icon" href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><i class="fa fa-chevron-down" style="font-size:10px; color:#998674;"></i>&nbsp;더보기</a>
		    </span>
			{{ }else{ }}
				<span style="float:left; border:1px solid #dbdbdb; border-bottom:none; border-right-width:3px; background-color:#fff; text-align:center;">
					<a class="share_icon" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				</span>
			{{ } }}
		</div>
  </div>

	<div class="content_box">
		<div style="text-align:left; padding:15px; position:relative; background-color:#fff;">
			{{ if( ask.user){ }}
			  {{ gender_css = "color:#0389ed; border: solid 1px #0389ed;" }}
			  {{ if ( !ask.user.gender){ }}
			    {{ gender_css = "color:#ea065e; border: solid 1px #ea065e;" }}
			  {{ } }}
			  <p style="margin:0px 5px 0px -1px; font-size:12px; padding:3px 4px; float:left; font-weight:bold; opacity:0.8; border-radius:5px; {{= gender_css}} border-right-width:2px; border-bottom-width:2px;">
					{{ if (ask.user.gender){ }}
						<i class="fa fa-male" style="margin-right:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-right:-2px;"></i>
					{{ } }}
					{{= get_user_ages(ask.user.birthday) }}
				</p>
				<p style="margin:3px 0 0 0; color:#998675; font-size:17px; float:left; max-width:150px; overflow:hidden; text-overflow:ellipsis;">{{= ask.user.string_id }}</p>
				<span style="float:right; padding-top:5px; color:#9e9fa3; font-size:12px;">
					<i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span id="ask_{{=ask.id}}_vote_count">{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}표</span>
				</span>
			{{ } }}
			<p id="ask_{{=ask.id}}_message" style="clear:both; margin:0; padding-top:10px; color:#383838; font-size:13px; line-height:1.4;">
				{{ if( ask.message){ }}
					{{ ask_message = ask.message.replace(new RegExp('\r?\n', 'g'), '<br />') }}
					{{= ask_message }}
				{{ }else{ }}
					둘중 하나를 골라주세요.
				{{ } }}
			</p>
		</div>
		<div id="ask_deal_{{=ask.id}}" style="position:relative;">
			{{ var askDealTemplate = _.template($('#ask-deal-template').html()) }}
	    {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
		</div>
		<a class="card_detail" href="/asks/{{=ask.id}}" target="_blank">
			<span style="float:left;"><i class="fa fa-comment" style="font-size:15px; margin-right:3px;"></i>{{=ask.left_ask_deal.comment_count}}</span>
			<span><i class="fa fa-angle-double-down" style="font-size:15px; vertical-align:top;">&nbsp;</i>상세 열기</span>
			<span style="float:right;">{{=ask.right_ask_deal.comment_count}}<i class="fa fa-comment" style="font-size:15px; margin-left:3px; transform:rotateY(180deg);"></i></span>
		</a>
	</div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td style="width:50%; position:relative; overflow:hidden;">
  	    <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;">
    		  <img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
					<p class="card_image_expand"><i class="fa fa-expand"></i></p>
    		</a>
    		{{ if( ask.user_id != current_user_id && already_vote.length == 0 ){ }}
    		<a class="vote_btn_{{=ask.id}} vote_btn" href="#" onclick="vote_ask_deal({{=left_ask_deal.id}}, true); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
    		{{ } }}
    		{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
      		{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay"></a>
          {{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay">
              <img src="/images/home/vote_result_check.png" style="width:50%; margin-top:20%; margin-left:0%;">
            </a>
          {{ } }}
        {{ } }}
			</td>
			<td style="width:50%; position:relative; overflow:hidden;">
			  <a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;">
				  <img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
					<p class="card_image_expand"><i class="fa fa-expand"></i></p>
				</a>
				{{ if( ask.user_id != current_user_id && already_vote.length == 0 ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn" href="#" onclick="vote_ask_deal({{=right_ask_deal.id}}, false); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
				{{ } }}

				{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
  				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;" class="card_image_overlay"></a>
          {{ }else if(ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
            <a href="#" onclick="ask_image_on({{=ask.id}}, false ); return false;" class="card_image_overlay">
              <img src="/images/home/vote_result_check.png" style="width:50%; margin-top:20%; margin-left:0%;">
            </a>
          {{ } }}
        {{ } }}
			</td>
		</tr>
	</table>
	{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}

		{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
		{{ if (ask.user_id == current_user_id && total_count == 0){ }}
			{{ left_ratio = 0 }}
			{{ right_ratio = 0 }}
		{{ }else{ }}
			{{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 80) }}
			{{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 80) }}
		{{ } }}

		{{ left_background = "#fff" }}
		{{ left_font_weight = "normal" }}
		{{ right_background = "#fff" }}
		{{ right_font_weight = "normal" }}
		{{ if (left_ratio > right_ratio){ }}
			{{ left_background = "#ffcc5a" }}
			{{ left_font_weight = "bold" }}
		{{ }else if(left_ratio < right_ratio){ }}
			{{ right_background = "#ffcc5a" }}
			{{ right_font_weight = "bold" }}
		{{ } }}
		<table cellspacing="0" cellpadding="0" style="width:100%; background-color:#4b3d3d; color:#fff; font-size:12px; font-weight:bold; height:35px;">
			<tr>
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(left_ratio)}}%; background-color:{{=left_background}};">&nbsp;</span>
					<span style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{= Math.round(left_ratio / 80 * 100) }}%</span>
				</td>
				<td class="vote-result-td-title">
					A vs B
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(right_ratio) }}%; background-color:{{=right_background}};">&nbsp;</span>
					<span style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{= Math.round(right_ratio / 80 * 100) }}%</span>
				</td>
			</tr>
		</table>
	{{ } }}
</script>

<script>
	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>

	var asks = <%= raw @asks.to_json %>;
	var my_votes = <%= raw @my_votes.to_json %>;
	var my_vote_count = <%= @my_votes.length %>;
	var askTemplate = _.template( $('#ask-template').html() );

	<% unless @ranking_asks.blank? %>
	var ranking_asks = <%= raw @ranking_asks.to_json %>;

	for(var i=0; i < ranking_asks.length; i++) {
		var ask = ranking_asks[i]
        $('#asks').append(askTemplate({ask: ask}));
        var hash_tags = ask.message.match(/#(\S+)/g);
        if (hash_tags != null) hash_tags.sort(function(a,b){ return b.length - a.length; }); // 긴 순서대로 정렬
        $.each(hash_tags, function( index, hash_tag ) {
          hash_tag = hash_tag.replace(",","");
  		  	$("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
  		  	hash_tag = hash_tag.replace('#', '').replace("?","")
  			  $.each( $("#ask_"+ask.id+"_message ."+index), function( index2, element ){
            if ( $(element).parent().prop('nodeName') == "P"){
              $(element).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"})
            }
          });
		    });
	}
	<% end %>

	for(var i=0; i < asks.length; i++) {
		var ask = asks[i]
        $('#asks').append(askTemplate({ask: ask}));
        var hash_tags = ask.message.match(/#(\S+)/g);
        if (hash_tags != null) hash_tags.sort(function(a,b){ return b.length - a.length; }); // 긴 순서대로 정렬
        $.each(hash_tags, function( index, hash_tag ) {
          hash_tag = hash_tag.replace(",","");
  		  	$("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
  		  	hash_tag = hash_tag.replace('#', '').replace("?","")
  			  $.each( $("#ask_"+ask.id+"_message ."+index), function( index2, element ){
            if ( $(element).parent().prop('nodeName') == "P"){
              $(element).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"})
            }
          });
  		  });
	}


	function vote_ask_deal(ask_deal_id, is_left){
	 	if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	my_votes.push(data.vote);
		        	var askDealTemplate = _.template( $('#ask-deal-template').html() );
		        	$('#ask_deal_'+data.ask.id).html(askDealTemplate({my_votes: my_votes, ask:data.ask }));

							hover_action();
	        		notify("투표 완료");
	        		var vote_count_span = $("#ask_"+data.ask.id+"_vote_count");
	        		vote_count_span.html( parseInt(vote_count_span.html()) + 1 + "표" );
	        		my_vote_count = my_vote_count + 1;
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
	 	}
	}


	var ready = function() {
		if (asks.length == <%= Ask::ASK_PER %>){
			setInterval("checkScroll()", 1000);
		}
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

	var currentPage = 1
	var is_more_asks = true;
	function checkScroll() {
	  if (window.location.pathname == "/" && nearBottomOfPage() && is_more_asks) { // 크롬에서 javascript 코드를 캐시하는거 같아서 url 분석해서 ask인 경우에만 작동하도록 변경
	    currentPage ++;

	    $.ajax({
	        url: window.location.href,
	        data: {'page': currentPage},
	        dataType: "json",
	        type: 'GET',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var more_asks = data.asks;
	        	$.merge(asks, more_asks);

	        	if( more_asks.length == 0 ){
	        		is_more_asks = false;
	        		$("#endless_loading").hide();
	        	}else{
	        		if( more_asks.length < <%= Ask::ASK_PER %> ){
	        			is_more_asks = false;
	        			$("#endless_loading").hide();
	        		}

	        		for(var i=0; i < more_asks.length; i++) {
    						var ask = more_asks[i]
    				        $('#asks').append(askTemplate({ask: ask}));
    				        var hash_tags = ask.message.match(/#(\S+)/g);
    				        if (hash_tags != null) hash_tags.sort(function(a,b){ return b.length - a.length; }); // 긴 순서대로 정렬
    				        $.each(hash_tags, function( index, hash_tag ) {
    				          hash_tag = hash_tag.replace(",","");
      						  	$("#ask_"+ask.id+"_message").highlight(hash_tag, { element:'a', className: 'hash_tag '+index});
      						  	hash_tag = hash_tag.replace('#', '').replace("?","")
      							  $.each( $("#ask_"+ask.id+"_message ."+index), function( index2, element ){
                        if ( $(element).parent().prop('nodeName') == "P"){
                          $(element).attr({href:"/?keyword="+hash_tag+"&type=hash_tag"})
                        }
                      });
    						    });
    					}
							hover_action();
	        	}
	        },
	        beforeSend: function(){
          },
          complete: function(){
          }
		});
	  }
	}



	$(document).ready(function(){
    hover_action();
  });

</script>

<%= render :partial => "common_partial/ask_image" %>
