<% case @type %>
<% when "user", "hash_tag", "ask_deal", "brand", "none" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		<% if @type == "user" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-user"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;유저 검색 결과입니다.
		<% elsif @type == "hash_tag" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-slack" style="transform:rotateY(180deg) skewY(18deg); -webkit-transform:rotateY(180deg) skewY(18deg);"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;해쉬태그 검색 결과입니다.
		<% elsif @type == "ask_deal" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-cube"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;제품명 검색 결과입니다.
		<% elsif @type == "brand" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-tag"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;브랜드 검색 결과입니다.
		<% elsif @type == "none" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-search"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;통합 검색 결과입니다.
		<% end %>
	</p>
<% when "my_ask", "vote_ask", "comment_ask", "my_ask_in_progress" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<p class="chat_bubble">
		<% if @type == "my_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id).count %>개</span>의 질문을 던지셨군요!<br>와우! 많은 고민을 해결하셨나요?
		<% elsif @type == "vote_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Vote.where(:user_id => current_user.id).count %>개</span>의 투표에 참여했군요!<br>와우! 많은 이들의 탈모를 막아주었습니다!
		<% elsif @type == "comment_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Comment.where(:user_id => current_user.id).count %>개</span>의 의견을 남기셨군요!<br>와우! 우리 모두 수다쟁이를 좋아한답니다!
		<% elsif @type == "my_ask_in_progress" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 현재 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id, :be_completed => false).count %>개</span>의 질문을 진행중입니다.<br>더보기 버튼을 눌러 투표를 종료할 수 있는 것, 알고 계셨나요?
		<% end %>
	</p>
<% when "vote_yet" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		참여하지 않은 카드만 보고싶으셨군요?<br>당신의 꿈은 투표왕?!!
	</p>
<% else %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble table_div" style="margin-top:65px;">
		<span style="color:#ee6e01;">#둘중에뭐사지? #고민고민하지마</span> <b style="float:right;">Let's VASKIT!</b>
	</p>
<% end %>


<div id="ask_detail" class="table_div" style="margin:15px 0; display:none;"></div>
<div id="asks" class="table_div" style="margin:15px 0;"></div>
<div class="home-float-btn-area">
	<% if current_user %>
	<a href="/asks/new" style="display:block;">
	<% else %>
	<a href="#" style="display:block;" onclick="visitor_notify('질문 작성은<br>회원만 가능합니다'); return false;">
	<% end %>
		<div class="home-float-btn"><i class="fa fa-plus"></i></div>
		<div class="home-float-btn-text">질문<br>하기</div>
	</a>
</div>

<% if @asks && @asks.length == Ask::ASK_PER %>
	<p id="endless_loading" style="margin-top:10px;">
		<img style="width:90px; margin:0 auto;" src="/images/custom/loading.gif" />
	</p>
<% end %>

<%= render :partial => "common_partial/category" %>
<%= render :partial => "common_partial/asks" %>
<%= render :partial => "common_partial/ask_image" %>
<%= render :partial => "common_partial/more_popup" %>

<script>
	if (document.location.search == "") {
		is_search_result_opened = false;
		history.pushState(null, null, "#welcome");
	} else {
		is_search_result_opened = true;
		history.replaceState(null, null, "#search_result");
	}
	$(window).bind("hashchange", function(){
		// welcome();
		if (is_ask_image_opened) {
			ask_image_off();
		} else if (is_category_opened || is_user_setting_opened || is_user_opened || is_search_input_opened) {
			if (is_category_opened) category_off();
			if (is_user_setting_opened) manage_off();
			if (is_user_opened) user_off();
			if (is_search_input_opened) search_input_off();
		} else if (is_more_popup_opened) {
			hide_more_popup();
		} else if (is_card_opened) {
			card_detail_off(opened_ask_id);
			if (is_alram_opened) user_on();
		} else if (is_search_result_opened) {
			history.go(-2);
		} else {
			return false;
		}
	});
	$(document).keydown(function(e){
		if(e.target.nodeName != "INPUT" && e.target.nodeName != "TEXTAREA"){
			if(e.keyCode === 27){
				if (is_ask_image_opened) {
					history.back();
				} else if (is_category_opened) {
					history.back();
				} else if (is_user_setting_opened) {
					history.back();
				} else if (is_user_opened) {
					history.back();
				} else if (is_search_input_opened) {
					history.back();
				} else if (is_more_popup_opened) {
					history.back();
				} else if (is_card_opened) {
					history.back();
				}	else {
					return false;
				}
			}
		}
	});
</script>
