<% case @type %>
<% when "user", "hash_tag", "ask_deal", "brand", "none" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		<% if @type == "user" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-user"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;유저 검색 결과입니다.
		<% elsif @type == "hash_tag" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-slack" style="transform:rotateY(180deg) skewY(18deg);"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;해쉬태그 검색 결과입니다.
		<% elsif @type == "ask_deal" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-cube"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;제품명 검색 결과입니다.
		<% elsif @type == "brand" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-tag"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;브랜드 검색 결과입니다.
		<% elsif @type == "none" %>
			<span style="color:#998674; font-weight:bold;"><i class="fa fa-search"></i>&nbsp;<%= flash[:keyword] %></span>&nbsp;통합 검색 결과입니다.
		<% end %>
	</p>
<% when "my_ask", "vote_ask", "comment_ask", "my_ask_in_progress" %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<p class="chat_bubble">
		<% if @type == "my_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id).count %>개</span>의 질문을 던지셨군요!<br>와우! 많은 고민을 해결하셨나요?
		<% elsif @type == "vote_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Vote.where(:user_id => current_user.id).count %>개</span>의 투표에 참여했군요!<br>와우! 많은 이들의 탈모를 막아주었습니다!
		<% elsif @type == "comment_ask" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 지금까지 <span style="color:#998674; font-weight:bold;"><%= Comment.where(:user_id => current_user.id).count %>개</span>의 의견을 남기셨군요!<br>와우! 우리 모두 수다쟁이를 좋아한답니다!
		<% elsif @type == "my_ask_in_progress" %>
			<span style="color:#998674; font-weight:bold;"><%= current_user.string_id %></span>님은 현재 <span style="color:#998674; font-weight:bold;"><%= Ask.where(:user_id => current_user.id, :be_completed => false).count %>개</span>의 질문을 진행중입니다.<br>더보기 버튼을 눌러 투표를 종료할 수 있는 것, 알고 계셨나요?
		<% end %>
	</p>
<% else %>
	<%= render :partial => "common_partial/header", :locals => {:title => ""} %>
	<%= render :partial => "common_partial/search" %>
	<p class="chat_bubble" style="margin-top:65px;">
		투표하기 버튼을 눌러 투표에 참여해보세요! Let's VASKIT!
	</p>
<% end %>


<div id="asks" style="padding:12px 12px 0px;"></div>
<div class="home-float-btn-area">
	<% if current_user %>
		<a href="/asks/new" style="display:block;">
			<div class="home-float-btn">
				<i class="fa fa-plus"></i>
			</div>
			<div class="home-float-btn-text">질문<br>하기</div>
		</a>
	<% else %>
		<a href="#" onclick="visitor_new_ask(); return false;" style="display:block;"><div class="home-float-btn"><i class="fa fa-plus"></i></div><div class="home-float-btn-text">질문<br>하기</div></a>
	<% end %>
</div>

<% if @asks && @asks.length == Ask::ASK_PER %>
	<p id="endless_loading" style="margin-top:10px;">
		<img style="width:90px; margin-bottom:-7px;" src="/images/common/loading.gif" />
	</p>
<% end %>

<script type="text/template" id="ask-template">
	<div class="content_box">
		<div class="table_div" style="margin-bottom:0px; border-bottom:1px solid #dbdbdb;">
			<span class="input_icon left_input" onclick="category_on(); return false;" style="border:none; border-radius:0; background-color:rgba(153,134,116,0.8); color:#fff; cursor:pointer;"><i class="fa fa-filter"></i></span>
	    {{ if (ask.category) { }}
	    	<span class="category" onclick="category_on(); return false;">{{= ask.category.name }}</span>
	    {{ }else{ }}
	    	<span class="category none" onclick="category_on(); return false;">관심사 미설정</span>
	    {{ } }}
			<div style="position:absolute; bottom:0; right:0;">
				<a class="share_icon" style="width:80px;" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
				{{ if (ask.be_completed == false){ }}
	        <a class="more_icon" style="width:70px;" href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><i class="fa fa-chevron-down" style="font-size:10px; color:#998674;"></i>&nbsp;더보기</a>
				{{ } }}
			</div>
	  </div>
		<div class="table_div" style="margin-bottom:0; padding:15px; border-bottom:1px solid #dbdbdb;">
			{{ if (ask.user) { }}
			  {{ gender_css = "color:#0389ed; border: solid 1px #0389ed;" }}
			  {{ if (!ask.user.gender) { }}
			    {{ gender_css = "color:#ea065e; border: solid 1px #ea065e;" }}
			  {{ } }}
			  <p style="margin:0px 5px 0px -1px; font-size:12px; padding:3px 4px; float:left; font-weight:bold; opacity:0.8; border-radius:5px; {{= gender_css}} border-right-width:2px; border-bottom-width:2px;">
					{{ if (ask.user.gender){ }}
						<i class="fa fa-male" style="margin-right:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-right:-2px;"></i>
					{{ } }}
					{{= get_user_ages(ask.user.birthday) }}
				</p>
				<a href="/?keyword={{= ask.user.string_id }}&type=user"><p style="margin:3px 0 0 0; color:#998675; font-size:17px; float:left; max-width:150px; overflow:hidden; text-overflow:ellipsis;">{{= ask.user.string_id }}</p></a>
				<span style="float:right; padding-top:5px; color:#9e9fa3; font-size:12px;">
					<i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span id="ask_{{=ask.id}}_vote_count">{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}표</span>
				</span>
				{{ if (ask.be_completed == true) { }}
					<div style="color: #fff; background: #4b3d3d; padding: 4px 5px 5px 5px; font-size: 11px; float: right; border-radius: 6px; margin-right: 5px; border-right: 2px solid #998674; border-bottom: 2px solid #998674;">투표종료</div>
				{{ } }}
			{{ } }}
		</div>
		<div id="ask_deal_{{=ask.id}}" style="position:relative;">
			{{ var askDealTemplate = _.template($('#ask-deal-template').html()) }}
	    {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
		</div>
		<div class="table_div" style="margin-bottom:0; padding:15px; border-bottom:1px solid #dbdbdb;">
			<p id="ask_{{=ask.id}}_message" style="margin:0; color:#383838; font-size:13px; line-height:2;">
				<span id="ask_{{=ask.id}}_message_text">
					{{ if( ask.message){ }}
						{{ ask_message = ask.message.replace(new RegExp('\r?\n', 'g'), '<br />') }}
						{{= ask_message }}
					{{ }else{ }}
						저의 결정장애 극복을 도와주세요! 둘 중에 뭐를 사야 하죠?
					{{ } }}
				</span>
				<span id="ask_{{=ask.id}}_message_text_shorten" style="display:none;">
				</span>
				<a id="ask_{{=ask.id}}_message_more" href="#" style="float:right; margin:0 5px; color:#998674; cursor:pointer; display:none;" onclick="$('#ask_{{=ask.id}}_message_text').show(); $('#ask_{{=ask.id}}_message_text_shorten').hide(); $(this).hide(); return false;">펼치기&nbsp;<i class="fa fa-angle-down"></i></a>
			</p>
		</div>
		<a class="card_detail" href="/asks/{{=ask.id}}" target="_blank">
			<span style="float:left; margin-left:15px;"><i class="fa fa-comment" style="font-size:15px; margin-right:3px;"></i>{{=ask.left_ask_deal.comment_count}}</span>
			<span><i class="fa fa-angle-double-down" style="font-size:15px;">&nbsp;</i>상세 열기</span>
			<span style="float:right; margin-right:15px;">{{=ask.right_ask_deal.comment_count}}<i class="fa fa-comment" style="font-size:15px; margin-left:3px; transform:rotateY(180deg);"></i></span>
		</a>
	</div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<div class="table_div" style="margin-bottom:0;">
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:left;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;">
				<img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, true); return false;" class="card_image_overlay">
						<img src="/images/home/vote_result_check.png" style="width:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn left_btn" href="#" onclick="vote_ask_deal({{=left_ask_deal.id}}, true); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:right;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;">
				<img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, false); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, false ); return false;" class="card_image_overlay">
						<img src="/images/home/vote_result_check.png" style="width:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn right_btn" href="#" onclick="vote_ask_deal({{=right_ask_deal.id}}, false); return false;" style="border-left:1px solid #fff;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
	</div>
	{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
		<div id="main_vote_count">
			{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
			{{ if (ask.user_id == current_user_id && total_count == 0){ }}
				{{ left_ratio = 0 }}
				{{ left_ratio_full = 0 }}
				{{ right_ratio = 0 }}
				{{ right_ratio_full = 0 }}
			{{ }else{ }}
				{{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 80) }}
				{{ left_ratio_full = Math.round(ask.left_ask_deal.vote_count/total_count * 100) }}
				{{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 80) }}
				{{ right_ratio_full = Math.round(ask.right_ask_deal.vote_count/total_count * 100) }}
			{{ } }}

			{{ left_background = "#ffcc5a" }}
			{{ left_font_weight = "bold" }}
			{{ right_background = "#ffcc5a" }}
			{{ right_font_weight = "bold" }}
			{{ if (left_ratio > right_ratio){ }}
				{{ right_background = "#fff" }}
				{{ right_font_weight = "normal" }}
			{{ }else if(left_ratio < right_ratio){ }}
				{{ left_background = "#fff" }}
				{{ left_font_weight = "normal" }}
			{{ } }}
			<table cellspacing="0" cellpadding="0" style="width:100%; background-color:rgba(75,61,61,0.9); color:#fff; font-size:12px; font-weight:bold; height:40px;">
				<tr>
					<td class="vote-result-td">
						<span class="vote-result-bar-left" style="width:{{=left_ratio}}%; background-color:{{=left_background}};">&nbsp;</span>
						<span class="vote-result-num-left" style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{=left_ratio_full}}%</span>
					</td>
					<td class="vote-result-td-title">
						A vs B
					</td>
					<td class="vote-result-td">
						<span class="vote-result-bar-right" style="width:{{=right_ratio}}%; background-color:{{=right_background}};">&nbsp;</span>
						<span class="vote-result-num-right" style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{=right_ratio_full}}%</span>
					</td>
				</tr>
			</table>
		</div>
	{{ } }}
	<div class="card_detail_table" style="padding:10px 10px 0px 10px; display:none;">
		{{ if (ask.left_ask_deal.title != "" && ask.right_ask_deal.title != "" ){ }}
			<div class="table_div">
				<div class="ask_text_field left_input output_field" style="font-weight:bold;">
					<p class="output_field">{{= ask.left_ask_deal.title }}</p>
					<div class="tooltip_area">
						<div class="tooltip_arrow bottom"></div>
						<div class="tooltip_content">{{= ask.left_ask_deal.title }}</div>
					</div>
				</div>
				<div class="ask_text_field right_input output_field" style="font-weight:bold;">
					<p class="output_field">{{= ask.right_ask_deal.title }}</p>
					<div class="tooltip_area">
						<div class="tooltip_arrow bottom"></div>
						<div class="tooltip_content">{{= ask.right_ask_deal.title }}</div>
					</div>
				</div>
				<span class="input_icon center_input"><i class="fa fa-cube"></i></span>
			</div>
		{{ } }}
		{{ if (ask.left_ask_deal.brand != "" && ask.right_ask_deal.brand != "" ){ }}
			<div class="table_div">
				<div class="ask_text_field left_input output_field"><p class="output_field">{{= ask.left_ask_deal.brand }}</p></div>
				<div class="ask_text_field right_input output_field"><p class="output_field">{{= ask.right_ask_deal.brand }}</p></div>
				<span class="input_icon center_input"><i class="fa fa-tag"></i></span>
			</div>
		{{ } }}
		{{ if (ask.left_ask_deal.price != null && ask.right_ask_deal.price != null ){ }}
			<div class="table_div">
				<div class="ask_text_field left_input output_field"><p class="output_field">{{= numberWithCommas(ask.left_ask_deal.price) }}원</p></div>
				<div class="ask_text_field right_input output_field"><p class="output_field">{{= numberWithCommas(ask.right_ask_deal.price) }}원</p></div>
				<span class="input_icon center_input"><i class="fa fa-won"></i></span>
			</div>
		{{ } }}
		{{ if (ask.left_ask_deal.link != "" || ask.right_ask_deal.link != "" ){ }}
			<div class="table_div">
				<div class="ask_text_field left_input output_field">
					<p class="output_field">
						{{ var aLink = document.createElement("a") }}
						{{ aLink.href = ask.left_ask_deal.link }}
						<a href="{{= ask.left_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= aLink.host }}</a>
					</p>
				</div>
				<div class="ask_text_field right_input output_field">
					<p class="output_field">
						{{ var bLink = document.createElement("a") }}
						{{ bLink.href = ask.right_ask_deal.link }}
						<a href="{{= ask.right_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= bLink.host }}</a>
					<p>
				</div>
				<span class="input_icon center_input"><i class="fa fa-link"></i></span>
			</div>
		{{ } }}
		{{ if (ask.left_ask_deal.spec1 != "" || ask.left_ask_deal.spec2 != "" || ask.left_ask_deal.spec3 != "" || ask.right_ask_deal.spec1 != "" || ask.right_ask_deal.spec2 != "" || ask.right_ask_deal.spec3 != "") { }}
			<div class="table_div" style="border:1px solid #dbdbdb; border-radius:5px; overflow:hidden;">
				<table class="deal_spec_detail" cellspacing="0" cellpadding="0" style="width:100%;">
					{{ if (ask.left_ask_deal.spec1 != "" && ask.right_ask_deal.spec1 != "" ){ }}
						<tr>
							<td style="width:40%;">
								<p>{{= ask.left_ask_deal.spec1 }}</p>
							</td>
							<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb;">
								<p>{{= ask.spec1 }}</p>
							</td>
							<td style="width:40%;">
								<p>{{= ask.right_ask_deal.spec1 }}</p>
							</td>
						</tr>
					{{ } }}
					{{ if (ask.left_ask_deal.spec2 != "" && ask.right_ask_deal.spec2 != "" ){ }}
						<tr>
							<td style="width:40%; border-top:1px solid #dbdbdb;">
								<p>{{= ask.left_ask_deal.spec2 }}</p>
							</td>
							<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
								<p>{{= ask.spec2 }}</p>
							</td>
							<td style="width:40%; border-top:1px solid #dbdbdb;">
								<p>{{= ask.right_ask_deal.spec2 }}</p>
							</td>
						</tr>
					{{ } }}
					{{ if (ask.left_ask_deal.spec3 != "" && ask.right_ask_deal.spec3 != "" ){ }}
						<tr>
							<td style="width:40%; border-top:1px solid #dbdbdb;">
								<p>{{= ask.left_ask_deal.spec3 }}</p>
							</td>
							<td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
								<p>{{= ask.spec3 }}</p>
							</td>
							<td style="width:40%; border-top:1px solid #dbdbdb;">
								<p>{{= ask.right_ask_deal.spec3 }}</p>
							</td>
						</tr>
					{{ } }}
				</table>
			</div>
		{{ } }}
	</div>
</script>

<script>
	<% if flash[:ask_create] %>
		notify('<%=flash[:ask_create]%>');
	<% end %>

	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>

	var asks = <%= raw @asks.to_json %>;
	var my_votes = <%= raw @my_votes.to_json %>;
	var my_vote_count = <%= @my_votes.length %>;
	var askTemplate = _.template( $('#ask-template').html() );

	<% unless @ranking_asks.blank? %>
	var ranking_asks = <%= raw @ranking_asks.to_json %>;
	for(var i=0; i < ranking_asks.length; i++) {
		asks.unshift(ranking_asks[i])
	}
	<% end %>

	for(var i=0; i < asks.length; i++) {
		var ask = asks[i]
		$('#asks').append(askTemplate({ask: ask}));
		hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
		abbreviate_msg(ask.message, ask.id);
	}

	function abbreviate_msg(origin_string, ask_id) {
		var msg = $("#ask_"+ask_id+"_message_text");
		var msg_short = $("#ask_"+ask_id+"_message_text_shorten");
		var msg_more = $("#ask_"+ask_id+"_message_more");
		if (origin_string.length > 80) {
			msg.hide();
			msg_short.show();
			msg_short.html(origin_string.substring(0,80).replace(new RegExp('\r?\n', 'g'), '<br>').replace(/(<br>)+/g,"<br>")+" ...");
			hash_tagging(origin_string.substring(0,80), msg_short);
			msg_more.show();
		};
	}

	function vote_ask_deal(ask_deal_id, is_left){
	 	if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
      setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
			setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	my_votes.push(data.vote);
		        	var askDealTemplate = _.template( $('#ask-deal-template').html() );
		        	$('#ask_deal_'+data.ask.id).html(askDealTemplate({my_votes: my_votes, ask:data.ask }));
							graph_animation(data.ask.id);
	        		notify("투표 완료");
							hover_action();
	        		var vote_count_span = $("#ask_"+data.ask.id+"_vote_count");
	        		vote_count_span.html( parseInt(vote_count_span.html()) + 1 + "표" );
	        		my_vote_count = my_vote_count + 1;
		        },
		        beforeSend: function(){
		       		$(".loading").show();
		        },
		        complete: function(){
		        	$(".loading").hide();
		        }
			});
	 	}
	}


	var ready = function() {
		// if (asks.length == <%= Ask::ASK_PER %>){
			setInterval("checkScroll()", 1000);
		// }
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

	var currentPage = 1
	var is_more_asks = true;
	function checkScroll() {
	  if (window.location.pathname == "/" && nearBottomOfPage() && is_more_asks) { // 크롬에서 javascript 코드를 캐시하는거 같아서 url 분석해서 ask인 경우에만 작동하도록 변경
	    currentPage ++;

	    $.ajax({
	        url: window.location.href,
	        data: {'page': currentPage},
	        dataType: "json",
	        type: 'GET',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var more_asks = data.asks;
	        	$.merge(asks, more_asks);

	        	if ( more_asks.length == 0 ) {
	        		is_more_asks = false;
	        		$("#endless_loading").hide();
	        	} else {
	        		if( more_asks.length < <%= Ask::ASK_PER %> ){
	        			is_more_asks = false;
	        			$("#endless_loading").hide();
	        		}
	        		for(var i=0; i < more_asks.length; i++) {
    						var ask = more_asks[i]
				        $('#asks').append(askTemplate({ask: ask}));
								hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
								abbreviate_msg(ask.message, ask.id);
    					}
							hover_action();
							tooltip_box();
	        	}
	        },
	        beforeSend: function(){
          },
          complete: function(){
          }
		});
	  }
	}

  hover_action();
	tooltip_box();
	graph_width_adjust();

	function visitor_new_ask() {
		notify('회원가입 후<br />질문을 올릴 수 있습니다.');
		setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
		setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
	}

</script>

<%= render :partial => "common_partial/category" %>
<%= render :partial => "common_partial/footer" %>
<%= render :partial => "common_partial/more_popup" %>
<%= render :partial => "common_partial/share_popup" %>
<%= render :partial => "common_partial/ask_image" %>
