<script type="text/template" id="ask-template">
  <div id="ask_box_{{=ask.id}}" class="ask_box" style="margin:15px 12px;">
    <div id="ask_{{=ask.id}}" class="content_box">
      <div id="ask_{{=ask.id}}_category" class="table_div" style="margin-bottom:0px; border-bottom:1px solid #dbdbdb;">
        {{ var already_like_ask = $.grep(my_like_ask, function(obj) { return obj.ask_id === ask.id }) }}
          <span class="like_icon" onclick="ask_like({{=ask.id}}); return false;">
            <i id="ask_{{=ask.id}}_like_icon" class="fa {{= already_like_ask.length == 1 ? 'fa-heart' : 'fa-heart-o'}}"></i>
          </span>
        {{ if (ask.category) { }}
          <span class="category" onclick="category_on(); return false;">{{= ask.category.name }}</span>
        {{ }else{ }}
          <span class="category none" onclick="category_on(); return false;">관심사 미설정</span>
        {{ } }}
        <div style="position:absolute; bottom:0; right:0;">
          <a class="share_icon" style="width:80px;" href="#" onclick="show_share_popup({{=ask.id}}, '{{=ask.user.string_id}}', '{{= ask.left_ask_deal.title }}', '{{=ask.right_ask_deal.title}}'); return false;"><i class="fa fa-share" style="font-size:10px; color:#998674;"></i>&nbsp;공유하기</a>
          {{ if (ask.be_completed == false){ }}
            <a class="more_icon" style="width:70px;" href="#" onclick="show_more_popup('ask', {{=ask.id}}, {{=ask.user_id}}, {{= current_user_id }}); return false;"><i class="fa fa-chevron-down" style="font-size:10px; color:#998674;"></i>&nbsp;더보기</a>
          {{ } }}
        </div>
      </div>
      <div id="ask_{{=ask.id}}_user" class="table_div" style="margin-bottom:0; padding:15px; border-bottom:1px solid #dbdbdb;">
        {{ if (ask.user) { }}
          {{ gender_css = "color:#0389ed; border: solid 1px #0389ed;" }}
          {{ if (!ask.user.gender) { }}
            {{ gender_css = "color:#ea065e; border: solid 1px #ea065e;" }}
          {{ } }}
          <p style="margin:0px 5px 0px -1px; font-size:12px; padding:3px 4px; float:left; font-weight:bold; opacity:0.8; border-radius:5px; {{= gender_css}} border-right-width:2px; border-bottom-width:2px;">
            {{ if (ask.user.gender){ }}
              <i class="fa fa-male" style="margin-right:-2px;"></i>
            {{ }else{ }}
              <i class="fa fa-female" style="margin-right:-2px;"></i>
            {{ } }}
            {{= get_user_ages(ask.user.birthday) }}
          </p>
          <a href="/?keyword={{= ask.user.string_id }}&type=user"><p style="margin:3px 0 0 0; color:#998675; font-size:17px; float:left; max-width:150px; overflow:hidden; text-overflow:ellipsis;">{{= ask.user.string_id }}</p></a>
          <span style="float:right; padding-top:5px; color:#9e9fa3; font-size:12px;">
            <i class="fa fa-check-circle-o" style="font-size:13px; margin:0 3px;"></i><span id="ask_{{=ask.id}}_vote_count">{{= ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count}}표</span>
            <i class="fa fa-clock-o" style="font-size:13px; margin:0 3px 0 5px;"></i>{{= get_past_time(ask.created_at) }}
          </span>
          {{ if (ask.be_completed == true) { }}
            <div style="color: #fff; background: #4b3d3d; padding: 4px 5px 5px 5px; font-size: 11px; float: right; border-radius: 6px; margin-right: 5px; border-right: 2px solid #998674; border-bottom: 2px solid #998674;">투표종료</div>
          {{ } }}
        {{ } }}
      </div>
      <div id="ask_deal_{{=ask.id}}" class="table_div" style="margin-bottom:0px;">
        {{= askDealTemplate({my_votes: my_votes, ask: ask}) }}
      </div>
      <div id="detail_vote_count_{{=ask.id}}" class="table_div" style="display:none; margin-bottom:0px; background-color:#f0f2f4; color:#666; font-size: 12px; border-bottom:1px solid #dbdbdb;"></div>
      <div id="ask_deal_{{=ask.id}}_table" class="table_div" style="display:none; margin-bottom:0px; border-bottom:1px solid #dbdbdb;"></div>
      <div id="ask_{{=ask.id}}_message" class="table_div" style="margin-bottom:0px; color:#383838; font-size:13px; line-height:2; padding:15px;">
        <div id="ask_{{=ask.id}}_message_text">
          {{ if( ask.message){ }}
            {{ ask_message = ask.message.replace(new RegExp('\r?\n', 'g'), '<br />') }}
            {{= ask_message }}
          {{ }else{ }}
            저의 결정장애 극복을 도와주세요! 둘 중에 뭐를 사야 하죠?
          {{ } }}
        </div>
        <span id="ask_{{=ask.id}}_message_text_shorten" style="display:none;"></span>
        <a id="ask_{{=ask.id}}_message_more" href="#" style="float:right; margin:0px 5px; color:#998674; cursor:pointer; display:none;" onclick="$('#ask_{{=ask.id}}_message_text').show(); $('#ask_{{=ask.id}}_message_text_shorten').hide(); $(this).hide(); return false;"><i class="fa fa-angle-down">&nbsp;more</i></a>
      </div>
      <div id="ask_{{=ask.id}}_comment" class="table_div" style="display:none; margin-bottom:0px;"></div>
      <div id="ask_{{=ask.id}}_detail_btn" class="table_div" style="margin-bottom:0px;">
        {{= askDetailBtnTemplate({ask: ask}) }}
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="ask-deal-template">
	{{ left_ask_deal = ask.left_ask_deal }}
	{{ right_ask_deal = ask.right_ask_deal }}
	{{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
	<div class="table_div" style="margin-bottom:0;">
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:left;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.left_ask_deal_id}}, true); return false;">
				<img src='{{= get_image_url(left_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.left_ask_deal_id}}, true); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.left_ask_deal_id}}, true); return false;" class="card_image_overlay">
						<img src="/images/custom/vote_result_check.png" style="width:50%; height:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn left_btn" href="#" onclick="vote_ask_deal({{=ask.id}}, {{=left_ask_deal.id}}, true); return false;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
		<div class="table_div" style="margin-bottom:0; width:50%; overflow:hidden; float:right;">
			<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.right_ask_deal_id}}, false); return false;">
				<img src='{{= get_image_url(right_ask_deal, "ask_deals", "normal") }}' class="card_image"/>
				<span class="card_image_hover" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:#ffe4a9; opacity:0.2; display:none;"></span>
				<p class="card_image_expander"><i class="fa fa-expand"></i></p>
			</a>
			{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
				{{ if ((ask.user_id == current_user_id || ask.be_completed) || ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.right_ask_deal_id}}, false); return false;" class="card_image_overlay"></a>
				{{ }else if(ask.right_ask_deal_id == already_vote[0].ask_deal_id){ }}
					<a href="#" onclick="ask_image_on({{=ask.id}}, {{=ask.right_ask_deal_id}}, false ); return false;" class="card_image_overlay">
						<img src="/images/custom/vote_result_check.png" style="width:50%; height:50%; margin-top:25%;">
					</a>
				{{ } }}
			{{ } }}
			{{ if( ask.user_id != current_user_id && already_vote.length == 0 && ask.be_completed == false ){ }}
				<a class="vote_btn_{{=ask.id}} vote_btn right_btn" href="#" onclick="vote_ask_deal({{=ask.id}}, {{=right_ask_deal.id}}, false); return false;" style="border-left:1px solid #fff;">투표하기&nbsp;<i class="fa fa-play"></i></a>
			{{ } }}
		</div>
	</div>
	{{ if( ask.user_id == current_user_id || already_vote.length != 0 || ask.be_completed){ }}
		<div id="main_vote_count_{{=ask.id}}">
			{{ total_count = ask.left_ask_deal.vote_count + ask.right_ask_deal.vote_count }}
			{{ if (ask.user_id == current_user_id && total_count == 0){ }}
				{{ left_ratio = 0 }}
				{{ left_ratio_full = 0 }}
				{{ right_ratio = 0 }}
				{{ right_ratio_full = 0 }}
			{{ }else{ }}
				{{ left_ratio = Math.round(ask.left_ask_deal.vote_count/total_count * 80) }}
				{{ left_ratio_full = Math.round(ask.left_ask_deal.vote_count/total_count * 100) }}
				{{ right_ratio = Math.round(ask.right_ask_deal.vote_count/total_count * 80) }}
				{{ right_ratio_full = Math.round(ask.right_ask_deal.vote_count/total_count * 100) }}
			{{ } }}

			{{ left_background = "#ffcc5a" }}
			{{ left_font_weight = "bold" }}
			{{ right_background = "#ffcc5a" }}
			{{ right_font_weight = "bold" }}
			{{ if (left_ratio > right_ratio){ }}
				{{ right_background = "#fff" }}
				{{ right_font_weight = "normal" }}
			{{ }else if(left_ratio < right_ratio){ }}
				{{ left_background = "#fff" }}
				{{ left_font_weight = "normal" }}
			{{ } }}
			<table cellspacing="0" cellpadding="0" style="width:100%; background-color:rgba(75,61,61,0.9); color:#fff; font-size:12px; font-weight:bold; height:40px;">
				<tr>
					<td class="vote-result-td">
						<span id="left_bar_{{=ask.id}}" class="vote-result-bar-left" style="width:{{=left_ratio}}%; background-color:{{=left_background}};">&nbsp;</span>
						<span id="left_num_{{=ask.id}}" class="vote-result-num-left" style="float:right; margin-right:3px; font-weight:{{=left_font_weight}}; color:{{=left_background}};">{{=left_ratio_full}}%</span>
					</td>
					<td class="vote-result-td-title">
						A vs B
					</td>
					<td class="vote-result-td">
						<span id="right_bar_{{=ask.id}}" class="vote-result-bar-right" style="width:{{=right_ratio}}%; background-color:{{=right_background}};">&nbsp;</span>
						<span id="right_num_{{=ask.id}}" class="vote-result-num-right" style="float:left; margin-left:3px; font-weight:{{=right_font_weight}}; color:{{=right_background}};">{{=right_ratio_full}}%</span>
					</td>
				</tr>
			</table>
		</div>
	{{ } }}
</script>

<script type="text/template" id="detail-vote-count-template">
	{{ gender_total_count = detail_vote_count.left.male_count + detail_vote_count.left.female_count + detail_vote_count.right.male_count + detail_vote_count.right.female_count }}
	{{ if ( gender_total_count == 0 ){ }}
		{{ male_left_ratio = 0 }}
		{{ male_right_ratio = 0 }}
		{{ female_left_ratio = 0 }}
		{{ female_right_ratio = 0 }}
	{{ }else{ }}
		{{ male_left_ratio = Math.round(detail_vote_count.left.male_count/gender_total_count * 80) }}
		{{ male_right_ratio = Math.round(detail_vote_count.right.male_count/gender_total_count * 80) }}
		{{ female_left_ratio = Math.round(detail_vote_count.left.female_count/gender_total_count * 80) }}
		{{ female_right_ratio = Math.round(detail_vote_count.right.female_count/gender_total_count * 80) }}
	{{ } }}

	{{ gender_male_css = "" }}
	{{ gender_female_css = "" }}
	{{ gender_male_background_css = "" }}
	{{ gender_female_background_css = "" }}
	{{ if( (gender_total_count != 0 && (detail_vote_count.left.male_count + detail_vote_count.right.male_count) <= (detail_vote_count.left.female_count + detail_vote_count.right.female_count)) ){ }}
		{{ gender_female_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ gender_female_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( (gender_total_count != 0 && (detail_vote_count.left.male_count + detail_vote_count.right.male_count) >= (detail_vote_count.left.female_count + detail_vote_count.right.female_count)) ){ }}
		{{ gender_male_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ gender_male_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
	<table cellspacing="0" cellpadding="1" class="graph" style="padding:10px; border-bottom:1px solid #dbdbdb;">
		<tbody>
			<tr style="{{=gender_male_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(male_left_ratio)}}%; background-color:{{= (male_left_ratio >= male_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }}">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (male_left_ratio >= male_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.male_count ==0) ? "-" : detail_vote_count.left.male_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{=gender_male_css}}">
					남자
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(male_right_ratio) }}%; background-color:{{= (male_left_ratio <= male_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (male_left_ratio <= male_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.male_count ==0) ? "-" : detail_vote_count.right.male_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=gender_female_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(female_left_ratio) }}%; background-color:{{= (female_left_ratio >= female_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (female_left_ratio >= female_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.female_count ==0) ? "-" : detail_vote_count.left.female_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{=gender_female_css}}">
					여자
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(female_right_ratio) }}%; background-color: {{= (female_left_ratio <= female_right_ratio) ? '#ffcc5a;' : '#cbcbcb;' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (female_left_ratio <= female_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.female_count ==0) ? "-" : detail_vote_count.right.female_count+"명"}}</span>
				</td>
			</tr>
		</tbody>
	</table>
	{{ age_total_count = detail_vote_count.left.age_20_1_count + detail_vote_count.left.age_20_2_count + detail_vote_count.left.age_20_3_count + detail_vote_count.left.age_30_1_count + detail_vote_count.left.age_30_2_count + detail_vote_count.left.age_30_3_count + detail_vote_count.left.etc_count + detail_vote_count.right.age_20_1_count + detail_vote_count.right.age_20_2_count + detail_vote_count.right.age_20_3_count + detail_vote_count.right.age_30_1_count + detail_vote_count.right.age_30_2_count + detail_vote_count.right .age_30_3_count + detail_vote_count.right.etc_count }}
	{{ if ( age_total_count == 0 ){ }}
		{{ age_20_1_left_ratio = 0 }}
		{{ age_20_1_right_ratio = 0 }}
		{{ age_20_2_left_ratio = 0 }}
		{{ age_20_2_right_ratio = 0 }}
		{{ age_20_3_left_ratio = 0 }}
		{{ age_20_3_right_ratio = 0 }}
		{{ age_30_1_left_ratio = 0 }}
		{{ age_30_1_right_ratio = 0 }}
		{{ age_30_2_left_ratio = 0 }}
		{{ age_30_2_right_ratio = 0 }}
		{{ age_30_3_left_ratio = 0 }}
		{{ age_30_3_right_ratio = 0 }}
		{{ etc_left_ratio = 0 }}
		{{ etc_right_ratio = 0 }}
	{{ }else{ }}
		{{ age_20_1_left_ratio = Math.round(detail_vote_count.left.age_20_1_count/age_total_count * 80) }}
		{{ age_20_1_right_ratio = Math.round(detail_vote_count.right.age_20_1_count/age_total_count * 80) }}
		{{ age_20_2_left_ratio = Math.round(detail_vote_count.left.age_20_2_count/age_total_count * 80) }}
		{{ age_20_2_right_ratio = Math.round(detail_vote_count.right.age_20_2_count/age_total_count * 80) }}
		{{ age_20_3_left_ratio = Math.round(detail_vote_count.left.age_20_3_count/age_total_count * 80) }}
		{{ age_20_3_right_ratio = Math.round(detail_vote_count.right.age_20_3_count/age_total_count * 80) }}
		{{ age_30_1_left_ratio = Math.round(detail_vote_count.left.age_30_1_count/age_total_count * 80) }}
		{{ age_30_1_right_ratio = Math.round(detail_vote_count.right.age_30_1_count/age_total_count * 80) }}
		{{ age_30_2_left_ratio = Math.round(detail_vote_count.left.age_30_2_count/age_total_count * 80) }}
		{{ age_30_2_right_ratio = Math.round(detail_vote_count.right.age_30_2_count/age_total_count * 80) }}
		{{ age_30_3_left_ratio = Math.round(detail_vote_count.left.age_30_3_count/age_total_count * 80) }}
		{{ age_30_3_right_ratio = Math.round(detail_vote_count.right.age_30_3_count/age_total_count * 80) }}
		{{ etc_left_ratio = Math.round(detail_vote_count.left.etc_count/age_total_count * 80) }}
		{{ etc_right_ratio = Math.round(detail_vote_count.right.etc_count/age_total_count * 80) }}
	{{ } }}

	{{ age_20_1_css = "" }}
	{{ age_20_2_css = "" }}
	{{ age_20_3_css = "" }}
	{{ age_30_1_css = "" }}
	{{ age_30_2_css = "" }}
	{{ age_30_3_css = "" }}
	{{ etc_css = "" }}
	{{ age_20_1_background_css = "" }}
	{{ age_20_2_background_css = "" }}
	{{ age_20_3_background_css = "" }}
	{{ age_30_1_background_css = "" }}
	{{ age_30_2_background_css = "" }}
	{{ age_30_3_background_css = "" }}
	{{ etc_background_css = "" }}
	{{ age_20_1_count = detail_vote_count.left.age_20_1_count + detail_vote_count.right.age_20_1_count }}
	{{ age_20_2_count = detail_vote_count.left.age_20_2_count + detail_vote_count.right.age_20_2_count }}
	{{ age_20_3_count = detail_vote_count.left.age_20_3_count + detail_vote_count.right.age_20_3_count }}
	{{ age_30_1_count = detail_vote_count.left.age_30_1_count + detail_vote_count.right.age_30_1_count }}
	{{ age_30_2_count = detail_vote_count.left.age_30_2_count + detail_vote_count.right.age_30_2_count }}
	{{ age_30_3_count = detail_vote_count.left.age_30_3_count + detail_vote_count.right.age_30_3_count }}
	{{ etc_count = detail_vote_count.left.etc_count + detail_vote_count.right.etc_count }}
	{{ age_count_arr = [ age_20_1_count, age_20_2_count, age_20_3_count, age_30_1_count, age_30_2_count, age_30_3_count, etc_count] }}
	{{ max_count = Math.max.apply(window,age_count_arr) }}
  {{ max_count_index_array = [] }}
  {{ for(i=0; i < age_count_arr.length; i++) { }}
    {{ if (max_count !=0 && age_count_arr[i] == max_count) max_count_index_array.push(i) }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(0) != -1 ){ }}
		{{ age_20_1_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_1_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
  {{ if( max_count_index_array.indexOf(1) != -1 ){ }}
		{{ age_20_2_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_2_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(2) != -1 ){ }}
		{{ age_20_3_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_20_3_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(3) != -1 ){ }}
		{{ age_30_1_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_1_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(4) != -1 ){ }}
		{{ age_30_2_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_2_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(5) != -1 ){ }}
		{{ age_30_3_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ age_30_3_background_css = "background-color:rgba(255,228,169,0.7);" }}
  {{ } }}
	{{ if( max_count_index_array.indexOf(6) != -1 ){ }}
		{{ etc_css = "color:#ffcc5a; font-weight:bold;" }}
		{{ etc_background_css = "background-color:rgba(255,228,169,0.7);" }}
	{{ } }}
	<table cellspacing="0" cellpadding="1" class="graph" style="padding:10px;">
		<tbody>
			<tr style="{{=age_20_1_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_1_left_ratio) }}%; background-color:{{= (age_20_1_left_ratio >= age_20_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_1_left_ratio >= age_20_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_20_1_count ==0) ? "-" : detail_vote_count.left.age_20_1_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_1_css }}">
					20초
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_1_right_ratio) }}%; background-color:{{= (age_20_1_left_ratio <= age_20_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_1_left_ratio <= age_20_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_20_1_count ==0) ? "-" : detail_vote_count.right.age_20_1_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_20_2_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_2_left_ratio) }}%; background-color:{{= (age_20_2_left_ratio >= age_20_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_2_left_ratio >= age_20_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_20_2_count ==0) ? "-" : detail_vote_count.left.age_20_2_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_2_css }}">
					20중
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_2_right_ratio) }}%; background-color:{{= (age_20_2_left_ratio <= age_20_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_2_left_ratio <= age_20_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_20_2_count ==0) ? "-" : detail_vote_count.right.age_20_2_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_20_3_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_20_3_left_ratio) }}%; background-color:{{= (age_20_3_left_ratio >= age_20_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_20_3_left_ratio >= age_20_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_20_3_count ==0) ? "-" : detail_vote_count.left.age_20_3_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_20_3_css }}">
					20후
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_20_3_right_ratio) }}%; background-color:{{= (age_20_3_left_ratio <= age_20_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_20_3_left_ratio <= age_20_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_20_3_count ==0) ? "-" : detail_vote_count.right.age_20_3_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_1_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_1_left_ratio) }}%; background-color:{{= (age_30_1_left_ratio >= age_30_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_1_left_ratio >= age_30_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_30_1_count ==0) ? "-" : detail_vote_count.left.age_30_1_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_1_css }}">
					30초
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_1_right_ratio) }}%; background-color:{{= (age_30_1_left_ratio <= age_30_1_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_1_left_ratio <= age_30_1_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_30_1_count ==0) ? "-" : detail_vote_count.right.age_30_1_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_2_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_2_left_ratio) }}%; background-color:{{= (age_30_2_left_ratio >= age_30_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_2_left_ratio >= age_30_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_30_2_count ==0) ? "-" : detail_vote_count.left.age_30_2_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_2_css }}">
					30중
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_2_right_ratio) }}%; background-color:{{= (age_30_2_left_ratio <= age_30_2_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_2_left_ratio <= age_30_2_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_30_2_count ==0) ? "-" : detail_vote_count.right.age_30_2_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=age_30_3_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(age_30_3_left_ratio) }}%; background-color:{{= (age_30_3_left_ratio >= age_30_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (age_30_3_left_ratio >= age_30_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.age_30_3_count ==0) ? "-" : detail_vote_count.left.age_30_3_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= age_30_3_css }}">
					30후
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(age_30_3_left_ratio) }}%; background-color:{{= (age_30_3_left_ratio <= age_30_3_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (age_30_3_left_ratio <= age_30_3_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.age_30_3_count ==0) ? "-" : detail_vote_count.right.age_30_3_count+"명"}}</span>
				</td>
			</tr>
			<tr style="{{=etc_background_css}}">
				<td class="vote-result-td">
					<span class="vote-result-bar-left" style="width:{{= Math.round(etc_left_ratio) }}%; background-color:{{= (etc_left_ratio >= etc_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-left" style="float:right; margin-right:3px; font-size:11px; padding-top:1px; {{= (etc_left_ratio >= etc_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.left.etc_count ==0) ? "-" : detail_vote_count.left.etc_count+"명"}}</span>
				</td>
				<td class="vote-result-td-title" style="{{= etc_css }}">
					기타
				</td>
				<td class="vote-result-td">
					<span class="vote-result-bar-right" style="width:{{= Math.round(etc_right_ratio) }}%; background-color:{{= (etc_left_ratio <= etc_right_ratio) ? '#ffcc5a;' : '#cbcbcb' }};">&nbsp;</span>
					<span class="vote-result-num-right" style="float:left; margin-left:3px; font-size:11px; padding-top:1px; {{= (etc_left_ratio <= etc_right_ratio) ? 'color:#ffcc5a;' : 'color:#cbcbcb;' }}">{{= (detail_vote_count.right.etc_count ==0) ? "-" : detail_vote_count.right.etc_count+"명"}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</script>

<script type="text/template" id="ask-deal-table-template">
  <div style="padding:10px 10px 0px 10px;">
    {{ var blank_field = '<p class="output_field" style="color:#9d9ea1;">-</p>' }}
    {{ if (ask.left_ask_deal.title != "" && ask.right_ask_deal.title != "" ){ }}
      <div class="table_div">
        <div class="ask_text_field left_input output_field" style="font-weight:bold;">
          <p class="output_field">{{= ask.left_ask_deal.title }}</p>
          <div class="tooltip_area">
            <div class="tooltip_arrow bottom"></div>
            <div class="tooltip_content">{{= ask.left_ask_deal.title }}</div>
          </div>
        </div>
        <div class="ask_text_field right_input output_field" style="font-weight:bold;">
          <p class="output_field">{{= ask.right_ask_deal.title }}</p>
          <div class="tooltip_area">
            <div class="tooltip_arrow bottom"></div>
            <div class="tooltip_content">{{= ask.right_ask_deal.title }}</div>
          </div>
        </div>
        <span class="input_icon center_input"><i class="fa fa-cube"></i></span>
      </div>
    {{ } }}
    {{ if (ask.left_ask_deal.brand != "" || ask.right_ask_deal.brand != "" ){ }}
      <div class="table_div">
        <div class="ask_text_field left_input output_field">
          {{ if (ask.left_ask_deal.brand == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.brand }}</p>{{ } }}
        </div>
        <div class="ask_text_field right_input output_field">
          {{ if (ask.right_ask_deal.brand == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.brand }}</p>{{ } }}
        </div>
        <span class="input_icon center_input"><i class="fa fa-tag"></i></span>
      </div>
    {{ } }}
    {{ if (ask.left_ask_deal.price != null || ask.right_ask_deal.price != null ){ }}
      <div class="table_div">
        <div class="ask_text_field left_input output_field">
          {{ if (ask.left_ask_deal.price == null) { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= numberWithCommas(ask.left_ask_deal.price) }}원</p>{{ } }}
        </div>
        <div class="ask_text_field right_input output_field">
          {{ if (ask.right_ask_deal.price == null) { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= numberWithCommas(ask.right_ask_deal.price) }}원</p>{{ } }}
        </div>
        <span class="input_icon center_input"><i class="fa fa-won"></i></span>
      </div>
    {{ } }}
    {{ if (ask.left_ask_deal.link != "" || ask.right_ask_deal.link != "" ){ }}
      <div class="table_div">
        <div class="ask_text_field left_input output_field">
          {{ if (ask.left_ask_deal.link == "") { }} {{= blank_field }} {{ } else { }}
            <p class="output_field">
              {{ var aLink = document.createElement("a") }}
              {{ aLink.href = ask.left_ask_deal.link }}
              <a href="{{= ask.left_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= aLink.host }}</a>
            </p>
          {{ } }}
        </div>
        <div class="ask_text_field right_input output_field">
          {{ if (ask.right_ask_deal.link == "") { }} {{= blank_field }} {{ } else { }}
            <p class="output_field">
              {{ var bLink = document.createElement("a") }}
              {{ bLink.href = ask.right_ask_deal.link }}
              <a href="{{= ask.right_ask_deal.link }}" target="_blank" style="color:#ee6e01;"><i class="fa fa-external-link" style="color: #ee6e01; font-size: 12px; font-weight: bold;"></i>&nbsp;{{= bLink.host }}</a>
            <p>
          {{ } }}
        </div>
        <span class="input_icon center_input"><i class="fa fa-link"></i></span>
      </div>
    {{ } }}
    {{ if (ask.spec1 != "" || ask.spec2 != "" || ask.spec3 != "" || ask.left_ask_deal.spec1 != "" || ask.left_ask_deal.spec2 != "" || ask.left_ask_deal.spec3 != "" || ask.right_ask_deal.spec1 != "" || ask.right_ask_deal.spec2 != "" || ask.right_ask_deal.spec3 != "") { }}
      <div class="table_div" style="border:1px solid #dbdbdb; border-radius:5px; overflow:hidden;">
        <table class="deal_spec_detail" cellspacing="0" cellpadding="0" style="width:100%;">
          {{ if (ask.spec1 != "" || ask.left_ask_deal.spec1 != "" || ask.right_ask_deal.spec1 != "" ){ }}
            <tr>
              <td style="width:40%;">
                {{ if (ask.left_ask_deal.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec1 }}</p>{{ } }}
              </td>
              <td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb;">
                {{ if (ask.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec1 }}</p>{{ } }}
              </td>
              <td style="width:40%;">
                {{ if (ask.right_ask_deal.spec1 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec1 }}</p>{{ } }}
              </td>
            </tr>
          {{ } }}
          {{ if (ask.spec2 != "" || ask.left_ask_deal.spec2 != "" || ask.right_ask_deal.spec2 != "" ){ }}
            <tr>
              <td style="width:40%; border-top:1px solid #dbdbdb;">
                {{ if (ask.left_ask_deal.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec2 }}</p>{{ } }}
              </td>
              <td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
                {{ if (ask.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec2 }}</p>{{ } }}
              </td>
              <td style="width:40%; border-top:1px solid #dbdbdb;">
                {{ if (ask.right_ask_deal.spec2 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec2 }}</p>{{ } }}
              </td>
            </tr>
          {{ } }}
          {{ if (ask.spec3 != "" || ask.left_ask_deal.spec3 != "" || ask.right_ask_deal.spec3 != "" ){ }}
            <tr>
              <td style="width:40%; border-top:1px solid #dbdbdb;">
                {{ if (ask.left_ask_deal.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.left_ask_deal.spec3 }}</p>{{ } }}
              </td>
              <td style="width:20%; background-color:#f4f4f4; border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb; border-top:1px solid #dbdbdb;">
                {{ if (ask.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.spec3 }}</p>{{ } }}
              </td>
              <td style="width:40%; border-top:1px solid #dbdbdb;">
                {{ if (ask.right_ask_deal.spec3 == "") { }} {{= blank_field }} {{ } else { }}<p class="output_field">{{= ask.right_ask_deal.spec3 }}</p>{{ } }}
              </td>
            </tr>
          {{ } }}
        </table>
      </div>
    {{ } }}
  </div>
</script>

<script type="text/template" id="ask-comment-template">
  {{ already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask.id }) }}
  <div id="ask_{{=ask.id}}_comment_title" class="table_div comment_title {{= already_vote.length == 1 ? 'already_vote' : '' }}" onclick="$('#comment_input_{{=ask.id}}').click(); return false;" style="margin:0;">
    <span style="width:100%;">
       <i class="fa {{= already_vote.length == 1 ? 'fa-keyboard-o' : 'fa-hand-o-up' }}" style="font-size:16px;"></i>&nbsp;{{= already_vote.length == 1 ? '당신의 의견을 남겨주세요.' : '먼저 투표에 참여해주세요.' }}
    </span>
    <span style="position:absolute; top:0; left:10px; width:40px;">
      <i class="fa fa-comment" style="font-size:16px;"></i>
      <span id="left_ask_deal_comment_count_{{=ask.id}}">{{=ask.left_ask_deal.comment_count}}</span>
    </span>
    <span style="position:absolute; top:0; right:10px; width:40px;">
      <span id="right_ask_deal_comment_count_{{=ask.id}}">{{=ask.right_ask_deal.comment_count}}</span>&nbsp;
      <i class="fa fa-comment" style="font-size:16px; transform:rotateY(180deg);"></i>
    </span>
  </div>
  <div id="ask_{{=ask.id}}_comment_list" class="table_div" style="position:relative; background-color:#fff; padding:10px 0; margin:0; min-height:200px;">
    <p style="position: absolute; top: 50%; left: 50%; color: #9d9ea1; font-size: 13px; width: 200px; margin-top: -16px; margin-left: -100px; display:{{= ask.comments.length == 0 ? 'block' : 'none' }};" id="no_comment_{{=ask.id}}">아직 남겨진 의견이 없네요.<br>소중한 한마디 부탁드립니다:)</p>
    {{ if(current_user_id == 0 && ask.user_id != current_user_id && already_vote.length == 0){ }}
      <div id="visitor_comment_overlay_{{=ask.id}}" style="position:absolute; top:0; left:0; width:100%; height:100%; background-color:black; opacity:0.92;">
        <p style="position:relative; top:50%; margin:-75px 0 0 0; color:#fff; font-size:15px; text-align:center; line-height:2; opacity:1;">
          <span style="background-color:#ee6e01; border-radius:3px; padding:3px 5px 1px;">VASKIT회원</span>이 되시면<br>모든 의견을 자유롭게 볼 수 있어요!<br><br>
          <span style="background-color:#4b3d3d; border-radius:3px; padding:3px 5px 1px;">비회원</span>은 투표에 참여한 후에만<br>의견을 확인하실 수 있답니다 :)
        </p>
      </div>
    {{ }else{ }}
      {{ for(var i=0; i < ask.comments.length; i++) {  }}
        {{ comment = ask.comments[i] }}
        {{= askCommentListTemplate({ask:ask, comment:comment}) }}
      {{ } }}
    {{ } }}
  </div>
  <div class="table_div" style="margin-bottom:0px; border:1px solid #{{= already_vote.length == 0 ? 'dbdbdb' : 'f18b33' }}; border-width:{{= already_vote.length == 0 ? '1px 0px' : '1px' }};">
    {{ if(already_vote.length == 0 || ask.user_id == current_user_id){ }}
      {{ ask_deal_id = ask.left_ask_deal_id }}
      {{ ask_deal_text = "left" }}
    {{ }else if(ask.left_ask_deal_id == already_vote[0].ask_deal_id){ }}
      {{ ask_deal_id = ask.left_ask_deal_id }}
      {{ ask_deal_text = "left" }}
    {{ }else{ }}
      {{ ask_deal_id = ask.right_ask_deal_id }}
      {{ ask_deal_text = "right" }}
    {{ } }}
    <a id="ask_deal_id_change_{{=ask.id}}" onclick="ask_deal_id_change({{=ask.id}}, {{=ask.left_ask_deal_id}}, {{=ask.right_ask_deal_id}}); return false;" href="#" style="position:absolute; top:0px; left:0px; width:40px; height:40px; line-height:40px; color:#{{= already_vote.length == 0 ? 'dbdbdb' : 'ee6e01' }}; background-color:#fff; font-size:14px;"><i class="fa fa-align-{{=ask_deal_text}}"></i></a>
    <textarea id="comment_input_{{=ask.id}}" class="comment_box" placeholder="<% if current_user %>고민해결사 <%= current_user.string_id %>님! 한마디 부탁해요!<% else %>회원가입하시고 의견을 남겨주세요!<% end %>" style="background-color:#fff;"></textarea>
    <a id="send_comment_btn_{{=ask.id}}" href="#" onclick="send_comment({{=ask.id}}, {{=ask_deal_id}}); return false;" style="position:absolute; top:0px; right:0px; width:50px; height:40px; line-height:40px; background-color:#dbdbdb; color:#fff; font-size:12px;">입력</a>
  </div>
</script>

<script type="text/template" id="ask-comment-list-template">
  {{ already_like = $.grep(my_like_comment, function(obj) { return obj.comment_id === comment.id }) }}
	{{ var reply_comments = $.grep(ask.comments, function(obj) {return obj.comment_id == comment.id}) }}
	{{ if (comment.comment_id == null){ }}
		{{ if (ask.left_ask_deal_id == comment.ask_deal_id){ }}
			<div id="comment_{{= comment.id }}" class="table_div" style="width:100%; text-align:left; margin-bottom:0px;">
				<div style="position:relative; margin:5px 0px 0 15px; max-width:60%; display:inline-block; text-align:left; background-color:cornsilk; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; vertical-align:bottom;">
					<span id="comment_content_{{=comment.id}}" style="word-break:break-all; text-align:left; float:left;">
						<span class="comment_content">{{=comment.content}}</span>
						<span style="color:#9d9ea1; margin-left:5px; font-size:11px; float:right; padding-top:1px;">
							<i class="fa fa-clock-o" style="margin-right:1px;"></i>{{= get_past_time(comment.created_at)}}
						</span>
					</span>
					<table id="comment_modify_box_{{=comment.id}}" cellpadding="0" cellspacing="0" style="display:none;">
						<tbody>
							<tr>
								<td style="width:100%;">
									<textarea id="comment_modify_input_{{=comment.id}}" placeholder="의견을 입력해주세요." style="display:block; padding:5px; width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:0 2px 2px 0;">{{=comment.content}}</textarea>
								</td>
								<td style="width:50px;">
									<a id="comment_update_btn_{{=comment.id}}" class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:0 2px 2px 0;">
										완료
									</a>
								</td>
							</tr>
						</tbody>
					</table>
	        <div style="position:absolute; top:6px; left:-7px; border-right:7px solid cornsilk; border-bottom:8px solid transparent;"></div>
				</div>
	      {{ if(already_like.length == 1){ }}
	        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#ee6e01; font-size:12px;">
	          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart" style="color:#ee6e01; margin-left:1px;"></i>
	          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
	        </a>
	      {{ }else{ }}
	        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#9d9ea1; font-size:12px;">
	          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart-o" style="color:#9d9ea1; margin-left:1px;"></i>
	          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
	        </a>
	      {{ } }}
				<p style="margin:0; padding:5px 0 10px 25px; font-size:12px; color:#9d9ea1; margin-right:3px;">
					{{ gender_css = "color:#0389ed;" }}
				  {{ if (!comment.user.gender) { }}
				    {{ gender_css = "color:#ea065e;" }}
				  {{ } }}
				  <span style="margin:0 3px 0 0; font-size:10px; font-weight:bold; opacity:0.8; {{= gender_css}}">
						{{ if (comment.user.gender){ }}
							<i class="fa fa-male" style="margin-right:-2px;"></i>
						{{ }else{ }}
							<i class="fa fa-female" style="margin-right:-2px;"></i>
						{{ } }}
						{{= get_user_ages(comment.user.birthday) }}
					</span>
					<span style="color:#998674; margin-right:3px;">{{=comment.user.string_id}}</span>
					{{ if ( comment.user_id == current_user_id ){ }}
	          <a id="comment_modify_btn_{{=comment.id}}" class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
	            <i class="fa fa-pencil" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">수정</span>
	          </a>
	          <a id="comment_modify_cancel_btn_{{=comment.id}}" class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-right:3px; display:none;">
	            <span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
	          </a>
	          <a id="comment_delete_btn_{{=comment.id}}" href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, true); return false;" style="color:#9d9ea1; margin-right:3px;">
	            <i class="fa fa-trash" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">삭제</span>
	          </a>
					{{ }else{ }}
					  <a id="comment_report_btn_{{=comment.id}}" href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
	            <i class="fa fa-ban" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">신고</span>
	          </a>
					{{ } }}
					<a id="comment_reply_btn_{{=comment.id}}" class="comment_reply_btn" href="#" onclick="comment_reply({{=ask.id}}, {{=comment.id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
	          <i class="fa fa-reply" style="margin-right:1px; transform:rotateZ(180deg); font-size:10px; vertical-align:top; margin-top:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">답글</span>
					</a>
					<a id="comment_reply_cancel_btn_{{=comment.id}}" class="comment_reply_cancel_btn" href="#" onclick="comment_reply_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-right:3px; display:none;">
						<span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
					</a>
				</p>
			</div>
			<div id="comment_{{=comment.id}}_reply_list">
				{{ for(var i=0; i < reply_comments.length; i++) { }}
					{{ reply_comment = reply_comments[i] }}
					{{= replyCommentListTemplate({ask:ask, comment:reply_comment}) }}
				{{ } }}
			</div>
			<div class="table_div" style="margin-bottom:0px;">
				<div id="reply_comment_box_{{=comment.id}}" style="position:relative; float:left; margin:0px 0px 10px 30px; width: 60%; max-width:60%; height:40px; display:inline-block; text-align:left; background-color:#ffcc5a; font-size:13px; line-height:18px; color:#383838; padding:6px; word-break:break-all; border-radius:4px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; display:none;">
					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="width:100%;">
									<textarea id="reply_comment_input_{{=comment.id}}" placeholder="{{=comment.user.string_id}}님의 의견에 한 마디 남겨주시겠어요?" style="display:block; padding:5px; width:100%; min-width:100%; max-width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:2px 0 0 2px;"></textarea>
								</td>
								<td style="width:50px;">
									<a href="#" id="send_reply_comment_btn_{{=comment.id}}" onclick="send_reply_comment({{=ask.id}}, {{=ask.left_ask_deal_id}}, {{=comment.id}}, true); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:0 2px 2px 0;">
										입력
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="position:absolute; top:-6px; left:7px; border-bottom:7px solid #ffcc5a; border-right:8px solid transparent;"></div>
				</div>
			</div>
		{{ }else{ }}
			<div id="comment_{{=comment.id}}" class="table_div" style="width:100%; text-align:right; margin-bottom:0px;">
	      {{ if(already_like.length == 1){ }}
	        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#ee6e01; font-size:12px;">
	          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
	          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart" style="color:#ee6e01; margin-right:3px;"></i>
	        </a>
	      {{ }else{ }}
	        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#9d9ea1; font-size:12px;">
	          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
	          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart-o" style="color:#9d9ea1; margin-right:3px;"></i>
	        </a>
	      {{ } }}
	      <div style="position:relative; margin:5px 15px 0 0px; max-width:60%; display:inline-block; text-align:left; background-color:cornsilk; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; vertical-align:bottom;">
	        <span id="comment_content_{{=comment.id}}" style="word-break:break-all; text-align:right; float:right;">
						<span class="comment_content">{{=comment.content}}</span>
						<span style="color:#9d9ea1; margin-right:5px; font-size:11px; float:left; padding-top:1px;">
							<i class="fa fa-clock-o" style="margin-right:1px;"></i>{{= get_past_time(comment.created_at)}}
						</span>
					</span>
					<table id="comment_modify_box_{{=comment.id}}" cellpadding="0" cellspacing="0" style="display:none;">
						<tbody>
							<tr>
								<td style="width:50px;">
									<a id="comment_update_btn_{{=comment.id}}" class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:2px 0 0 2px;">
										완료
									</a>
								</td>
								<td style="width:100%;">
									<textarea id="comment_modify_input_{{=comment.id}}" placeholder="의견을 입력해주세요." style="display:block; padding:5px; width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:0 2px 2px 0;">{{=comment.content}}</textarea>
								</td>
							</tr>
						</tbody>
					</table>
	        <div style="position:absolute; top:6px; right:-7px; border-left:7px solid cornsilk; border-bottom:8px solid transparent;"></div>
				</div>
				<p style="margin:0; padding:5px 25px 10px 0; font-size:12px;">
					<a id="comment_reply_btn_{{=comment.id}}" class="comment_reply_btn" href="#" onclick="comment_reply({{=ask.id}}, {{=comment.id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
	          <i class="fa fa-reply" style="margin-right:1px; transform:rotateZ(180deg); font-size:10px; vertical-align:top; margin-top:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">답글</span>
					</a>
					<a id="comment_reply_cancel_btn_{{=comment.id}}" class="comment_reply_cancel_btn" href="#" onclick="comment_reply_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-right:3px; display:none;">
						<span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
					</a>
				  {{ if ( comment.user_id == current_user_id ){ }}
				    <a id="comment_delete_btn_{{=comment.id}}" href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, false); return false;" style="color:#9d9ea1; margin-left:3px;">
	            <i class="fa fa-trash" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">삭제</span>
	          </a>
	          <a id="comment_modify_btn_{{=comment.id}}" class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9d9ea1; margin-left:3px;">
	            <i class="fa fa-pencil" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">수정</span>
	          </a>
	          <a id="comment_modify_cancel_btn_{{=comment.id}}" class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-left:3px; display:none;">
	            <span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
	          </a>
	        {{ }else{ }}
	          <a id="comment_report_btn_{{=comment.id}}" href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9d9ea1; margin-left:3px;">
							<i class="fa fa-ban" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">신고</span>
	          </a>
	        {{ } }}
					<span style="color:#998674; margin-left:3px;">{{=comment.user.string_id}}</span>
					{{ gender_css = "color:#0389ed;" }}
				  {{ if (!comment.user.gender) { }}
				    {{ gender_css = "color:#ea065e;" }}
				  {{ } }}
				  <span style="margin:0 0 0 3px; font-size:10px; font-weight:bold; opacity:0.8; {{= gender_css}}">
						{{= get_user_ages(comment.user.birthday) }}
						{{ if (comment.user.gender){ }}
							<i class="fa fa-male" style="margin-left:-2px;"></i>
						{{ }else{ }}
							<i class="fa fa-female" style="margin-left:-2px;"></i>
						{{ } }}
					</span>
				</p>
			</div>
			<div id="comment_{{=comment.id}}_reply_list">
				{{ for(var i=0; i < reply_comments.length; i++) {  }}
					{{ reply_comment = reply_comments[i] }}
					{{= replyCommentListTemplate({ask:ask, comment:reply_comment}) }}
				{{ } }}
			</div>
			<div class="table_div" style="margin-bottom:0px;">
				<div id="reply_comment_box_{{=comment.id}}" style="position:relative; float:right; margin:0px 30px 10px 0px; width: 60%; min-width:100%; max-width:100%; max-width:60%; height:40px; display:inline-block; text-align:left; background-color:#ffcc5a; font-size:13px; line-height:18px; color:#383838; padding:6px; word-break:break-all; border-radius:4px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; display:none;">
					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="width:50px;">
									<a href="#" id="send_reply_comment_btn_{{=comment.id}}" onclick="send_reply_comment({{=ask.id}}, {{=ask.right_ask_deal_id}}, {{=comment.id}}, false); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:2px 0 0 2px;">
										입력
									</a>
								</td>
								<td style="width:100%;">
									<textarea id="reply_comment_input_{{=comment.id}}" placeholder="{{=comment.user.string_id}}님의 의견에 한 마디 남겨주시겠어요?" style="display:block; padding:5px; width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:0 2px 2px 0;"></textarea>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="position:absolute; top:-6px; right:7px; border-bottom:7px solid #ffcc5a; border-left:8px solid transparent;"></div>
				</div>
			</div>
		{{ } }}
	{{ } }}
</script>

<script type="text/template" id="reply-comment-list-template">
	{{ already_like = $.grep(my_like_comment, function(obj) { return obj.comment_id === comment.id }) }}
	{{ if (ask.left_ask_deal_id == comment.ask_deal_id){ }}
		<div id="comment_{{=comment.id}}" style="width:100%; text-align:left; padding-left:5px; box-sizing:border-box;">
			<span><i class="fa fa-reply" style="margin-right:1px; transform:rotateZ(180deg); font-size:10px; vertical-align:top; margin:10px -15px 0px 15px; color:#dbdbdb;"></i></span>
			<div style="position:relative; margin:0px 0px 0 15px; max-width:60%; display:inline-block; text-align:left; background-color:ghostwhite; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; border-right:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; vertical-align:bottom;">
				<span id="comment_content_{{=comment.id}}" style="word-break:break-all; text-align:left; float:left;">
					<span class="comment_content">{{=comment.content}}</span>
					<span style="color:#9d9ea1; margin-left:5px; font-size:11px; float:right; padding-top:1px;">
						<i class="fa fa-clock-o" style="margin-right:1px;"></i>{{= get_past_time(comment.created_at)}}
					</span>
				</span>
				<table id="comment_modify_box_{{=comment.id}}" cellpadding="0" cellspacing="0" style="display:none;">
					<tbody>
						<tr>
							<td style="width:100%;">
								<textarea id="comment_modify_input_{{=comment.id}}" placeholder="의견을 입력해주세요." style="display:block; padding:5px; width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:0 2px 2px 0;">{{=comment.content}}</textarea>
							</td>
							<td style="width:50px;">
								<a id="comment_update_btn_{{=comment.id}}" class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:0 2px 2px 0;">
									완료
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
      {{ if(already_like.length == 1){ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#ee6e01; font-size:12px;">
          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart" style="color:#ee6e01; margin-left:1px;"></i>
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
        </a>
      {{ }else{ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#9e9fa1; font-size:12px;">
          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart-o" style="color:#9d9ea1; margin-left:1px;"></i>
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
        </a>
      {{ } }}
			<p style="margin:0; padding:5px 0 10px 25px; font-size:12px; color:#9d9ea1; margin-right:3px;">
				{{ gender_css = "color:#0389ed;" }}
				{{ if (!comment.user.gender) { }}
					{{ gender_css = "color:#ea065e;" }}
				{{ } }}
				<span style="margin:0 3px 0 0; font-size:10px; font-weight:bold; opacity:0.8; {{= gender_css}}">
					{{ if (comment.user.gender){ }}
						<i class="fa fa-male" style="margin-right:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-right:-2px;"></i>
					{{ } }}
					{{= get_user_ages(comment.user.birthday) }}
				</span>
				<span style="color:#998674; margin-right:3px;">{{=comment.user.string_id}}</span>
				{{ if ( comment.user_id == current_user_id ){ }}
          <a id="comment_modify_btn_{{=comment.id}}" class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
            <i class="fa fa-pencil" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">수정</span>
          </a>
          <a id="comment_modify_cancel_btn_{{=comment.id}}" class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-right:3px; display:none;">
            <span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
          </a>
          <a id="comment_delete_btn_{{=comment.id}}" href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, true); return false;" style="color:#9d9ea1; margin-right:3px;">
            <i class="fa fa-trash" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">삭제</span>
          </a>
				{{ }else{ }}
				  <a id="comment_report_btn_{{=comment.id}}" href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9d9ea1; margin-right:3px;">
            <i class="fa fa-ban" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">신고</span>
          </a>
				{{ } }}
			</p>
		</div>
	{{ }else{ }}
		<div id="comment_{{= comment.id }}" style="width:100%; text-align:right; padding-right:5px; box-sizing:border-box;">
      {{ if(already_like.length == 1){ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#ee6e01; font-size:12px;">
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart" style="color:#ee6e01; margin-right:3px;"></i>
        </a>
      {{ }else{ }}
        <a href="#" onclick="comment_like({{=comment.id}}); return false;" style="display:inline-block; padding-bottom:5px; color:#9e9fa1; font-size:12px;">
          <span id="comment_{{=comment.id}}_like_count">{{=comment.like_count}}</span>
          <i id="comment_{{=comment.id}}_like_icon" class="fa fa-heart-o" style="color:#9d9ea1; margin-right:3px;"></i>
        </a>
      {{ } }}
      <div style="position:relative; margin:0px 15px 0 0px; max-width:60%; display:inline-block; text-align:left; background-color:ghostwhite; font-size:13px; line-height:18px; color:#383838; padding:6px 10px; word-break:break-all; border-radius:4px; border-left:1px solid #dbdbdb; border-bottom:2px solid #dbdbdb; vertical-align:bottom;">
        <span id="comment_content_{{=comment.id}}" style="word-break:break-all; text-align:right; float:right;">
					<span class="comment_content">{{=comment.content}}</span>
					<span style="color:#9d9ea1; margin-right:5px; font-size:11px; float:left; padding-top:1px;">
						<i class="fa fa-clock-o" style="margin-right:1px;"></i>{{= get_past_time(comment.created_at)}}
					</span>
				</span>
				<table id="comment_modify_box_{{=comment.id}}" cellpadding="0" cellspacing="0" style="display:none;">
					<tbody>
						<tr>
							<td style="width:50px;">
								<a id="comment_update_btn_{{=comment.id}}" class="comment_update_btn" href="#" onclick="comment_update({{=comment.id}}); return false;" style="display:block; width:50px; height:40px; background-color:#dbdbdb; color:#fff; text-align:center; line-height:40px; font-size:12px; border-radius:2px 0 0 2px;">
									완료
								</a>
							</td>
							<td style="width:100%;">
								<textarea id="comment_modify_input_{{=comment.id}}" placeholder="의견을 입력해주세요." style="display:block; padding:5px; width:100%; min-height:40px; max-height:40px; height:40px; box-sizing:border-box; border:none; color:#666; background-color:#fff; border-radius:0 2px 2px 0;">{{=comment.content}}</textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<span><i class="fa fa-reply" style="margin-right:1px; transform:rotateX(180deg); font-size:10px; vertical-align:top; margin:10px 15px 0px -15px; color:#dbdbdb;"></i></span>
			<p style="margin:0; padding:5px 25px 10px 0; font-size:12px;">
			  {{ if ( comment.user_id == current_user_id ){ }}
			    <a id="comment_delete_btn_{{=comment.id}}" href="#" onclick="comment_del({{=ask.id}}, {{=comment.id}}, false); return false;" style="color:#9d9ea1; margin-left:3px;">
            <i class="fa fa-trash" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">삭제</span>
          </a>
          <a id="comment_modify_btn_{{=comment.id}}" class="comment_modify_btn" href="#" onclick="comment_modify({{=comment.id}}); return false;" style="color:#9d9ea1; margin-left:3px;">
            <i class="fa fa-pencil" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">수정</span>
          </a>
          <a id="comment_modify_cancel_btn_{{=comment.id}}" class="comment_modify_cancel_btn" href="#" onclick="comment_modify_cancel({{=comment.id}}); return false;" style="color:#ee6e01; margin-left:3px; display:none;">
            <span style="color:#ee6e01; margin-right:1px;">&times;</span>취소
          </a>
        {{ }else{ }}
          <a id="comment_report_btn_{{=comment.id}}" href="#" onclick="comment_report({{=comment.id}}, {{= comment.user_id}}); return false;" style="color:#9d9ea1; margin-left:3px;">
						<i class="fa fa-ban" style="margin-right:1px;"></i><span class="btn_text_{{=comment.id}}" style="display:none;">신고</span>
          </a>
        {{ } }}
				<span style="color:#998674; margin-left:3px;">{{=comment.user.string_id}}</span>
				{{ gender_css = "color:#0389ed;" }}
				{{ if (!comment.user.gender) { }}
					{{ gender_css = "color:#ea065e;" }}
				{{ } }}
				<span style="margin:0 0 0 3px; font-size:10px; font-weight:bold; opacity:0.8; {{= gender_css}}">
					{{= get_user_ages(comment.user.birthday) }}
					{{ if (comment.user.gender){ }}
						<i class="fa fa-male" style="margin-left:-2px;"></i>
					{{ }else{ }}
						<i class="fa fa-female" style="margin-left:-2px;"></i>
					{{ } }}
				</span>
			</p>
		</div>
	{{ } }}
</script>

<script type="text/template" id="ask-detail-btn-template">
  {{ if (is_card_opened) { }}
    <a id="ask_{{=ask.id}}_detail_off" class="card_detail" href="#" onclick="history.back(); return false;" style="background-color:#f4f4f4; border-top:none;">
      <span style="font-size:12px;"><i class="fa fa-angle-double-up" style="font-size:15px;">&nbsp;</i>상세 닫기</span>
    </a>
  {{ }else{ }}
    <a id="ask_{{=ask.id}}_detail_on" class="card_detail" href="#" onclick="card_detail_on({{=ask.id}}); return false;">
      {{ if (ask.comments.length > 0) { }}
      <div id="ask_{{=ask.id}}_comment_preview" class="table_div" style="margin-bottom:0; border-bottom:1px solid #f4f4f4; height:30px; overflow:hidden;">
        <ul style="width:100%; margin:0; padding:0; list-style:none;">
          {{ //for(var i=0; i < ask.comments.length; i++) {  }}
            {{ //comment = ask.comments[i] }}
            {{ preview_comments = ask.comments }}
            {{ fav_comment = preview_comments.sort(function(a,b){ }}
              {{  return a.like_count < b.like_count ? 1 : a.like_count > b.like_count ? -1 : 0; }}
            {{ })[0] }}
            {{ comment = fav_comment.like_count > 0 ? fav_comment : ask.comments[ask.comments.length - 1] }}
            {{= askCommentPreviewTemplate({ask:ask, comment:comment}) }}
          {{ //} }}
        </ul>
      </div>
      {{ } }}
      <div>
        <span style="float:left; margin-left:15px;"><i class="fa fa-comment" style="font-size:15px; margin-right:3px;"></i>{{=ask.left_ask_deal.comment_count}}</span>
        <span style="font-size:12px;"><i class="fa fa-angle-double-down" style="font-size:15px;">&nbsp;</i>상세 열기</span>
        <span style="float:right; margin-right:15px;">{{=ask.right_ask_deal.comment_count}}<i class="fa fa-comment" style="font-size:15px; margin-left:3px; transform:rotateY(180deg);"></i></span>
      </div>
    </a>
  {{ } }}
</script>

<script type="text/template" id="ask-comment-preview-template">
	{{ if (ask.left_ask_deal_id == comment.ask_deal_id){ }}
		<li style="font-size:13px; color:#666; line-height:30px; height:30px; overflow:hidden; text-align:left;">
			<span style="display:block; padding:0 15px;">
				<i class="fa fa-comment" style="float:left; padding:7px 5px 0 0;"></i>
				<span style="background-color:cornsilk; padding:3px 5px 2px; border-radius:5px;">{{=comment.content.length > 20 ? comment.content.substring(0,20)+'&middot;&middot;&middot;' : comment.content}}</span>
			</span>
		</li>
	{{ }else{ }}
		<li style="font-size:13px; color:#666; line-height:30px; height:30px; overflow:hidden; text-align:right;">
			<span style="display:block; padding:0 15px;">
				<i class="fa fa-comment" style="float:right; padding:7px 5px 0 0; transform:rotateY(180deg)"></i>
				<span style="background-color:cornsilk; padding:3px 5px 2px; border-radius:5px;">{{=comment.content.length > 20 ? comment.content.substring(0,20)+'&middot;&middot;&middot;' : comment.content}}</span>
			</span>
		</li>
	{{ } }}
</script>

<script>
	<% if flash[:ask_create] %>
		notify('<%=flash[:ask_create]%>');
	<% end %>

	var current_user_id = 0;
 	<% if current_user %>
 		current_user_id = <%= current_user.id %>;
 	<% end %>

	var asks = <%= raw @asks.to_json %>;
  var ask;

  var my_like_ask = <%= raw @my_like_ask.to_json %>,
	    my_votes = <%= raw @my_votes.to_json %>,
	    my_vote_count = <%= @my_votes.length %>,
      my_like_comment = <%= raw @my_like_comment.to_json %>;

	var askTemplate = _.template($('#ask-template').html()),
      askDealTemplate = _.template($('#ask-deal-template').html());
      askDealTableTemplate = _.template($('#ask-deal-table-template').html()),
      askCommentTemplate = _.template($('#ask-comment-template').html()),
      askCommentListTemplate = _.template($('#ask-comment-list-template').html()),
      replyCommentListTemplate = _.template($('#reply-comment-list-template').html()),
      askCommentPreviewTemplate = _.template($('#ask-comment-preview-template').html()),
      askDetailBtnTemplate = _.template($('#ask-detail-btn-template').html());

	<% unless @ranking_asks.blank? %>
		var ranking_asks = <%= raw @ranking_asks.to_json %>;
		for(var i=0; i < ranking_asks.length; i++) {
			asks.unshift(ranking_asks[i])
		}
	<% end %>

	for(var i=0; i < asks.length; i++) {
		ask = asks[i]
		$('#asks').append(askTemplate({ask: ask}));
		hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
    link_tagging(ask.message, $("#ask_"+ask.id+"_message"));
		abbreviate_msg(ask.message, ask.id);
    hover_action(ask.id);
    // if (ask.comments.length > 0) $('#ask_'+ask.id+'_comment_preview').vTicker('init', {pause:2500, mousePause:false});

    // $("#ask_box_"+ask.id).headroom({
    //   "offset": $("#ask_box_"+ask.id).offset().top + $("#ask_box_"+ask.id).height(),
    //   "tolerance": $("#ask_box_"+ask.id).height(),
    //   "classes" : {
    //     "initial" : "",
    //     "pinned" : "slideDown",
    //     "unpinned" : "slideUp",
    //     "top" : "on-top",
    //     "notTop" : "on-not-top",
    //     "bottom" : "on-bottom",
    //     "notBottom" : "on-not-bottom"
    //   },
    //   "onNotTop" : function() {
    //     $(this).html("");
    //   }
    // });
	}


	var check_scroll
	var ready = function() {
		if (asks.length == <%= Ask::ASK_PER %>){
			check_scroll = setInterval("checkScroll()", 1000);
		}
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

	var currentPage = 1
	var is_more_asks = true;
	function checkScroll() {
	  if (window.location.pathname == "/" && nearBottomOfPage() && is_more_asks) { // 크롬에서 javascript 코드를 캐시하는거 같아서 url 분석해서 ask인 경우에만 작동하도록 변경
	    currentPage ++;

	    $.ajax({
	        url: window.location.href,
	        data: {'page': currentPage},
	        dataType: "json",
	        type: 'GET',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	var more_asks = data.asks;
	        	$.merge(asks, more_asks);

	        	if ( more_asks.length == 0 ) {
	        		is_more_asks = false;
	        		$("#endless_loading").hide();
	        	} else {
	        		if( more_asks.length < <%= Ask::ASK_PER %> ){
	        			is_more_asks = false;
	        			$("#endless_loading").hide();
	        		}
	        		for(var i=0; i < more_asks.length; i++) {
    						ask = more_asks[i]
				        $('#asks').append(askTemplate({ask: ask}));
								hash_tagging(ask.message, $("#ask_"+ask.id+"_message"));
                link_tagging(ask.message, $("#ask_"+ask.id+"_message"));
								abbreviate_msg(ask.message, ask.id);
                hover_action(ask.id);
								// if (ask.comments.length > 0) $('#ask_'+ask.id+'_comment_preview').vTicker('init', {pause:2500, mousePause:false});
    					}
	        	}
	        },
	        beforeSend: function(){
            progressStart();
          },
          complete: function(){
            progressEnd();
            ga('send', 'event', '유저별/엔들리스 로딩 횟수', 'endless_loading_per_user', current_user_id.toString(), 1);
            // for(var i=0; i < asks.length; i++) {
          	// 	ask = asks[i]
            //   $("#ask_box_"+ask.id).height($("#ask_"+ask.id).outerHeight());
            // }
          }
		  });
    }
	}

	function abbreviate_msg(origin_string, ask_id) {
		var msg = $("#ask_"+ask_id+"_message_text");
		var msg_short = $("#ask_"+ask_id+"_message_text_shorten");
		var msg_more = $("#ask_"+ask_id+"_message_more");
		if (origin_string.length > 80) {
			msg.hide();
			msg_short.show();
			msg_short.html(origin_string.substring(0,80).replace(new RegExp('\r?\n', 'g'), '<br>').replace(/(<br>)+/g,"<br>")+"&nbsp;&middot;&middot;&middot;");
			hash_tagging(origin_string.substring(0,80), msg_short);
      link_tagging(origin_string.substring(0,80), msg_short);
			msg_more.show();
		};
	}

	function vote_ask_deal(ask_id, ask_deal_id, is_left){
	 	if (current_user_id == 0 && my_vote_count > 4){
	 		notify("회원가입 후<br />투표를 진행할 수 있습니다.");
      setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
			setTimeout('window.location.assign("/etc/landing")',2500);
	 	}else{
	 		$.ajax({
		        url: "/votes.json",
		        type: 'POST',
		        data: {'ask_deal_id': ask_deal_id, 'is_left':is_left },
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	my_votes.push(data.vote);
		        	$('#ask_deal_'+data.ask.id).html(askDealTemplate({my_votes: my_votes, ask:data.ask }));
	        		var vote_count_span = $("#ask_"+data.ask.id+"_vote_count");
	        		vote_count_span.html( parseInt(vote_count_span.html()) + 1 + "표" );
	        		my_vote_count = my_vote_count + 1;

              if (is_card_opened) {
                show_detail_vote_count(ask_id);
                $("#ask_"+ask_id+"_comment").html(askCommentTemplate({ask: data.ask}));
                for (i=0; i<data.ask.comments.length; i++) {
                  var comment = data.ask.comments[i];
                  link_tagging(comment.content, $('#comment_content_'+comment.id+' .comment_content'));
                };
                btn_text_hide_all(data.ask.id);
                comment_input_setting(data.ask.id, data.ask.user);
                $("#visitor_comment_overlay_"+ask_id).remove();
              }
		        },
		        beforeSend: function(){
              progressStart();
		       		// $(".loading").show();
		        },
		        complete: function(){
              progressEnd();
		        	// $(".loading").hide();
              graph_animation(ask_id);
              hover_action(ask_id);
		        }
			});
	 	}
	}

	function show_detail_vote_count(ask_id) {
		$.ajax({
			url: "/home/show_detail.json",
			type: "GET",
			data: {'id': ask_id},
			dataType: 'json',
			error: function(){
					return false;
			},
			success: function(data){
				var detailVoteCountTemplate = _.template($('#detail-vote-count-template').html());
				if (is_card_opened && already_vote.length == 1) $("#detail_vote_count_"+ask_id).html(detailVoteCountTemplate({detail_vote_count: data.detail_vote_count}));
			},
			beforeSend: function(){
			},
			complete: function(){
			}
		});
	}

	function ask_like(ask_id){
		<% if current_user %>
			$.ajax({
		        url: "/home/"+ask_id+"/like.json",
		        type: 'POST',
		        data: {'blank': 'blank'},
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
	            var ask_like_icon = $("#ask_"+ask_id+"_like_icon")
		        	if (data.already_like){
                my_like_ask.pop(data.ask_like);
	              ask_like_icon.removeClass("fa-heart").addClass("fa-heart-o");
		        		notify("좋아요 취소");
		        	} else {
                my_like_ask.push(data.ask_like);
	              ask_like_icon.removeClass("fa-heart-o").addClass("fa-heart");
		        		notify("좋아요 완료");
		        	}
		        },
		        beforeSend: function(){
              progressStart();
		       		// $(".loading").show();
		        },
		        complete: function(){
              progressEnd();
		        	// $(".loading").hide();
		        }
			});
		<% else %>
			notify("회원가입 후<br />관심글로 설정할 수 있습니다")
		<% end %>
	}

	var card_open_st
	var opened_ask_id

	function card_detail_on(ask_id) {
    history.pushState(null, null, "#"+ask_id+"_detail");
		is_more_asks = false;
		is_card_opened = true;
		opened_ask_id = ask_id;
		$("#endless_loading").hide();

		card_open_st = $("#ask_"+ask_id).offset().top - 60;

    ask = $.grep(asks, function(obj) { return obj.id === ask_id })[0];
    show_detail_vote_count(ask_id);
    $("#ask_deal_"+ask_id+"_table").html(askDealTableTemplate({ask: ask}));
    tooltip_box(ask_id);
    $("#ask_"+ask_id+"_message_more").click();
    $("#ask_"+ask_id+"_comment").html(askCommentTemplate({ask: ask}));
    for (i=0; i<ask.comments.length; i++) {
      var comment = ask.comments[i];
      link_tagging(comment.content, $('#comment_content_'+comment.id+' .comment_content'));
    };
    btn_text_hide_all(ask_id);
    comment_input_setting(ask_id, ask.user);
    $("#ask_"+ask_id+"_detail_btn").html(askDetailBtnTemplate({ask: ask}));

    $("#search").hide();
    $(".home-float-btn-area").hide();

    $("#ask_box_"+ask_id).removeClass("ask_box");
    $(".ask_box").hide();
    $("html, body").animate({scrollTop:0},0,function(){
      $("#detail_vote_count_"+ask_id+", #ask_deal_"+ask_id+"_table, #ask_"+ask_id+"_comment").slideDown(200);
    });

		$("#category_button:visible").hide();
		$("#back_button").show().attr("onclick","history.back(); return false;");
		$(".chat_bubble").css("margin-top","15px");

    ga('send', 'event', '질문별/상세화면 오픈 횟수', 'detail_view_opened', ask_id.toString(), 1);
    ga('send', 'event', '유저별/상세화면 오픈 횟수', 'detail_view_per_user', current_user_id.toString(), 1);
	}

	function card_detail_off(ask_id) {
    is_more_asks = true;
    is_card_opened = false;
		$("#endless_loading").show();

    $("#detail_vote_count_"+ask_id+", #ask_deal_"+ask_id+"_table, #ask_"+ask_id+"_comment").slideUp(200, function(){
      $("#detail_vote_count_"+ask_id).html("");
      $("#ask_deal_"+ask_id+"_table").html("");
      $("#ask_"+ask_id+"_comment").html("");
    });
    if ($("#ask_"+ask_id+"_message_text_shorten").text().indexOf("·") != -1) {
      $("#ask_"+ask_id+"_message_text").hide();
      $("#ask_"+ask_id+"_message_text_shorten").show();
      $("#ask_"+ask_id+"_message_more").show();
    }
    $("#ask_"+ask_id+"_detail_btn").html(askDetailBtnTemplate({ask: ask}));

		$("#search").show();
		$(".home-float-btn-area").show();

    $(".ask_box").show();
    $("#ask_box_"+ask_id).addClass("ask_box")
    window.scrollTo(0,card_open_st);

		$("#back_button").hide().attr("onclick","back_button(); return false;");
		main_header_left_button();
    $(".chat_bubble").css("margin-top","65px");
	}

	function comment_input_by_key(ask_id){
    var comment_message = $("#comment_input_"+ask_id).val();
    if(comment_message == "" || comment_message == undefined){
      notify("내용을 입력해주세요.");
    }else{
      $("#send_comment_btn_"+ask_id).click();
    }
  }

	function comment_input_setting(ask_id, ask_user) {
		$("#comment_input_"+ask_id).keypress(function(e) {
			if (e.keyCode == '13') {
				e.preventDefault();
				comment_input_by_key(ask_id);
			}
		});

		var this_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask_id })
		$("#comment_input_"+ask_id).on("click",function(){
			if (current_user_id == 0){
				$("#comment_input_"+ask_id).blur();
				notify("회원가입 후<br />의견을 남길 수 있습니다.");
				setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
				setTimeout('window.location.assign("/etc/landing")',2500);
			} else if ( this_vote.length == 0 && current_user_id != ask_user.id ){
				$("#comment_input_"+ask_id).blur();
				notify("투표 참여 후<br />의견을 남길 수 있습니다.");
				var card_open_st = $("#ask_"+ask_id).offset().top - 110;
				$("html, body").animate({scrollTop:card_open_st},250);
			} else {
				$("#comment_input_"+ask_id).focus();
			}
		}).on("keyup",function(){
			if( $("#comment_input_"+ask_id).val().length > 0 ) {
				$("#send_comment_btn_"+ask_id).css('background-color','#f18b33');
			} else {
				$("#send_comment_btn_"+ask_id).css('background-color','#dbdbdb');
			}
		});

		if (this_vote != "") {
			$("#ask_"+ask_id+"_comment_title").addClass("already_vote");
			$("#ask_"+ask_id+"_comment_title span:eq(0)").html('<i class="fa fa-keyboard-o" style="font-size:16px;"></i>&nbsp;당신의 의견을 남겨주세요.');
		}
		if (current_user_id == ask_user.id) {
			$("#ask_"+ask_id+"_comment_title").addClass("already_vote");
			$("#comment_input_"+ask_id).attr("placeholder", ask_user.string_id+"님, 고민해결사님들께 한마디 전해보세요!");
			$("#ask_"+ask_id+"_comment_title span:eq(0)").html('<i class="fa fa-keyboard-o" style="font-size:16px;"></i>&nbsp;어떤 의견이 달렸을까요?');
		}
	}

	function send_comment(ask_id, ask_deal_id){
			var content = $("#comment_input_"+ask_id).val();
			if( content == "" || content == null ){
				notify('내용을 입력해주세요.');
				return;
			}
			$.ajax({
		        url: "/comments.json",
		        type: 'POST',
		        data: {'content': content, 'ask_id':ask_id, 'ask_deal_id':ask_deal_id},
		        dataType: 'json',
            async: false,  // 코멘트 중복 전송을 방지
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message = "success"){
                ask.comments.push(data.comment);
		        		$("#ask_"+ask_id+"_comment_list").append(askCommentListTemplate({ask:data.ask, comment:data.comment}));
                link_tagging(data.comment.content, $('#comment_content_'+data.comment.id+' .comment_content'));
		        		notify("작성 완료");
		        		$("#comment_input_"+ask_id).val("");
                $("#no_comment_"+ask_id).hide();
                $("#send_comment_btn_"+ask_id).css("background-color","#dbdbdb");
                $("#comment_input_"+ask_id).blur();

		        		if (ask_deal_text == "left"){
		        			var left_ask_deal_comment_count = $("#left_ask_deal_comment_count_"+data.comment.ask_id);
		        			left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) + 1 );
                  ask.left_ask_deal.comment_count = ask.left_ask_deal.comment_count + 1;
		        		}else{
		        			var right_ask_deal_comment_count = $("#right_ask_deal_comment_count_"+data.comment.ask_id);
		        			right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) + 1 );
                  ask.right_ask_deal.comment_count = ask.right_ask_deal.comment_count + 1;
		        		}
								btn_text_hide(data.comment.id);
		        	}else{
		        		notify("댓글은 회원만 작성 가능합니다");
		        	}
		        },
		        beforeSend: function(){
              progressStart();
		       		// $(".loading").show();
		        },
		        complete: function(){
              progressEnd();
		        	// $(".loading").hide();
		        }
			});
	}

	function comment_like(comment_id){
		<% if current_user %>
			$.ajax({
		        url: "/comments/"+comment_id+"/like.json",
		        type: 'POST',
		        data: {'blank': 'blank'},
		        dataType: 'json',
		        error: function(){
		            return false;
		        },
		        success: function(data){
	            var comment_like_icon = $("#comment_"+comment_id+"_like_icon")
		        	var comment_count_span = $("#comment_"+comment_id+"_like_count");
		        	if (data.already_like){
                my_like_comment.pop(data.comment_like);
		        		comment_count_span.html( parseInt(comment_count_span.html()) - 1 );
	              comment_count_span.css("color","#9d9ea1");
	              comment_like_icon.removeClass("fa-heart").addClass("fa-heart-o").css("color","#9d9ea1");
		        		notify("좋아요 취소");
		        	}else{
                my_like_comment.push(data.comment_like);
		        		comment_count_span.html( parseInt(comment_count_span.html()) + 1 );
	              comment_count_span.css("color","#ee6e01");
	              comment_like_icon.removeClass("fa-heart-o").addClass("fa-heart").css("color","#ee6e01");
		        		notify("좋아요 완료");
		        	}
		        },
		        beforeSend: function(){
              progressStart();
		       		// $(".loading").show();
		        },
		        complete: function(){
              progressEnd();
		        	// $(".loading").hide();
		        }
			});
		<% else %>
			notify("회원가입 후<br />추천할 수 있습니다")
		<% end %>
	}

	function comment_report(comment_id, user_id){
		show_more_popup('comment',comment_id, user_id, '', '');
		show_report_popup();
	}

	function comment_del(ask_id, comment_id, is_left){
	  if(confirm("의견을 정말로 삭제하시겠어요?")) {
	    $.ajax({
        url: "/comments/"+comment_id+"/comment_del.json",
        type: 'DELETE',
        data: {'blank': 'blank'},
        dataType: 'json',
        error: function(){
            return false;
        },
        success: function(data){
          ask.comments.pop(data.comment);
          $("#comment_"+comment_id).remove();
          $("#comment_"+comment_id+"_reply_list").remove();
          $("#reply_comment_box_"+comment_id).parent().remove();
          if ( $("#ask_"+ask_id+"_comment_list").children().length == 1 ) $("#no_comment_"+ask_id).show();
          if (is_left){
            var left_ask_deal_comment_count = $("#left_ask_deal_comment_count_"+ask_id);
            left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) - 1 );
            ask.left_ask_deal.comment_count = ask.left_ask_deal.comment_count - 1;
          }else{
            var right_ask_deal_comment_count = $("#right_ask_deal_comment_count_"+ask_id);
            right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) - 1 );
            ask.right_ask_deal.comment_count = ask.right_ask_deal.comment_count - 1;
          }
          notify("의견이 삭제되었습니다");
        },
        beforeSend: function(){
          progressStart();
          // $(".loading").show();
        },
        complete: function(){
          progressEnd();
          // $(".loading").hide();
        }
      });
    }
	}

	function comment_modify(comment_id){
		var comment_content = $("#comment_content_"+comment_id);
		var comment_text = comment_content.find("span:eq(0)").text();
		var modify_box = $("#comment_modify_box_"+comment_id);
		var modify_input = $("#comment_modify_input_"+comment_id);
		var update_btn = $("#comment_update_btn_"+comment_id);

		comment_content.hide();
		modify_box.show();
		modify_input.val(comment_text).focus();
		modify_box.css("width","100%").css("max-width","100%").css("min-width","100%");

		$("#comment_modify_btn_"+comment_id).hide();
		$("#comment_modify_cancel_btn_"+comment_id).show();

		modify_input.on("keypress",function(e){
			if (e.keyCode == "13") {
				e.preventDefault();
				update_btn.click();
			}
		}).on("keyup",function(){
			if( modify_input.val().length > 0 && modify_input.val() != comment_text ) {
				update_btn.css('background-color','#ee6e01');
			} else {
				update_btn.css('background-color','#dbdbdb');
			}
		});
	}

	function comment_modify_cancel(comment_id){
		var comment_content = $("#comment_content_"+comment_id);
		var comment_text = comment_content.find("span:eq(0)").text();
		var modify_box = $("#comment_modify_box_"+comment_id);
		var modify_input = $("#comment_modify_input_"+comment_id);
		var update_btn = $("#comment_update_btn_"+comment_id);

		comment_content.show();
		modify_box.hide();
		modify_input.val(comment_text).blur();
		update_btn.css("background-color","#dbdbdb");

		$("#comment_modify_btn_"+comment_id).show();
		$("#comment_modify_cancel_btn_"+comment_id).hide();
	}

	function comment_update(comment_id){
		var comment_content = $("#comment_content_"+comment_id);
		var comment_text = comment_content.find("span:eq(0)").text();
		var modify_box = $("#comment_modify_box_"+comment_id);
		var modify_input = $("#comment_modify_input_"+comment_id);
		var update_btn = $("#comment_update_btn_"+comment_id);

    var content = modify_input.val();
    if( content == "" || content == null ){
      notify('내용을 입력해주세요.');
      return;
    } else if ( content == comment_text ) {
			notify('내용을 수정해주세요.');
      return;
		} else {
			$.ajax({
				url: "/comments/"+comment_id+".json",
				type: 'PUT',
				data: {'content': content},
				dataType: 'json',
				error: function(){
					return false;
				},
				success: function(data){
					comment_content.find("span:eq(0)").html(content);
          link_tagging(content, $('#comment_content_'+comment_id+' .comment_content'));
					comment_content.show();
					modify_box.hide();
					modify_input.html(comment_content.find("span:eq(0)").text()).blur();
					update_btn.css("background-color","#dbdbdb");

					$("#comment_modify_btn_"+comment_id).show();
					$("#comment_modify_cancel_btn_"+comment_id).hide();

					notify("수정 완료");
				},
				beforeSend: function(){
          progressStart();
					// $(".loading").show();
				},
				complete: function(){
          progressEnd();
					// $(".loading").hide();
				}
			});
		}
	}

	function comment_reply(ask_id, comment_id){
		var this_vote = $.grep(my_votes, function(obj) { return obj.ask_id === ask_id });
		var ask_user_id = $.grep(asks, function(obj) {return obj.id == ask_id})[0].user_id;
		if (current_user_id == 0){
			notify("회원가입 후<br />의견을 남길 수 있습니다.");
		} else if ( this_vote.length == 0 && current_user_id != ask_user_id ) {
			var card_open_st = $("#ask_"+ask_id).offset().top - 110;
			$("html, body").animate({scrollTop:card_open_st},250);
			notify("투표 참여 후<br />의견을 남길 수 있습니다.");
		} else {
			var reply_box = $("#reply_comment_box_"+comment_id);
			var reply_input = $("#reply_comment_input_"+comment_id);
			var update_btn = $("#send_reply_comment_btn_"+comment_id);

			var reply_box_width = $($("#comment_"+comment_id+" div")[0]).outerWidth() + 15;

			reply_box.slideDown(100);
			reply_input.focus();
			reply_box.css("width",reply_box_width).css("max-width",reply_box_width).css("min-width","60%");

			$("#comment_reply_btn_"+comment_id).hide();
			$("#comment_reply_cancel_btn_"+comment_id).show();

			reply_input.on("keypress",function(e){
				if (e.keyCode == "13") {
					e.preventDefault();
					update_btn.click();
				}
			}).on("keyup",function(){
				if( reply_input.val().length > 0 ) {
					update_btn.css('background-color','#ee6e01');
				} else {
					update_btn.css('background-color','#dbdbdb');
				}
			});
		}
	}

	function comment_reply_cancel(comment_id){
		var reply_box = $("#reply_comment_box_"+comment_id);
		var reply_input = $("#reply_comment_input_"+comment_id);
		var update_btn = $("#send_reply_comment_btn_"+comment_id);

    reply_box.slideUp(100);
		reply_input.blur();
		update_btn.css("background-color","#dbdbdb");

		$("#comment_reply_btn_"+comment_id).show();
		$("#comment_reply_cancel_btn_"+comment_id).hide();
	}

	function send_reply_comment(ask_id, ask_deal_id, comment_id, is_left){
			var content = $("#reply_comment_input_"+comment_id).val();
			if( content == "" || content == null ){
				notify('내용을 입력해주세요.');
				return false;
			}
			$.ajax({
		        url: "/comments.json",
		        type: 'POST',
		        data: {'content': content, 'ask_id':ask_id, 'ask_deal_id':ask_deal_id, 'comment_id':comment_id },
		        dataType: 'json',
            async: false,  // 코멘트 중복 전송을 방지
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message = "success"){
                ask.comments.push(data.comment);
		        		$("#comment_"+comment_id+"_reply_list").append(replyCommentListTemplate({ask:data.ask, comment:data.comment}));
                link_tagging(data.comment.content, $('#comment_content_'+data.comment.id+' .comment_content'));
		        		notify("작성 완료");
								comment_reply_cancel(comment_id);
		        		$("#reply_comment_input_"+comment_id).val("");
                $("#send_reply_comment_btn_"+comment_id).css("background-color","#dbdbdb");
                $("#reply_comment_input_"+comment_id).blur();

		        		if (is_left){
		        			var left_ask_deal_comment_count = $("#left_ask_deal_comment_count_"+data.comment.ask_id);
		        			left_ask_deal_comment_count.html( parseInt(left_ask_deal_comment_count.html()) + 1 );
                  ask.left_ask_deal.comment_count = ask.left_ask_deal.comment_count + 1;
		        		}else{
		        			var right_ask_deal_comment_count = $("#right_ask_deal_comment_count_"+data.comment.ask_id);
		        			right_ask_deal_comment_count.html( parseInt(right_ask_deal_comment_count.html()) + 1 );
                  ask.right_ask_deal.comment_count = ask.right_ask_deal.comment_count + 1;
		        		}
								btn_text_hide(data.comment.id);
		        	}else{
		        		notify("댓글은 회원만 작성 가능합니다");
		        	}
		        },
		        beforeSend: function(){
              progressStart();
		       		// $(".loading").show();
		        },
		        complete: function(){
              progressEnd();
		        	// $(".loading").hide();
		        }
			});
	}

	function btn_text_hide(comment_id) {
		if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
			$("#comment_"+comment_id).children("p").find(".btn_text_"+comment_id).show();
		} else {
			$("#comment_"+comment_id).hover(function(){$(this).children("p").find(".btn_text_"+comment_id).show()},function(){$(this).children("p").find(".btn_text_"+comment_id).hide()});
		}
	}
	function btn_text_hide_all(ask_id) {
		var ask = $.grep(asks, function(obj) { return obj.id === ask_id })[0];
		for (var i=0; i < ask.comments.length; i++) {
			btn_text_hide(ask.comments[i].id);
		}
	}

	function ask_deal_id_change(ask_id, left_ask_deal_id, right_ask_deal_id){
		if (ask_deal_text == "left"){
      ask_deal_text = "right";
			$("#ask_deal_id_change_"+ask_id).find("i").removeClass("fa-align-left").addClass("fa-align-right");
			$("#send_comment_btn_"+ask_id).attr("onclick", "send_comment("+ask_id+", "+right_ask_deal_id+"); return false;");
		}else{
      ask_deal_text = "left";
			$("#ask_deal_id_change_"+ask_id).find("i").removeClass("fa-align-right").addClass("fa-align-left");
			$("#send_comment_btn_"+ask_id).attr("onclick", "send_comment("+ask_id+", "+left_ask_deal_id+"); return false;");
		}
	}

	function visitor_new_ask() {
		notify('회원가입 후<br />질문을 올릴 수 있습니다.');
		setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
		setTimeout('window.location.assign("/etc/landing")',2500);
	}

</script>
