<div id="category_overlay">
	<div style="position:absolute; top:-55px; left:0; width:60px; height:50px; background-color:#4b3d3d; text-align:center;">
		<a href="#" onclick="category_off(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;">
			<i class="fa fa-remove" style="color: #fff; font-size: 26px; padding-top: 11px;"></i>
		</a>
	</div>
	<div style="position:absolute; top:-10px; left:28px; border-bottom:10px solid #998674; border-right:7px solid transparent; border-left:7px solid transparent;"></div>
	<div style="box-sizing:border-box; width:100%; background-color:#f4f4f4; border:3px solid #998674; border-radius:5px; overflow:hidden;">
		<p style="margin:0; height:40px; line-height:40px; font-size:16px; font-weight:bold; color:#fff; background-color:#998674; text-align:center;">관심사 설정</p>
		<div style="padding:10px 8px;">
			<table cellspacing="0" cellpadding="4">
				<tr>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(1); return false;"><img id="category_img_1" style="width:100%; display:block;" src="/images/category/1_<%= @user_categories.include?(1) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
            <a href="#" onclick="category_toggle(7); return false;"><img id="category_img_7" style="width:100%; display:block;" src="/images/category/7_<%= @user_categories.include?(7) ? 'on' : "off" %>.png"></a>
          </td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(2); return false;"><img id="category_img_2" style="width:100%; display:block;" src="/images/category/2_<%= @user_categories.include?(2) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(3); return false;"><img id="category_img_3" style="width:100%; display:block;" src="/images/category/3_<%= @user_categories.include?(3) ? 'on' : "off" %>.png"></a>
					</td>
				</tr>
				<tr>
				  <td style="width:25%;">
            <a href="#" onclick="category_toggle(4); return false;"><img id="category_img_4" style="width:100%; display:block;" src="/images/category/4_<%= @user_categories.include?(4) ? 'on' : "off" %>.png"></a>
          </td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(5); return false;"><img id="category_img_5" style="width:100%; display:block;" src="/images/category/5_<%= @user_categories.include?(5) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(6); return false;"><img id="category_img_6" style="width:100%; display:block;" src="/images/category/6_<%= @user_categories.include?(6) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
            <a href="#" onclick="category_toggle(11); return false;"><img id="category_img_11" style="width:100%; display:block;" src="/images/category/11_<%= @user_categories.include?(11) ? 'on' : "off" %>.png"></a>
          </td>
				</tr>
				<tr>
				  <td style="width:25%;">
            <a href="#" onclick="category_toggle(8); return false;"><img id="category_img_8" style="width:100%; display:block;" src="/images/category/8_<%= @user_categories.include?(8) ? 'on' : "off" %>.png"></a>
          </td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(9); return false;"><img id="category_img_9" style="width:100%; display:block;" src="/images/category/9_<%= @user_categories.include?(9) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(10); return false;"><img id="category_img_10" style="width:100%; display:block;" src="/images/category/10_<%= @user_categories.include?(10) ? 'on' : "off" %>.png"></a>
					</td>
					<td style="width:25%;">
						<a href="#" onclick="category_toggle(12); return false;"><img id="category_img_12" style="width:100%; display:block;" src="/images/category/12_<%= @user_categories.include?(12) ? 'on' : "off" %>.png"></a>
					</td>
				</tr>
			</table>
		</div>
		<p style="margin:0; padding:0px 15px 10px; font-size:12px; color:#9d9ea1;"><i class="fa fa-info-circle" style="font-size:13px;"></i>&nbsp;본인의 관심사만 선택하여 둘러볼 수 있습니다.</p>
		<table cellspacing="0" cellpadding="0" style="width:100%; background-color:#fff; border-top:1px solid #dbdbdb; text-align:center;">
			<tr>
				<td style="width:50%;">
					<a href="#" onclick="select_all_toggle(); return false;" style="display:block; width:100%; padding:14px 0; color:#383838; font-size:14px; border-right:1px solid #dbdbdb;">
						<img src="/images/category/all.png"  style="width:18px; margin-bottom:-1px; "/>
						<span id="category_all_span">
							<%= @user_categories.length == 12 ? '전체해제' : '전체선택' %>
						</span>
					</a>
				</td>
				<td style="width:50%;">
					<a href="#" onclick="submit_category(); return false;" style="display:block; width:100%; padding:14px 0; color:#ee6e01; font-size:14px;">
						<i class="fa fa-bookmark"></i>&nbsp;적용하기
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>

<script>

	var user_categories = <%=raw @user_categories.to_json %>;
	var change_user_categories = <%=raw @user_categories.to_json %>;
	function category_on(){
		$("body").css("overflow","hidden");
		$("#category_overlay").fadeIn(100);
		$("#footer").fadeIn(100);
		$("#menu_pc_bg").show();
		$("#menu_bg").fadeIn(100);

		$("#user_overlay").hide();
		$("#search_overlay").hide();
		$('#search_input').val("");
		$("#keyword_reset_btn").hide();
	}

	function category_off(){
		$("body").css("overflow","auto");
		$("#category_overlay").fadeOut(300);
		$("#footer").fadeOut(300);
		$("#menu_pc_bg").hide();
		$("#menu_bg").fadeOut(300);
		category_reset();
	}

	$("#menu_bg, #menu_pc_bg").on("click",function(){ category_off(); return false; });

	function category_toggle(category_id){

		<% if current_user %>
			if($.inArray(category_id, change_user_categories) > -1){
				$("#category_img_"+category_id).attr("src","/images/category/"+category_id+"_off.png");
				change_user_categories = jQuery.grep(change_user_categories, function(value) { return value != category_id; });
			}else{
				$("#category_img_"+category_id).attr("src","/images/category/"+category_id+"_on.png");
				change_user_categories.push(category_id)
			}
			if (change_user_categories.length == 12){
				$("#category_all_span").html("전체해제");
			}
		<% else %>
		 	notify("회원가입 후<br />관심사를 설정할 수 있습니다.");
			setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
			setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
		<% end %>
	}

	function category_reset(){
		change_user_categories = user_categories;
		for(var i=0; i < 12; i++) {
			index = i + 1;
			if($.inArray(index, change_user_categories) > -1){
				$("#category_img_"+index).attr("src","/images/category/"+index+"_on.png");
			}else{
				$("#category_img_"+index).attr("src","/images/category/"+index+"_off.png");
			}
		}
	}

	function select_all_toggle(){
		<% if current_user %>
			if (change_user_categories.length == 12){
				$("#category_all_span").html("전체선택");
				change_user_categories = []
				for(var i=0; i < 12; i++) {
					index = i + 1;
					$("#category_img_"+index).attr("src","/images/category/"+index+"_off.png");
				}
			}else{
				$("#category_all_span").html("전체해제");
				change_user_categories = [1,2,3,4,5,6,7,8,9,10,11,12];
				for(var i=0; i < 12; i++) {
					index = i + 1;
					$("#category_img_"+index).attr("src","/images/category/"+index+"_on.png");
				}
			}
		<% else %>
      notify("회원가입 후<br />관심사를 설정할 수 있습니다.");
      setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
      setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
		<% end %>
	}

	function submit_category(){
		<% if current_user %>
			window.location = "/home/set_category?category_ids="+change_user_categories;
		<% else %>
      notify("회원가입 후<br />관심사를 설정할 수 있습니다.");
      setTimeout("notify('<i class=\"fa fa-spinner fa-spin\"></i>&nbsp;회원가입 화면으로 이동합니다.')",1500);
      setTimeout('window.location.assign("http://vaskit.kr/etc/landing")',2500);
		<% end %>
	}

</script>
