<div id="user_overlay" style="width:inherit; position:fixed; top:48px; z-index:13; display:none; background:#f4f4f4;">
	<div style="width:100%; background:#f4f4f4; text-align:left;">
		<div style="width:60px; height:48px; position:absolute; top:-48px; right:0px; background-color:#4b3d3d; text-align:center;">
			<a href="#" onclick="user_off(); return false;"><img style="width:26px; padding:12px 10px; margin-bottom:-4px; margin-right:4px;" src="/images/header/menu_off.png" /></a>
		</div>
		<div style="position:absolute; top:-8px; right:26px; border-bottom:8px solid #998674; border-right:6px solid transparent; border-left:6px solid transparent;"></div>
		<p style="margin:0; padding:10px; font-size:18px; font-weight:bold; color:#fff; background-color:#998674; text-align:center;">마이페이지</p>
		<p style="margin:0; padding:15px;">
		 	<span style="color:#998674;">@<%= current_user.string_id %></span>님, 환영합니다!
		 	<a href="/users/manage" style="float:right;"><img style="width:22px;" src="/images/common/setting_btn.png"></a>
		</p>
		<div style="padding:0 12px;">
			<div style="width:100%; background:#998675; text-align:center; color:#fff; font-size:16px; line-height:40px; position:relative;">
				히스토리
			</div>
			<table cellspacing="0" cellpadding="0" style="border:1px solid #dbdbdb; border-top:none; width:100%; text-align:center; background-color:#fff;">
				<tr>
					<td style="width:5%;"></td>
					<td style="width:30%; padding:10px 0;">
						<a href="/?type=my_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;"><%= @my_ask_count %></a>
						<a href="/?type=my_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Asks</a>
					</td>
					<td style="width:30%;">
						<a href="/?type=vote_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;"><%= @my_vote_count %></a>
						<a href="/?type=vote_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Votes</a>
					</td>
					<td style="width:30%;">
						<a href="/?type=comment_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;"><%= @my_comment_count %></a>
						<a href="/?type=comment_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Comments</a>
					</td>
					<td style="width:5%;"></td>
				</tr>
			</table>

			<a href="/?type=my_ask_in_progress" style="display:block; width:100%; background:#998675; text-align:center; color:#fff; font-size:16px; line-height:40px; position:relative; margin-top:16px;">
				진행 중인 질문 (<%= @in_progress_count%>)
			</a>

			<a href="/alrams" style="display:block; width:100%; background:#998675; text-align:center; color:#fff; font-size:16px; line-height:40px; position:relative; margin-top:16px;">
				알림피드 (<%= @alram_count > 15 ? "15+": @alram_count.to_s %>)
			</a>
		</div>
		<div style="padding:16px 12px 16px 12px; margin:0; font-size:12px; color:#9d9ea0; text-align:left; line-height:22px;">
			<a href="#" onclick="alert('준비중입니다.')" style="color:#9d9ea0;"><span style="color:#988574; font-size:15px; font-weight:bold;">- ABOUT US :</span> 저희가 도대체 뭐하는 사람들이냐구요?</a><br />
			<a href="/etc/inquiry" style="color:#9d9ea0;"><span style="color:#988574; font-size:15px; font-weight:bold;">- CONTACT US :</span> 혹시 불편하신 점이 있으신가요? 말씀해주세요!</a> <br />
			<a href="#" onclick="alert('준비중입니다.')" style="color:#9d9ea0;"><span style="color:#988574; font-size:15px; font-weight:bold;">- AGREEMENT :</span> 당신의 소중한 개인정보, 이렇게 지켜드립니다!</a> <br />
			<a href="#" onclick="alert('준비중입니다.')" style="color:#9d9ea0;"><span style="color:#988574; font-size:15px; font-weight:bold;">- FAQ, HELP :</span> 사용법이 어려우신가요? 도와드리겠습니다!</a>
		</div>
	</div>
</div>

<script>
	<% if flash[:custom_notice] %>
		notify('<%=flash[:custom_notice]%>');
	<% end %>

	function user_on(){
		search_input_off();
		category_off();
		disableScroll();
		$("#user_overlay").show();
		$("#menu_pc_bg").show();
		$("#menu_bg").show();
	}

	function user_off(){
		enableScroll();
		$("#user_overlay").hide();
		$("#menu_pc_bg").hide();
		$("#menu_bg").hide();
	}

</script>
