<% if current_user %>
	<div id="user_overlay">
		<div style="position:absolute; top:-50px; right:0; width:60px; height:50px; background-color:#4b3d3d; text-align:center;">
			<a href="#" onclick="back_button(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-right:10px;">
				<i class="fa fa-remove" style="color: #fff; font-size: 26px; padding-top: 11px;"></i>
			</a>
		</div>
		<div style="position:absolute; top:-10px; right:28px; border-bottom:10px solid #998674; border-right:7px solid transparent; border-left:7px solid transparent;"></div>
		<div id="user_overlay_title" style="margin:0; height:40px; line-height:40px; font-size:16px; font-weight:bold; color:#fff; background-color:#998674; text-align:left; border:5px solid #998674; border-bottom:none;">
			<a id="user_id" href="#" onclick="user_on(); return false;" style="margin-left:12px; padding:6px 6px 3px; color:#998674; background-color:#fff; border-radius:5px;"></a>
			<span id="user_path" style="margin-left:5px; font-size:13px; font-weight:normal; color:#fff;">
				&gt;&nbsp;My Page
			</span>
			<a id="manage_on" href="#" onclick="manage_on(); return false;" style="position:absolute; right:10px; width:40px; height:40px; text-align:center; color:#fff; font-size:20px; transition:transform .2s;"><i class="fa fa-gear" style="padding-top:10px;"></i></a>
		</div>
		<div id="user_overlay_wrap" style="box-sizing:border-box; width:100%; height:calc(100% - 45px); background-color:#f4f4f4; border:5px solid #998674; border-top:none; overflow:hidden;">
			<div id="user_overlay_seg" style="height:100%; overflow-y:auto; -webkit-overflow-scrolling:touch;"></div>
		</div>
	</div>

	<script type="text/template" id="user_overlay_seg_template">
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px 10px 0;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				나의 활동이력
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">당신의 발자취&nbsp;<i class="fa fa-paw"></i></span>
			</p>
			{{ if (in_progress_count > 0) { }}
				<a href="#" onclick="go_url('/?type=my_ask_in_progress'); return false;" style="display:block; width:100%; background-color:#998675; text-align:center; color:#fff; line-height:40px; position:relative; margin:10px 0; border-radius:5px;">
					<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;진행 중인 질문 ({{= in_progress_count }}개)
				</a>
			{{ }else{ }}
				<a href="#" onclick="go_url('/asks/new'); return false;" style="display:block; width:100%; background-color:rgba(238,110,1,0.8); text-align:center; color:#fff; line-height:40px; position:relative; margin:10px 0; border-radius:5px;">
					<i class="fa fa-plus-circle"></i>&nbsp;새로운 질문을 작성해보시겠어요?
				</a>
			{{ } }}
			<a href="#" onclick="go_url('/?type=my_like_ask'); return false;" style="display:block; width:100%; background-color:#998675; text-align:center; color:#fff; line-height:40px; position:relative; margin:10px 0; border-radius:5px;">
				<i class="fa fa-heart"></i>&nbsp;공감한 질문 ({{= my_like_ask_count }}개)
			</a>
			<div style="width:100%; background:#998675; text-align:center; color:#fff; line-height:40px; position:relative; border-radius:5px 5px 0 0;">
				히스토리
			</div>
			<table cellspacing="0" cellpadding="0" style="border:1px solid #dbdbdb; border-top:none; width:100%; text-align:center; background-color:#fff; border-radius:0 0 5px 5px;">
				<tr>
					<td style="width:5%;"></td>
					<td style="width:30%; padding:10px 0;">
						<a href="#" onclick="go_url('/?type=my_ask'); return false;" style="display:block; color:#666; font-size:22px; line-height:24px; margin:0;">{{= my_ask_count }}</a>
						<a href="#" onclick="go_url('/?type=my_ask'); return false;" style="display:block; color:#9d9ea1; font-size:12px; line-height:12px; margin:0;">Asks</a>
					</td>
					<td style="width:30%;">
						<a href="#" onclick="go_url('/?type=vote_ask'); return false;" style="display:block; color:#666; font-size:22px; line-height:24px; margin:0;">{{= my_vote_count }}</a>
						<a href="#" onclick="go_url('/?type=vote_ask'); return false;" style="display:block; color:#9d9ea1; font-size:12px; line-height:12px; margin:0;">Votes</a>
					</td>
					<td style="width:30%;">
						<a href="#" onclick="go_url('/?type=comment_ask'); return false;" style="display:block; color:#666; font-size:22px; line-height:24px; margin:0;">{{= my_comment_count }}</a>
						<a href="#" onclick="go_url('/?type=comment_ask'); return false;" style="display:block; color:#9d9ea1; font-size:12px; line-height:12px; margin:0;">Comments</a>
					</td>
					<td style="width:5%;"></td>
				</tr>
			</table>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px 10px 20px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				알림피드 <span id="alram_feed_count" style="font-size:12px; color:{{= alram_count > 0 ? '#ee6e01' : '#666' }}; font-weight:normal;">{{=alram_count}}개</span>
				{{ if (alram_count > 0) { }}
					<a id="all_read" href="#" onclick="all_read(); return false;" style="padding-top:2px; color:#ee6e01; font-size:12px; font-weight:normal; float:right;"><i class="fa fa-bookmark"></i>&nbsp;모두 읽음으로 표시</a>
				{{ } }}
					<span id="already_all_read" style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right; display:{{= alram_count > 0 ? 'none' : 'block'}}">다른 이들과 소통해보세요!</span>
			</p>
			<div id="alram_list" style="border:1px solid #dbdbdb; border-top:none; border-bottom:none; overflow:hidden;">
			{{ if (alrams == 0) { }}
				<p style="padding:40px; margin:0; font-size:13px; text-align:center; color:#666; background-color:#fff; border-bottom:1px solid #dbdbdb;">새로운 알림피드가 없습니다</p>
			{{ } else { }}
				{{ for(var i=0; i < alrams.length; i++) { }}
					{{ var alram = alrams[i] }}
					{{ var send_user = send_users[i] }}
					{{ var comment_owner_user = comment_owner_users[i] }}
					{{ var ask_owner_user = ask_owner_users[i] }}
					{{ var left_ask_thumbnail = left_ask_thumbnails[i] }}
					{{ var right_ask_thumbnail = right_ask_thumbnails[i] }}
					{{ if (alram.alram_type.match("vote_")) { }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							<i class="fa fa-check-circle-o" style="color: #666;"></i>&nbsp;회원님의 질문에 <span style="color:#998674;">{{= alram.alram_type.replace("vote_", "" )}}명</span>이 투표하였습니다. 중간점검 해보세요!
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("like_ask_")) { }}
						{{ ask_like_count = alram.alram_type.replace("like_ask_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							{{ if (ask_like_count == 1) { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님이 회원님의 질문에 공감합니다.
							{{ } else { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= ask_like_count - 1 }}명</span>이 회원님의 질문에 공감합니다.
							{{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("like_comment_")) { }}
						{{ comment_like_count = alram.alram_type.replace("like_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							{{ if (comment_like_count == 1) { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님이 회원님의 의견을 좋아합니다.
							{{ } else { }}
								<i class="fa fa-heart-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= comment_like_count - 1 }}명</span>이 회원님의 의견을 좋아합니다.
							{{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("reply_comment_")) { }}
						{{ reply_comment_count = alram.alram_type.replace("reply_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							{{ if (reply_comment_count == 1) { }}
								<i class="fa fa-comments-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님이 회원님의 의견에 댓글을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-comments-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= reply_comment_count - 1 }}명</span>이 회원님의 의견에 댓글을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("reply_sub_comment_")) { }}
					  {{ reply_sub_comment_count = alram.alram_type.replace("reply_sub_comment_","") }}
					  <a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
						  {{ if (reply_sub_comment_count == 1) { }}
						    <i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님도 <span style="color:#998674;">{{=comment_owner_user}}</span>님의 의견에 댓글을 남겼습니다.
						  {{ } else { }}
						    <i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= reply_sub_comment_count - 1 }}명</span>도 <span style="color:#998674;">{{=comment_owner_user}}</span>님의 의견에 댓글을 남겼습니다.
						  {{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
					  </a>
					{{ } else if (alram.alram_type.match("sub_comment_")) { }}
						{{ sub_comment_count = alram.alram_type.replace("sub_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							{{ if (sub_comment_count == 1) { }}
								<i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님도 <span style="color:#998674;">{{=ask_owner_user}}</span>님의 질문에 의견을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-comment-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= sub_comment_count - 1 }}명</span>도 <span style="color:#998674;">{{=ask_owner_user}}</span>님의 질문에 의견을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } else if (alram.alram_type.match("comment_")) { }}
						{{ comment_count = alram.alram_type.replace("comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" class="table_div" style="margin-bottom:0; background-color:{{= alram.is_read ? '#fff' : 'rgba(255,228,169,0.6)' }}; color:#666; border-bottom:1px solid #dbdbdb; display:block; padding:10px 115px 10px 15px; min-height:42px; text-align:left; transition:all .5s;">
							{{ if (comment_count == 1) { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님이 회원님의 질문에 의견을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{=send_user}}</span>님 외 <span style="color:#998674;">{{= comment_count - 1 }}명</span>이 회원님의 질문에 의견을 남겼습니다.
							{{ } }}
							<div class="table_div" style="margin:5px; width:100px; height:50px; position:absolute; top:0; right:0; overflow:hidden; border:1px solid {{=alram.is_read ? '#dbdbdb' : '#998674'}}; border-radius:5px;">
								<img src="{{= get_image_url(left_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
								<img src="{{= get_image_url(right_ask_thumbnail, 'ask_deals', 'normal') }}" style="width:50%; float:left; box-sizing:border-box;">
							</div>
							<span style="color:#9d9ea1; font-size:12px; position:absolute; bottom:5px; right:115px;">{{= get_past_time(alram.updated_at) }}</span>
						</a>
					{{ } }}
				{{ } }}
			{{ } }}
			</div>
		</div>
	</script>

	<script type="text/template" id="user_overlay_seg_template_manage">
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px 10px 0;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				계정 설정
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">웰컴! <%= current_user.email %></span>
			</p>
			<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:40px;"><i class="fa fa-user"></i>&nbsp;닉네임 변경</p>
			<div class="table_div" style="margin-bottom:0px; border:1px solid #dbdbdb;">
				<input id="string_id_input" type="text" class="etc_input_box" placeholder="닉네임을 입력해주세요" value="<%= current_user.string_id %>" style="background-color:#fff;"/>
				<a id="string_id_change_btn" href="#" onclick="change_string_id(); return false;" style="position:absolute; top:0; right:0; width:50px; height:40px; line-height:40px; background-color:#dbdbdb; display:inline-block; text-align:center; color:#fff; font-size:13px;">변경</a>
			</div>
			<a href="#" onclick="window.open('/users/change_password', 'VASKIT 비밀번호 변경', 'width=500, height=420'); return false;" style="color:#666; display:inline-block; padding:0 10px; height:40px; line-height:40px; float:right;"><i class="fa fa-lock"></i>&nbsp;비밀번호 변경</a>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				알림 설정
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">...귀찮게 하지 않을게요!</span>
			</p>
			<div>
				<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:40px;"><i class="fa fa-envelope-o"></i>&nbsp;이메일 알림</p>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-bullhorn"></i>&nbsp;주요 공지사항</span>
					<a id="receive_notice_btn" href="#" onclick="toggle_receive_notice(); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.receive_notice_email ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-bar-chart"></i>&nbsp;주간 리포트</span>
					<a href="#" onclick="notify('준비중이에요 T_T'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/off_btn.png" style="display:block; width:40px;"></a>
				</div>
			</div>
			<div>
				<p style="margin:0; color:#666; padding:0 10px; height:40px; line-height:40px;"><i class="fa fa-bell-o"></i>&nbsp;VASKIT 알림</p>
				<p style="margin:0; color:#9d9ea1; padding:0 10px; height:30px; line-height:30px;">나의 질문 관련 알림</p>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-heart-o"></i>&nbsp;좋아요 알림</span>
					<a id="alram_1_btn" href="#" onclick="toggle_alram_option('alram_1'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_1 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-check-circle-o"></i>&nbsp;득표수 알림</span>
					<a id="alram_2_btn" href="#" onclick="toggle_alram_option('alram_2'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_2 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-send-o"></i>&nbsp;새로운 의견 알림</span>
					<a id="alram_3_btn" href="#" onclick="toggle_alram_option('alram_3'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_3 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<p style="margin:0; color:#9d9ea1; padding:0 10px; height:30px; line-height:30px;">나의 의견 관련 알림</p>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-heart-o"></i>&nbsp;좋아요 알림</span>
					<a id="alram_4_btn" href="#" onclick="toggle_alram_option('alram_4'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_4 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb; border-bottom:none;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-comments-o"></i>&nbsp;답글 알림</span>
					<a id="alram_5_btn" href="#" onclick="toggle_alram_option('alram_5'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_5 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
				<div style="position:relative; background-color:#fff; padding:10px; border:1px solid #dbdbdb;">
					<span style="font-size:12px; color:#666;"><i class="fa fa-comment-o"></i>&nbsp;다른 의견 알림</span>
					<a id="alram_6_btn" href="#" onclick="toggle_alram_option('alram_6'); return false;" style="position:absolute; top:3px; right:7px;"><img src="/images/custom/<%= current_user.alram_6 ? "on" : "off" %>_btn.png" style="display:block; width:40px;"></a>
				</div>
			</div>
		</div>
		<div class="table_div" style="margin-bottom:0; font-size:13px; text-align:left; padding:10px;">
			<p style="font-size:15px; font-weight:bold; color:#4b3d3d; margin:0; padding:10px 10px 5px; border-bottom:1px solid #998674;">
				접근 금지&nbsp;<i class="fa fa-ban"></i>
				<span style="color:#666; font-size:12px; font-weight:normal; font-style:italic; padding-top:3px; float:right;">지...금 절 떠나려는건가요?!!</span>
			</p>
			<a data-method="delete" rel="nofollow" href="/users/sign_out" style="color:#666; display:inline-block; padding:0 10px; height:40px; line-height:40px;" data-confirm="정말로 로그아웃 하실건가요?"><i class="fa fa-sign-out"></i>&nbsp;로그아웃</a>
			<a href="#" onclick="alert('준비중입니다. 회원탈퇴가 꼭 필요하신 경우 VASKIT 고객센터 notice@vaskit.kr로 연락 부탁드립니다.'); return false;" style="color:#9d9ea1; display:inline-block; padding:0 10px; height:40px; line-height:40px; float:right;"><i class="fa fa-plug"></i>&nbsp;회원 탈퇴</a>
		</div>
	</script>

	<script>
		<% if flash[:custom_notice] %>
			notify('<%=flash[:custom_notice]%>'.replace('\n','<br>'));
		<% end %>

		var current_user_string_id;

		function user_on(){
			disableScroll();
			$("#user_overlay").fadeIn(100);
			$("#menu_pc_bg").show();
			$("#menu_bg").fadeIn(100);

			$("#category_overlay").hide();
			$("#search_overlay").hide();
			$('#search_input').val("");
			$("#keyword_reset_btn").hide();

			$.ajax({
		    url: "/users/get_user_data.json",
		    type: "GET",
		    data: {},
		    dataType: 'json',
		    error: function(){
		      return false;
		    },
		    success: function(data){
					current_user_string_id = data.current_user_string_id;
		      my_ask_count = data.my_ask_count;
		      my_vote_count = data.my_vote_count;
		      my_comment_count = data.my_comment_count;
		      in_progress_count = data.in_progress_count;
					my_like_ask_count = data.my_like_ask_count;
		      alrams = data.alrams;
					alram_count = data.alram_count;
					send_users = data.send_users;
					ask_owner_users = data.ask_owner_users;
					comment_owner_users = data.comment_owner_users;
					left_ask_thumbnails = data.left_ask_thumbnails;
					right_ask_thumbnails = data.right_ask_thumbnails;
					$("#user_id").html('<i class="fa fa-user"></i>&nbsp;'+current_user_string_id);
					var userOverlaySegTemplate = _.template($('#user_overlay_seg_template').html());
					$("#user_overlay_seg").html(userOverlaySegTemplate({alrams:alrams, comment_owner_users:comment_owner_users, ask_owner_users:ask_owner_users, send_users:send_users}));
					$("#alram_feed_count").html(alram_count+"개");
					alram_check();
		    },
		    beforeSend: function(){
		    },
		    complete: function(){
					(is_category_opened || is_search_input_opened || (is_alram_opened && !is_card_opened)) ? history.replaceState(null, null, "#"+current_user_string_id) : history.pushState(null, null, "#"+current_user_string_id);
			    is_user_opened = true;
					overlay_st = $(window).scrollTop();
		    }
		  });

			$("#user_path").html("&gt;&nbsp;My Page");
			$("#manage_on").css("transform","scale(1)").css("-webkit-transform","scale(1)");
			$("#user_overlay_seg").scrollTop(0);
		}

		function user_off(){
			is_user_opened = false;
			if (is_alram_opened && !is_card_opened) {
				card_detail_off(opened_ask_id);
				is_alram_opened = false;
			} else {
				window.scrollTo(0,overlay_st);
			}

			enableScroll();
			$("#user_overlay").fadeOut(300);
			$("#menu_pc_bg").hide();
			$("#menu_bg").fadeOut(300);
			$("#user_path").html();
			$("#user_overlay_seg").html();
			alram_check();
		}

		function all_read(){
			$.ajax({
						url: '/alrams/all_read.json',
						type: 'PUT',
						data: {'blank':'blank'},
						error: function(){
								return false;
						},
						success: function(data){
							$("#alram_list a").css("background-color","#fff");
							$("#alram_feed_count").html("0개").css("color","#666");
							$("#already_all_read").show();
							$("#all_read").remove();
						},
						beforeSend: function(){
							progressStart();
						},
						complete: function(){
              progressEnd();
						}
			});
		}

		function alram_go_url(alram_id, ask_id){
			if (document.location.pathname != "/") {
				go_url("/asks/" + ask_id);
			} else {
				if (is_card_opened) {
					card_detail_off(opened_ask_id);
				} else if (!is_alram_opened) {
					card_open_st = $(window).scrollTop();
				};
				$.ajax({
					url: '/alrams/read.json',
					type: 'PUT',
					data: {'id': alram_id, 'ask_id': ask_id},
					error: function(){
						return false;
					},
					success: function(data){
						$("#alram_"+alram_id).css("background-color","#fff");
						if (parseInt($("#alram_feed_count").html()) > 0) $("#alram_feed_count").html( parseInt($("#alram_feed_count").html()) - 1 + "개");
						user_off();
						ask = data.ask;
						asks.push(ask);

						history.pushState(null, null, "#"+ask.id+"_detail");
						is_more_asks = false;
						is_card_opened = true;
						is_alram_opened = true;
						opened_ask_id = ask.id;
						// card_open_st = $("#ask_"+ask_id).offset().top - 60;
						$("#endless_loading").hide();
						$("#asks").hide();
						$("#ask_detail").show().html(askTemplate({ask: ask}));

						hash_tagging(ask.message, $("#ask_"+ask.id+"_message_text"));
						link_tagging(ask.message, $("#ask_"+ask.id+"_message_text"));
						hover_action(ask.id);

						// ask = $.grep(asks, function(obj) { return obj.id === ask_id })[0];
						$("#mini_new_comment_"+ask.id).slideUp(200);
						show_detail_vote_count(ask.id);
						// $("#ask_deal_"+ask_id+"_table").html(askDealTableTemplate({ask: ask}));
						$("#ask_deal_"+ask.id+"_table").slideDown(200);
						tooltip_box(ask.id);
						$("#ask_"+ask.id+"_message_more").click();
						$("#ask_"+ask.id+"_comment").html(askCommentTemplate({ask: ask}));
						for (i=0; i<ask.comments.length; i++) {
							var comment = ask.comments[i];
							link_tagging(comment.content, $('#comment_content_'+comment.id+' .comment_content'), true);
						};
						comment_input_setting(ask.id, ask.user);
						$("#ask_"+ask.id+"_detail_btn").html(askDetailBtnTemplate({ask: ask}));

						$("#search").hide();
						$(".home-float-btn-area").hide();

						// $("#ask_box_"+ask_id).removeClass("ask_box");
						// $(".ask_box").hide();
						$("html, body").animate({scrollTop:0},0,function(){
							$("#detail_vote_count_"+ask.id+", #ask_deal_"+ask.id+"_table, #ask_"+ask.id+"_comment").slideDown(500);
						});

						$("#category_button:visible").hide();
						$("#back_button").show().attr("onclick","back_button(); return false;");
						$(".chat_bubble").css("margin-top","15px");

						ga('send', 'event', '질문별/상세화면 오픈 횟수', 'detail_view_opened', ask.id.toString(), 1);
						ga('send', 'event', '유저별/상세화면 오픈 횟수', 'detail_view_per_user', current_user_id.toString(), 1);
					},
					beforeSend: function(){
					},
					complete: function(){
						if (parseInt($("#alram_feed_count").html()) == 0) {
							$("#alram_feed_count").css("color","#666");
							$("#already_all_read").show();
							$("#all_read").remove();
						}
					}
				});
			}
		}

		function manage_on() {
			$("#user_path").html("<span style='cursor:pointer'>&gt;&nbsp;My Page</span>&nbsp;&gt;&nbsp;Settings");
			$("#manage_on").css("transform","scale(0)").css("-webkit-transform","scale(0)");
			var userOverlaySegTemplate = _.template($('#user_overlay_seg_template_manage').html());
	    $("#user_overlay_seg").html(userOverlaySegTemplate());
			$("#user_overlay_seg").scrollTop(0);

			var keyPressed = [];
			$("#string_id_input").keydown(function(e) {
        keyPressed[e.keyCode] = true;
        if (keyPressed[13]) {
          e.preventDefault();
          $("#string_id_change_btn").click();
          keyPressed = [];
        }
      }).keyup(function(e) {
				ready_to_submit();
      });

			$("#menu_pc_bg").show();
			$("#menu_bg").show();
		}

		function manage_off() {
			$("#user_id").html('<i class="fa fa-user"></i>&nbsp;'+current_user_string_id);
			var userOverlaySegTemplate = _.template($('#user_overlay_seg_template').html());
			$("#user_overlay_seg").html(userOverlaySegTemplate({alrams:alrams, ask_owner_users:ask_owner_users, send_users:send_users}));
			alram_check();
			$("#user_path").html("&gt;&nbsp;My Page");
			$("#manage_on").css("transform","scale(1)").css("-webkit-transform","scale(1)");
			$("#user_overlay_seg").scrollTop(0);

			$("#menu_pc_bg").show();
			$("#menu_bg").show();
		}

		function ready_to_submit() {
			if ( $("#string_id_input").val() != "" && $("#string_id_input").val() != current_user_string_id ) {
				$("#string_id_change_btn").css("background-color","#f18b33");
			} else {
				$("#string_id_change_btn").css("background-color","#9d9ea1");
			}
		}

		function change_string_id(){
			var english = /^[a-z0-9]*$/;
			var string_id = $("#string_id_input").val();
			if ( string_id == "" || string_id == null ){
				notify("빈칸입니다!<br>새로운 닉네임을 입력해 주세요");
			} else if ( string_id == current_user_string_id ) {
				notify("사용중인 닉네임을 입력하셨어요<br>새로운 닉네임을 입력해 주세요");
			} else if( !english.test(string_id) ) {
				notify("닉네임은 영문 소문자 및 숫자만<br>입력 가능합니다 T_T");
			} else {
				$.ajax({
			        url: '/users/change_nickname.json',
			        data: {"string_id": string_id} ,
			        type: 'PUT',
			        error: function(){
			            return false;
			        },
			        success: function(data){
			        	if (data.status == "success"){
									current_user_string_id = data.new_string_id;
									$("#user_id").html('<i class="fa fa-user"></i>&nbsp;'+current_user_string_id);
									$("#string_id_change_btn").css("background-color","#9d9ea1");
			        		notify("타-다! "+current_user_string_id+"님!<br>닉네임이 변경되었습니다");
			        	} else {
			        		notify("이미 사용중인 닉네임입니다 T_T<br>새로운 닉네임을 입력해 주세요");
			        	}
			        },
			        beforeSend: function(){
								progressStart();
		          },
		          complete: function(){
	              progressEnd();
								$("#string_id_input").blur();
		          }
				});
			}
		}

		function toggle_receive_notice(){
			$.ajax({
		        url: '/users/toggle_receive_notice.json',
		        data: {"blank": 'blank'},
		        type: 'PUT',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message == "receive"){
		        		$("#receive_notice_btn img").attr("src","/images/custom/on_btn.png");
		        		notify("이메일 수신 동의 처리되었습니다");
		        	}else{
		        		$("#receive_notice_btn img").attr("src","/images/custom/off_btn.png");
		        		notify("이메일 수신 거부 처리되었습니다");
		        	}
		        },
		        beforeSend: function(){
							progressStart();
            },
            complete: function(){
              progressEnd();
            }
			});
		}

		function toggle_alram_option(alram_option){
			$.ajax({
		        url: '/users/toggle_alram_option.json',
		        data: {"alram_option": alram_option},
		        type: 'PUT',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message == "on"){
		        		$("#"+alram_option+"_btn img").attr("src","/images/custom/on_btn.png");
		        		notify("알람 수신 동의 처리되었습니다");
		        	}else{
		        		$("#"+alram_option+"_btn img").attr("src","/images/custom/off_btn.png");
		        		notify("알람 수신 거부 처리되었습니다");
		        	}
		        },
		        beforeSend: function(){
							progressStart();
            },
            complete: function(){
              progressEnd();
            }
			});
		}

	</script>
<% end %>
