<% if @related_collections.nil? %>
  <li class="list-group-item list-group-item-danger" style="margin-top: 10px;">
    먼저 키워드를 추가해주세요
  </li>
<% elsif @related_collections.blank? %>
  <li class="list-group-item list-group-item-warning" style="margin-top: 10px;">
    연관컬렉션이 아직 없습니다<br>
    키워드를 잘 추가해주세요
  </li>
<% else %>
  <li class="list-group-item list-group-item-info" style="margin-top: 10px;">
    <%= @related_collections.length %>개의 연관컬렉션이 예상됩니다
  </li>
  <% index = 0 %>
  <% @related_collections.each do |collection| %>
      <li class="list-group-item">
      <p>
        <span class="label label-info"><%= collection.id %></span>
        <% if !collection.published_at %>
          <span class="label label-danger">미발행</span>
        <% elsif index < 5 %>
          <% index += 1 %>
          <span class="label label-primary">노출됨</span>
        <% else %>
          <span class="label label-warning">노출되지 않음</span>
        <% end %>
        <span class="label label-default"><%= collection.name %></span>
      </p>
      <% collection_keyword_ids = params[:keyword_ids].split(" ") %>
      <% collection.collection_keywords.each do |keyword| %>
        <% if collection_keyword_ids.include?(keyword.id.to_s) %>
          <%= link_to "<button type='button' class='btn btn-success'>
                         #{keyword.keyword}
                       </button>".html_safe,
                       '#',
                       { onclick: "return false;" } %>
        <% else %>
          <%= link_to "<button type='button' class='btn btn-default'>
                         #{keyword.keyword}
                       </button>".html_safe,
                       '#',
                       { onclick: "select_keyword('#{keyword.keyword}'); return false;" } %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
