<tr>
    <td class="three-column">
        <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
        <tr>
        <td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[0] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[1] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[2] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        <tr>
        <td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[3] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[4] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="200" valign="top">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <%= content_lines[5] %>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>
