<%= render :partial => "common_partial/header_1", :locals => {:title => "계정관리"} %>
<%= render :partial => "common_partial/user" %>

<div style="padding:14px 14px 10px 14px;">
	<p style="font-size:16px; font-weight:bold; color:#9d9ea0; margin:0; text-align:left;">계정 설정</p>
	<table cellspacing="0" cellpadding="0" style="width:100%; margin-top:12px;">
		<tr>
			<td>
				<a style="width:50px; height:32px; line-height:32px; color:#383838;font-size:14px; display:inline-block; text-align:left;">닉네임</a>
			</td>
			<td style="width:100%;">
				<input id="string_id_input" type="text" class="comment_box" placeholder="닉네임을 입력해주세요." value="<%= current_user.string_id %>" style="height:40px;" />
			</td>
			<td style="">
				<a id="send_comment_btn" href="#" onclick="change_string_id(); return false;" style="width:50px; height:40px; line-height:40px; background-color:#998675; display:inline-block; color:#fff; font-size:13px;">변경</a>
			</td>
		</tr>
		<tr>
			<td style="padding-top:8px;">
				<a style="width:50px; height:32px; line-height:32px; color:#383838;font-size:14px; display:inline-block; text-align:left; ">이메일</a>
			</td>
			<td colspan="2" style="width:100%; padding-top:8px;">
				<input type="text" class="comment_box" style="height:40px; border-right:1px solid #dbdbdb;" disabled value="<%= current_user.email %>"/>
			</td>
		</tr>
	</table>

	<a href="/users/edit" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding:14px 0 30px 0;">비밀번호 변경</a>
	<p style="font-size:16px; font-weight:bold; color:#9d9ea0; margin:0; text-align:left;">알림 설정</p>
	<p style="font-size:12px; color:#383838; margin:0; padding:10px 0 0 0; text-align:left;">이메일 알림</p>
</div>
<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
	<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">주요 공지사항</span>
	<a id="receive_notice_btn" href="#" onclick="toggle_receive_notice(); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/<%= current_user.receive_notice_email ? "on" : "off" %>_btn.png" style="width:40px;"></a>
</div>

<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
	<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">주간 리포트</span>
	<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
</div>

<div style="padding:14px 14px 10px 14px; text-align:left; border-top:1px solid #dbdbdb;">
	<p style="font-size:12px; color:#383838; margin:0; text-align:left;">VASKIT 알림</p>
</div>


<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
	<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">나의 질문 득표 알림</span>
	<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
</div>

<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
	<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">나의 질문 댓글 알림</span>
	<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
</div>

<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; position:relative;">
	<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">기타 알림</span>
	<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
</div>

<div style="padding:14px 14px 10px 14px;">
	<a data-method="delete" rel="nofollow" href="/users/sign_out" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding-top:30px;">로그아웃</a>
	<a href="#" onclick="alert('준비중입니다. 회원탈퇴가 꼭 필요하신 경우 VASKIT 고객센터 notice@vaskit.kr로 연락 부탁드립니다.')" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding:6px 0 30px 0;">회원 탈퇴</a>
</div>

<script>
	<% if flash[:custom_notice] %>
		notify('<%=flash[:custom_notice]%>');
	<% end %>
	function change_string_id(){
		var english = /^[a-z0-9]*$/;
		var string_id = $("#string_id_input").val();
		if ( string_id == "" || string_id == null ){
			notify("변경할 닉네임을 입력해 주세요.");
		}else if( !english.test(string_id) ){
			notify("닉네임은 영문 소문자 및 숫자만 입력 가능합니다.");
		}else{
			$.ajax({
		        url: '/users/change_nickname.json',
		        data: {"string_id": string_id} ,
		        type: 'PUT',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.status == "success"){
		        		notify("변경 완료");
		        	}else{
		        		notify("이미 있는 닉네임입니다");
		        	}

		        },
		        beforeSend: function(){
		        	$(".loading").show();
	            },
	            complete: function(){
	            	$(".loading").hide();
	            }
			});
		}
	}

	function toggle_receive_notice(){
		$.ajax({
	        url: '/users/toggle_receive_notice.json',
	        data: {"blank": 'blank'},
	        type: 'PUT',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	if (data.message == "receive"){
	        		$("#receive_notice_btn img").attr("src","/images/etc/on_btn.png");
	        		notify("이메일 받기 완료");
	        	}else{
	        		$("#receive_notice_btn img").attr("src","/images/etc/off_btn.png");
	        		notify("이메일 받기 취소");
	        	}

	        },
	        beforeSend: function(){
	        	$(".loading").show();
            },
            complete: function(){
            	$(".loading").hide();
            }
		});
	}

</script>
