<%= render :partial => "common_partial/header_1", :locals => {:title => "로그인"} %>

<p class="chat_bubble">
  Welcome Back! 다시 돌아오신 것을 환영합니다.<br>
  어서 VASKIT하러 가자구요! 현기증 난단 말이에요~
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_form"}) do |f| %>
  	<%= devise_error_messages! %>
	<div class="content_box" style="padding:10px; margin:15px 12px; text-align:left;">
		<%= f.email_field :email, :placeholder => "가입하신 이메일주소를 입력해주세요.", :class => "registrations_input" %>
		<%= f.password_field :password, :placeholder => "설정하신 비밀번호를 입력해주세요.", :class => "registrations_input" %>
		<a href="#" onclick="sign_in_submit(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#4b3d3d; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px;">
			<i class="fa fa-sign-in"></i>&nbsp;로그인
		</a>
	</div>
	<%= f.hidden_field :remember_me, :value => 1 %>
<% end %>


<script>

  <% if flash[:alert] != nil %>
      alert("이메일/아이디 또는 비밀번호가 다릅니다. \n다시한번 확인해 주세요.")
  <% end %>

	$('#user_password').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	sign_in_submit();
      	}
	});

	function sign_in_submit(){
		if ($("#user_email").val() == ""){
			notify('이메일을 입력해 주세요.');
			return;
		}

		<% unless resource.facebook_id %>
			if ($("#user_password").val() == ""){
				notify('비밀번호를 입력해 주세요.');
				return;
			}
		<% end %>

		$("#sign_in_form").submit();
	}

</script>
