<%= render :partial => "common_partial/header_1", :locals => {:title => "로그인"} %>

<p style="margin:0; text-align:left; color:#383838; font-size:12px; padding:14px 10px 4px 10px; line-height:15px;">
나의 고민에 대한 질문을 올려보고 싶으신가요?<br />
투표 결과를 분석하거나, 남겨진 의견을 읽어보고 싶은가요?<br />
당신만의 히스토리를 남겨 언제든 다시 뒤져볼 수도 있습니다
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "sign_in_form"}) do |f| %>
  	<%= devise_error_messages! %>
	<div style="padding:0 10px; text-align:left;">
		<%= f.email_field :email, :placeholder => "이메일주소(example@naver.com)", :class => "registrations_input" %>
		<%= f.password_field :password, :placeholder => "비밀번호", :class => "registrations_input" %>
		
		<a href="#" onclick="sign_in_submit(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:20px 0 10px 0; height:36px; line-height:36px; text-align:center;">
			<img src="/images/common/submit_btn.png" style="width:18px; margin-bottom:-1px;" />
			&nbsp;로그인
		</a>
	</div>
	<%= f.hidden_field :remember_me, :value => 1 %>
<% end %>


<script>

	$('#user_password').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	sign_in_submit();
      	}
	});

	function sign_in_submit(){
		if ($("#user_email").val() == ""){
			notify('이메일을 입력해 주세요.');
			return;
		}
		
		<% unless resource.facebook_id %>
			if ($("#user_password").val() == ""){
				notify('비밀번호를 입력해 주세요.');
				return;
			}
		<% end %>
		
		$("#sign_in_form").submit();
	}
	
</script>
