<div class="jumbotron clearfix">
  <h1>컬렉션 목록</h1>
  <p>컬렉션을 생성하거나 수정, 발행할 수 있습니다</p>
  <%= link_to '새로운 컬렉션 생성하기',
              new_admin_collection_path,
              { class: 'btn btn-success btn-lg pull-right' } %>
</div>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">컬렉션 전체목록</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 5%;">ID</th>
          <th style="width: 5%;">이미지</th>
          <th style="width: 10%;">제목</th>
          <th style="width: 10%;">설명</th>
          <th style="width: 10%;">생성일</th>
          <th style="width: 10%;">컨텐츠</th>
          <th style="width: 10%;">키워드</th>
          <th style="width: 10%;">연관컬렉션</th>
          <th style="width: 10%;">조회</th>
          <th style="width: 10%;">수정</th>
          <th style="width: 10%;">발행</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr class="<%= 'success' unless collection.show %>">
            <th><kbd><%= collection.id %></kbd></th>
            <td><%= image_tag collection.image.url(:original), width: '100%' %></td>
            <td><%= collection.name %></td>
            <td><%= tagging_keywords(collection.description) %></td>
            <td class="text-center"><%= format_datetime(collection.updated_at, 'past') %></td>
            <td><%= link_to "#{collection.asks.count}개", admin_collection_path(collection.id), class: 'btn btn-default btn-block' %></td>
            <td><%= link_to "#{collection.collection_keywords.count}개", admin_collection_path(collection.id), class: 'btn btn-default btn-block' %></td>
            <td><%= link_to "#{collection.find_related_collections.count}개", admin_collection_path(collection.id), class: 'btn btn-default btn-block' %></td>
            <td><%= link_to '조회', admin_collection_path(collection.id), class: 'btn btn-info btn-block' %></td>
            <td><%= link_to '수정', edit_admin_collection_path(collection.id), class: 'btn btn-warning btn-block' %></td>
            <td>
              <% if collection.show %>
                <%= link_to '발행취소', admin_collection_path(collection.id), { class: 'btn btn-danger btn-block', method: :delete, data: { confirm: '정말로 발행을 취소하시겠어요?', disable_with: '취소중...' } } %>
              <% else %>
                <%= link_to '발행하기', admin_collection_path(collection.id), { class: 'btn btn-success btn-block', method: :delete, data: { confirm: '정말로 발행하시겠어요?', disable_with: '발행중...' } } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- Table Pagination -->
  <div class="panel-footer text-center">
    <%= paginate @collections %>
  </div>
</div>
