<div class="jumbotron clearfix">
  <h1><kbd><%= @collection.id %>번</kbd> 컬렉션</h1>
  <p>컬렉션을 생성하거나 수정, 삭제할 수 있습니다</p>
  <%= link_to '목록으로',
              admin_collections_path,
              { class: 'btn btn-default btn-lg' } %>
  <div class="pull-right">
    <%= link_to '링크열기',
                collection_path(@collection.id),
                { class: 'btn btn-default btn-lg', target: '_blank' } %>
    <%= link_to '수정하기',
                edit_admin_collection_path(@collection.id),
                { class: 'btn btn-warning btn-lg' } %>
    <% if @collection.show %>
      <%= link_to '발행취소', admin_collection_path(@collection.id), { class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: '정말로 발행을 취소하시겠어요?', disable_with: '취소중...' } } %>
    <% else %>
      <%= link_to '발행하기', admin_collection_path(@collection.id), { class: 'btn btn-success btn-lg', method: :delete, data: { confirm: '정말로 발행하시겠어요?', disable_with: '발행중...' } } %>
    <% end %>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        컬렉션 내용
      </a>
    </div>
    <!-- Table -->
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th style="width: 100px;">제목</th>
            <td><%= @collection.name %></td>
          </tr>
          <tr>
            <th>설명</th>
            <td><%= tagging_keywords(@collection.description) %></td>
          </tr>
          <tr>
            <th>키워드</th>
            <td>
              <% if @collection.collection_keywords.blank? %>
                키워드를 추가해주세요
              <% else %>
                <% @collection.collection_keywords.each do |keyword| %>
                  <span class="label label-danger"><%= keyword.keyword %></span>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>게시일</th>
            <td><%= format_datetime(@collection.created_at, :date) %></td>
          </tr>
          <tr>
            <th>이미지</th>
            <td><%= image_tag @collection.image.url(:original), width: '100%' %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        연관 컬렉션 <span class="badge pull-right"><%= "#{@related_collections.length}개" %></span>
      </a>
    </div>

    <!-- Table -->
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-bordered">
          <% if @related_collections.blank? %>
            <tr>
              <th style="width: 100px;">연관컬렉션</th>
              <td>키워드를 더 추가해주세요</td>
            </tr>
          <% else %>
            <% @related_collections.each_with_index do |id, index| %>
              <tr>
                <th style="width: 100px;">연관 컬렉션 <%= index + 1 %></th>
                <td>
                  <% collection = Collection.find(id) %>
                  <dl>
                    <dt><%= collection.name %></dt>
                    <dd><%= collection.description %></dd>
                  </dl>
                  <%= image_tag collection.image.url(:normal),
                                { width: '100%', class: 'img-thumbnail' } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading" role="tab">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        포함된 컨텐츠 <span class="badge pull-right"><%= "#{@collection.asks.length}개" %></span>
      </a>
    </div>

    <!-- Table -->
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-bordered">
          <% if @collection.asks.blank? %>
            <tr>
              <th style="width: 100px;">컨텐츠</th>
              <td>컨텐츠를 추가해주세요</td>
            </tr>
          <% else %>
            <% @collection.asks.each_with_index do |ask, index| %>
              <tr>
                <th style="width: 100px;">컨텐츠 <%= index + 1 %></th>
                <td>
                  <dl>
                    <dt><%= ask.user.string_id %>님의 질문</dt>
                    <dd><%= tagging_keywords(ask.message) %></dd>
                  </dl>
                  <%= image_tag ask.left_ask_deal.image.url(:normal),
                                { width: '50%', class: 'img-thumbnail pull-left' } %>
                  <%= image_tag ask.right_ask_deal.image.url(:normal),
                                { width: '50%', class: 'img-thumbnail pull-left' } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
