<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/user_mailer.css" rel="stylesheet" type="text/css">
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
  </head>
  <body>
    <center class="wrapper">
      <%= render '/user_mailer/template/letter_header' %>
      <div class="webkit letter">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
        <td>
        <![endif]-->
        <table class="outer" align="center">
          <% content_body = content_tag(:td, class: 'inner contents main') do %>
            <p class="h1 title">비밀번호 변경 안내</p>
            <p class="substance left">
              <span class="string-id"><%= @resource.string_id %>님, </span> 안녕하세요!<br>
              구매고민을 이야기하는 <span class="vaskit-logo">VASKIT</span>입니다.<br>
              <br>
              로그인 비밀번호 변경을 요청하셨나요?<br>
              비밀번호 변경을 원하시면 아래 링크로 이동하여 새로운 비밀번호를 입력해주세요.<br>
              <%= link_to '비밀번호 변경하러 가기', edit_password_url(@resource, reset_password_token: @token) %><br>
              <br>
              만약 비밀번호 변경을 요청하신 적이 없다면, 이 메일을 무시해주세요.<br>
              새로운 비밀번호를 설정하기 전까지는 고객님의 비밀번호는 변경되지 않을 것이니, 걱정마시구요!<br>
              <br>
              앞으로도 저희 <span class="vaskit-logo">VASKIT</span> 더욱 많이 사랑해주세요 :)<br>
              감사합니다. 오늘도 좋은 하루 보내세요!
            </p>
          <% end %>
          <%= render '/user_mailer/template/template_column_1', content: content_body %>
          <%= render '/user_mailer/template/letter_footer' %>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </div>
      <%= render '/user_mailer/template/letter_sns' %>
    </center>
  </body>
</html>
