<div class="jumbotron clearfix">
  <h1>푸쉬알림 목록</h1>
  <p>푸쉬알림 전송 목록입니다</p>
  <%= link_to '새로운 푸쉬알림 전송하기',
              new_admin_push_path,
              { class: 'btn btn-success btn-lg pull-right' } %>
</div>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">푸쉬알림 히스토리</div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 50px;">ID</th>
          <th style="width: 100px;">구분</th>
          <th>내용</th>
          <th style="width: 80px;">전송 요청</th>
          <th style="width: 80px;">전송 성공</th>
          <th style="width: 80px;">전송 실패</th>
          <th style="width: 120px;">전송일</th>
        </tr>
      </thead>
      <tbody>
        <% @pushes.each do |push| %>
          <tr>
            <td><kbd><%= push.id %></kbd></td>
            <td><%= push.push_type %></td>
            <td><%= simple_format(push.message, {}, wrapper_tag: 'div') %></td>
            <td><%= push.total_count %>개</td>
            <td><%= push.success_count %>개</td>
            <td><%= push.failure_count %>개</td>
            <td><%= format_datetime(push.created_at, :datetime) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- Table Pagination -->
<div class="text-center">
  <%= paginate @pushes %>
</div>
