<%= form_tag({ controller: :notices, action: :create },
            oninput: 'form_check($(this));', onchange: 'form_check($(this));') do %>
  <div class="jumbotron clearfix">
    <h1>푸쉬알림 전송하기</h1>
    <p>푸쉬알림을 전송할 수 있습니다</p>
    <%= link_to '목록으로',
                admin_notices_path,
                { class: 'btn btn-default btn-lg' } %>
    <div class="pull-right">
      <%= link_to '푸시알림 테스트',
                  test_admin_notices_path,
                  remote: true,
                  id: 'push_test_btn',
                  class: 'btn btn-success btn-lg',
                  onclick: 'push_test_send();',
                  data: { disable_with: '<i class="fa fa-spinner fa-spin"></i>' } %>
      <%= submit_tag '푸시알림 전송하기',
                     id: 'push_submit_btn',
                     class: 'btn btn-danger btn-lg',
                     disabled: true,
                     onclick: 'window.onbeforeunload = null;',
                     data: { confirm: '정말로 전송하시겠어요?', disable_with: '전송중...' } %>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">푸쉬알림 전송하기</div>
    <div class="panel-body">
      <div class="form-inputs">
        <div class="form-group">
          <label for="type">1. 푸시 종류 선택</label>
          <%= select_tag :type,
                         '
                          <option value disabled selected>푸쉬 종류를 선택해주세요</option>
                          <optgroup label="컨텐츠 생성">
                            <option value="collection">컬렉션 발행</option>
                            <option value="video">비교영상 발행</option>
                            <option value="event">이벤트 생성</option>
                          </optgroup>
                          <optgroup label="일반">
                            <option value="notice">공지사항</option>
                          </optgroup>
                         '.html_safe,
                         {
                           class: 'form-control required_form',
                           onchange: 'push_type_changed($(this));'
                         } %>
        </div>
        <div class="form-group">
          <label for="target">2. 대상 선택</label>
          <div class="form-group">
            <%= select_tag :target,
                           '
                            <option value disabled selected>대상을 선택해주세요</option>
                            <option value="all">전체 유저</option>
                            <option value="filter">필터 적용</option>
                            <option value="user">특정 유저</option>
                           '.html_safe,
                           {
                             class: 'form-control required_form',
                             onchange: 'push_target_changed($(this));'
                           } %>
          </div>
          <div id="push_target_preview" class="well hidden"></div>
        </div>
        <div class="form-group">
          <label for="msg">3. 푸쉬알림 내용 입력</label>
          <%= text_area_tag :msg,
                            '',
                            {
                              rows: 3,
                              class: 'form-control required_form',
                              placeholder: '전송될 푸쉬알림의 내용을 입력해주세요'
                            } %>
        </div>
        <div class="form-group">
          <label for="link">4. 푸쉬알림 연결 링크 입력</label>
          <p class="help-block">연결할 링크를 입력한 뒤 미리보기 버튼을 누르세요</p>
          <div class="input-group">
            <%= text_field_tag :link,
                               "#{CONFIG['host']}",
                               {
                                 class: 'form-control required_form',
                                 placeholder: '연결할 링크를 입력해주세요',
                                 onchange: "$('#preview_link_btn').click();"
                               } %>
             <span class="input-group-btn">
               <button class="btn btn-default" type="button" onclick="preview_link_reset('VASKIT', $('#link'), $('#js'), $('#push_link_preview'), $('#preview_completed'));"><i class="fa fa-home"></i> 초기화</button>
               <button id="preview_link_btn" class="btn btn-success" type="button" onclick="preview_link('VASKIT', $('#link'), $('#js'), $('#push_link_preview'), $('#preview_completed'));"><i class="fa fa-search"></i> 미리보기</button>
             </span>
          </div>
          <%= check_box_tag 'preview_completed', '', false, class: 'hidden required_form' %>
        </div>
        <div class="form-group">
          <%= text_field_tag :js,
                             '',
                             {
                               class: 'form-control hidden',
                               readonly: true,
                               placeholder: ''
                             } %>
        </div>
        <div id="push_link_preview" class="well hidden">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src=""></iframe>
            <div class="iframe_cover" onclick="window.open($(this).prev('iframe').attr('src'));"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  function push_test_send() {
    var msg = encodeURIComponent($('#msg').val());
    var link = encodeURIComponent($('#link').val());
    var js = encodeURIComponent($('#js').val());
    $('#push_test_btn').attr('href', '<%= test_admin_notices_path %>?msg=' + msg + '&link=' + link + '&js=' + js);
  }

  function push_type_changed() {
    var type_input = $('#type');
    var link_input = $('#link');
    var type = type_input.val();
    if (type == 'collection') {
      link_input.val('<%= "#{collections_url}/#{Collection.last.id}" %>');
    } else if (type == 'video') {
      link_input.val('<%= "#{videos_url}/" %>');
    } else if (type == 'event') {
      link_input.val('<%= "#{asks_url}/#{Event.last.ask_id}" %>');
    } else if (type == 'notice') {
      link_input.val('<%= "#{root_url}" %>');
    }
  }

  function push_target_changed() {
    $.ajax({
      url: '<%= target_admin_notices_path %>',
      type: 'GET',
      data: { target: $('#target').val() },
      beforeSend: function() {
        $('#push_target_preview').removeClass('hidden').html('갱신중...');
      }
    });
  }
</script>
