<!DOCTYPE html>
<html>
  <head>
    <title>VASKIT - admin page</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/logo/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/logo/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logo/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/logo/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/logo/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/logo/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  	<%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to admin_path do %>
            <%= image_tag '/images/logo/favicon/apple-icon-60x60.png', width: 'auto', height: '100%', class: 'navbar-brand' %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="admin-navbar">
          <% if current_user && current_user.user_role == 'admin' %>
            <ul class="nav navbar-nav navbar-left">
              <li class="<%= 'active' if controller_name == 'asks' %>"><%= link_to '댓글 관리', admin_asks_path %></li>
              <li class="<%= 'active' if controller_name == 'collections' %>"><%= link_to '컬렉션', admin_collections_path %></li>
              <li class="<%= 'active' if controller_name == 'videos' %>"><%= link_to '비교영상', admin_videos_path %></li>
              <li class="<%= 'active' if controller_name == 'events' %>"><%= link_to '이벤트', admin_events_path %></li>
              <li class="<%= 'active' if controller_name == 'search_keywords' %>"><%= link_to '인기검색어', admin_search_keywords_path %></li>
              <li class="<%= 'active' if controller_name == 'refer_links' %>"><%= link_to '레퍼런스 링크', admin_refer_links_path %></li>
              <li class="<%= 'active' if controller_name == 'pushes' %>"><%= link_to '푸쉬알림', admin_pushes_path %></li>
              <li class="<%= 'active' if controller_name == 'mails' %>"><%= link_to '메일알림', admin_mails_path %></li>
              <li class="<%= 'active' if controller_name == 'grade_standards' %>"><%= link_to '사용자 등급', admin_grade_standards_path %></li>
              <li class="<%= 'active' if controller_name == 'tables' %>"><%= link_to 'DB조회', admin_tables_path %></li>
              <li class="<%= 'active' if controller_name == 'analysis' %>"><%= link_to '통계분석', admin_analysis_index_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">로그아웃 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header"><%= image_tag current_user.avatar.url(:original), class: 'img-thumbnail' %></li>
                  <li class="dropdown-header"><i class="fa fa-id-card"></i> <%= current_user.string_id %></li>
                  <li class="dropdown-header"><i class="fa fa-envelope"></i> <%= current_user.email %></li>
                  <li class="divider"></li>
                  <li><%= link_to '로그아웃', admin_sign_out_path, { method: :delete, data: { confirm: '로그아웃하시겠어요?' } } %></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <%= simple_form_for User.new,
                                url: admin_sign_in_path,
                                html: { class: 'navbar-form navbar-right' } do |f| %>
              <%= f.input :email,
                          as: :email,
                          error: '',
                          label_html: { class: 'hidden' },
                          input_html: { placeholder: '이메일' } %>
              <%= f.input :password,
                          as: :password,
                          error: '',
                          label_html: { class: 'hidden' },
                          input_html: { placeholder: '비밀번호' } %>
              <%= f.button :submit,
                           '로그인',
                           class: 'btn btn-warning',
                           onclick: 'window.onbeforeunload = null;',
                           data: { disable_with: '로그인...' } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user && current_user.user_role == 'admin' %>
      <div class="container">
        <!-- Breadcrumb -->
        <% if controller_name != 'home' %>
          <ol class="breadcrumb">
            <li><%= link_to 'Home', admin_path %></li>
            <% if action_name == 'index' %>
              <li class="active"><%= controller_name.capitalize %></li>
            <% else %>
              <li><%= link_to controller_name.capitalize, "/#{controller_path}" %></li>
              <li class="active"><%= action_name.capitalize %></li>
              <% if !params[:id].nil? %>
              <li class="active"><%= params[:id] %></li>
              <% end %>
            <% end %>
          </ol>
        <% end %>
        <!-- Flash Message -->
        <% flash.each do |type, message| %>
          <div class="alert <%= bootstrap_for(type)[:type] %> alert-dismissable fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b><%= bootstrap_for(type)[:exclamation] %></b>
            <%= message.html_safe %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="container">
      <!-- Contents -->
      <%= yield %>
    </div>
    <script>
      $(window).ready(function() {
        $(document).find('select').selectric();
        if ($(document).find('.required_form').length > 0) {
          window.onbeforeunload = function(e) {
            var string = '변경사항이 저장되지 않을 수 있습니다';
            e = e || window.event;
            if (e) e.returnValue = string;      // For IE<8 and Firefox prior to version 4
            return string;                      // For Chrome, Safari, IE8+ and Opera 12+
          };
        } else {
          window.onbeforeunload = null;
        }
      });
    </script>
  </body>
</html>
