<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "home/main/meta" %>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/logo/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/logo/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logo/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/logo/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/logo/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/logo/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- <meta name="apple-itunes-app" content="app-id=1188969345, affiliate-data=myAffiliateData, app-argument=myURL"> -->
    <meta name="apple-mobile-web-app-title" content="VASKIT">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="default"> -->

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

    <% if Rails.env == 'production' %>
    <script>
      // ga
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75373901-1', 'auto');
      ga('send', 'pageview');
      // ga
    </script>
    <script>
      // Facebook Pixel Code
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '521318198062554');
      fbq('track', "PageView");
      // End Facebook Pixel Code
    </script>
    <% end %>
    <script>
      // Facebook JavaScript SDK
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=false&version=v2.5&appId=<%=Facebook::CONFIG['app_id']%>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Facebook JavaScript SDK
    </script>

    <script>
      $.cookie('uniq_key', null);
      $.cookie('visitor_uniq_key', null);
      if ($.cookie('visitor_key') === null) $.cookie('visitor_key', '<%= @uniq_key %>', { expires : 30000, path : '/' });
      $.cookie('visitor_votes', null);

      window.onerror = function(msg, url, line, col, obj) {
        href = window.location.href;
        obj = obj === null ? 'obj is null' : obj.stack;
        $.ajax({
              url: "/log_errors.json",
              type: "POST",
              data: { msg: msg, url: url, line: line, col: col, href: href, obj: obj }
        });
        return false;
      };

      // init VASKIT Frame
      $(window).ready(function(){
        loadingStart();
        setUserDevice();
        alarm_check();
        history.replaceState({pageHistory:currentHistory}, null, null);
        $(window).unbind("popstate").bind("popstate", go_popstate);

        $("#collections").html(collectionsTemplate()); // seg1 초기화
        $("#search").html(searchTemplate()); // seg2 초기화
        $("#my_page").html(myPageTemplate()); // seg4 초기화
        go_seg(1); // 기본화면 초기화
      }).load(function(){
        set_collections();
        set_video_asks();
        user_profile_on();
        user_alarms_on();
        setTimeout(function(){
          $(".loading_spinner").animateCssRemove("fadeOut");
          $(".loading_welcome").animateCssRemove("slideOutLeft", function(){
            loadingEnd();
          });
        }, 1000);
        setTimeout(function(){
          open_app_banner();
        }, 2000);
      });
      // End init VASKIT Frame
    </script>
  </head>
  <body data-no-turbolink="true" class="clearfix">
    <div class="background" ontouchmove="return false;"></div>
    <div id="app_banner" class="layout viewer appBanner"></div>
    <div id="main_view" class="layout viewer">
      <div id="seg_1" class="seg seg1" style="transform: translateX(0%);">
        <div id="collections" class="wrapper main"></div>
      </div>
      <div id="seg_2" class="seg seg2" style="transform: translateX(100%);">
        <div id="search" class="wrapper main"></div>
      </div>
      <div id="seg_4" class="seg seg4" style="transform: translateX(200%);">
        <div id="my_page" class="wrapper main"></div>
      </div>
      <div id="footer" class="layout footer" ontouchmove="return false;">
        <a href="/collections" class="tab" style="left:0%;" onclick="go_seg(1); return false;"><i class="tab_icon vaskit_icon seg1"></i></a>
        <a href="/search" class="tab" style="left:25%;" onclick="go_seg(2); return false;"><i class="tab_icon vaskit_icon seg2"></i></a>
        <a href="/asks/new" class="tab" style="left:50%;" onclick="visitor_check(function(){go_url('ask_form')}); return false;"><i class="tab_icon vaskit_icon seg3"></i></a>
        <a id="my_tab" href="/users" class="tab" style="left:75%; display:none;" onclick="go_seg(4); return false;">
          <i class="tab_icon vaskit_icon seg4"></i><i id="my_badge" class="tab_badge animated swing"></i>
        </a>
        <a id="login_tab" href="/landing" class="tab login" style="left:75%; display:none;" onclick="go_url('landing'); return false;">
          <i class="tab_icon vaskit_icon seg4 login"></i>
        </a>
      </div>
    </div>
    <div class="layout notice_div" style="display:none;"><div class="notice_msg"></div></div>
    <div class="layout loading_div" onclick="return false;" ontouchmove="return false;">
      <div class="loading_bar">&nbsp;</div>
      <div class="loading_init">
        <div class="align_middle">
          <div class="loading_spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <div class="loading_welcome animated slideInRight">Welcome to VASKIT!</div>
        </div>
      </div>
    </div>
    <div>
      <%= render partial: "home/main/seg1" %>
      <%= render partial: "home/main/seg2" %>
      <%= render partial: "home/main/seg3" %>
      <%= render partial: "home/main/seg4" %>
      <%= render partial: "home/asks/partial/asks_thumbnail" %>
      <%= render partial: "home/asks/full/ask_detail" %>
      <%= render partial: "home/asks/partial/ask_image" %>
      <%= render partial: "home/asks/partial/comments" %>
      <%= render partial: "home/common/partial/endless_loading" %>
      <%= render partial: "home/common/full/menu" %>
      <%= render partial: "home/common/full/share" %>
      <%= render partial: "home/common/full/image_cropping" %>
      <%= render partial: "home/common/partial/app_banner" %>
      <%= render partial: "home/full/landing" %>
      <%= yield %>
    </div>
  </body>
</html>
