<!DOCTYPE html>
<html>
<head>
  	<title>Vaskit</title>
  	<% if (controller.controller_name == "asks" && controller.action_name == "show") %>
		<meta property="og:title" content="@<%=@ask.user.string_id%>님을 도와주세요! 머리가 빠져가고 있습니다..." />
		<meta property="og:url" content="http://vaskit.nubo.us/asks/<%= @ask.id %>" />
		<meta property="og:description" content="'<%=@ask.left_ask_deal.title%>' vs '<%=@ask.right_ask_deal.title%>', 무엇을 사야 후회하지 않을까요?<center></center>형님, 누님, 친구님들! 저의 결정장애에 도움을 주세요!" />
	
		<meta property="og:image" content="http://vaskit.nubo.us/images/etc/share_image.png" />
		<meta property="fb:app_id" content="1738386856398348" />
		<meta property="og:site_name" content="VASKIT" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="ko_KR" />
	<% end %>
  
  
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  	<script>
		<% unless @uniq_key.blank? %>
			var uniq_key = new Date() + Math.random();
			$.cookie('uniq_key' , "<%= @uniq_key %>", { expires : 30000, path : '/' });
		<% end %>
  	</script>
</head>
<body>
	<div id="flash" class="flash_html" style="display:none;" ></div>
	<div class="loading" style="display:none;">
    	<div>Loading...</div>
  	</div>
  	<div id="wrap">
		<%= yield %>
	</div>
	<!-- <div style="width:500px; background-color:#fff; margin:0 auto; min-height:500px; border:6px solid white; box-shadow:0px 0px 10px rgba(99, 99, 99, 0.6); -webkit-box-shadow:0px 0px 10px rgba(99, 99, 99, 0.6); ">
		<%= yield %>
	</div> -->
</body>
</html>
