<!DOCTYPE html>
<html>
<head>
  	<title>VASKIT</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="'둘 중에 뭐 사지?' VASKIT에서 당신의 구매고민을 해결해보세요.">
    <meta name="keywords" content="쇼핑, 고민, 구매고민, 결정장애, 햄릿증후군, vs">
  	<% if (controller.controller_name == "asks" && controller.action_name == "show") %>
  		<meta property="og:title" content="<%=@ask.user.string_id%>님을 도와주세요! 머리털이 빠지고 있어요..." />
      <meta property="og:description" content="'<%=@ask.left_ask_deal.title%>' vs '<%=@ask.right_ask_deal.title%>', 무엇을 선택해야 후회하지 않을까요? 결정장애 해결에 도움을 주세요!" />
  		<meta property="og:url" content="http://vaskit.kr/asks/<%= @ask.id %>" />
  		<meta property="og:image" content="http://vaskit.kr/images/etc/share_image.png" />
    <% else %>
      <meta property="og:title" content="'둘 중에 뭐 사지?'" />
      <meta property="og:description" content="VASKIT에서 당신의 구매고민을 해결해보세요." />
      <meta property="og:url" content="http://vaskit.kr/" />
      <meta property="og:image" content="http://vaskit.kr/images/etc/logo_3.png" />
    <% end %>
    <meta property="og:site_name" content="VASKIT" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="fb:app_id" content="1738386856398348" />
    <meta name="naver-site-verification" content="9143eeee6bb8d2ff2d19e48a612692a7fc7a6bd9"/>

  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  	<script>
  		<% unless @uniq_key.blank? %>
  			var uniq_key = new Date() + Math.random();
  			$.cookie('uniq_key' , "<%= @uniq_key %>", { expires : 30000, path : '/' });
  		<% end %>
  		window.onbeforeunload = function(){
  			window.scrollTo(0,0);
  		}
  	</script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body data-no-turbolink="true">
	<div id="flash" class="flash_html" style="display:none;"></div>
	<div class="loading" style="display:none;">
    	<div><i class="fa fa-spinner fa-spin"></i>&nbsp;Loading...</div>
	</div>
	<div id="wrap">
		<%= yield %>
	</div>
</body>
</html>
