<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "home/main/meta" %>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/logo/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/logo/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/logo/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/logo/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/logo/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/logo/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/logo/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- <meta name="apple-itunes-app" content="app-id=1188969345, affiliate-data=myAffiliateData, app-argument=myURL"> -->
    <meta name="apple-mobile-web-app-title" content="VASKIT">
    <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="default"> -->

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>

    <script>
        window.onerror = function(msg, url, line, col, obj) {
          href = window.location.href;
          obj = obj == null ? 'obj is null' : obj.stack;
          $.ajax({
                url: "/log_errors.json",
                type: "POST",
                data: { msg: msg, url: url, line: line, col: col, href: href, obj: obj },
                complete: function(){
                  if (confirm("앗! 오류가 발생했습니다...\n앱을 재시작하시겠어요?")) window.location = href;
                }
          });
          return false;
        }
    </script>
  </head>
  <body data-no-turbolink="true" class="clearfix">
    <div class="background" ontouchmove="return false;"></div>
    <div id="app_banner" class="layout viewer appBanner"></div>
    <div id="main_view" class="layout viewer">
      <div id="seg_1" class="seg seg1" style="transform: translateX(0%);">
        <div id="collections" class="wrapper main"></div>
      </div>
      <div id="seg_2" class="seg seg2" style="transform: translateX(100%);">
        <div id="search" class="wrapper main"></div>
      </div>
      <div id="seg_4" class="seg seg4" style="transform: translateX(200%);">
        <div id="my_page" class="wrapper main"></div>
      </div>
      <div id="footer" class="layout footer" ontouchmove="return false;">
        <a href="/collections" class="tab" style="left:0%;" onclick="go_seg(1); return false;"><i class="tab_icon vaskit_icon seg1"></i></a>
        <a href="/search" class="tab" style="left:25%;" onclick="go_seg(2); return false;"><i class="tab_icon vaskit_icon seg2"></i></a>
        <a href="/asks/new" class="tab" style="left:50%;" onclick="visitor_check(function(){go_url('ask_form')}); return false;"><i class="tab_icon vaskit_icon seg3"></i></a>
        <a id="my_tab" href="/users" class="tab" style="left:75%; display:none;" onclick="go_seg(4); return false;">
          <i class="tab_icon vaskit_icon seg4"></i><i id="my_badge" class="tab_badge animated swing"></i>
        </a>
        <a id="login_tab" href="/landing" class="tab login" style="left:75%; display:none;" onclick="go_url('landing'); return false;">
          <i class="tab_icon vaskit_icon seg4 login"></i>
        </a>
      </div>
    </div>
    <div class="layout notice_div" style="display:none;"><div class="notice_msg"></div></div>
    <div class="layout loading_div" onclick="return false;" ontouchmove="return false;"><div class="loading_bar">&nbsp;</div></div>
    <div>
      <%= render :partial => "home/main/seg1" %>
      <%= render :partial => "home/main/seg2" %>
      <%= render :partial => "home/main/seg4" %>
      <%= render :partial => "home/partial/seg_asks" %>
      <%= render :partial => "home/partial/seg_ask_image" %>
      <%= render :partial => "home/partial/seg_comments" %>
      <%= render :partial => "home/partial/seg_menu" %>
      <%= render :partial => "home/partial/seg_user_settings" %>
      <%= render :partial => "home/partial/seg_app_banner" %>
      <%= render :partial => "home/full/seg_image_cropping" %>
      <%= render :partial => "home/full/seg_share" %>
      <%= render :partial => "home/full/seg_ask_detail" %>
      <%= render :partial => "home/full/seg_ask_form" %>
      <%= render :partial => "home/full/seg_login" %>
      <%= yield %>
    </div>
  </body>
</html>
